
      <div class="rightBox position-sticky">
        <div class="rightBox_header d-flex align-items-center">
          <h3>{{releaseDataFromParent.appName}}</h3>
          <!-- {{releaseDataFromParent}} -->
          <!-- <div class="btns_icon d-flex ml-auto">
            <button class="btn p-0"><img src="../../../assets/plus_icon.png" alt="plus" /></button>
            <button class="btn p-0 ml-2"><img src="../../../assets/edit_icon.png" alt="edit" /></button>
          </div> -->
          <!-- /.btns_icon -->
        </div>
        <!-- /.rightBox_header -->
        <div class="rightBox_body">
          <div *ngIf="showRelease && newReleaseData.services.length === 0;">
          <div class="alert alert-danger" role="alert">
                <p>{{newReleaseErrorMessage}}</p>
              </div> 
              <div class="bottom_btns mt-auto bg-white position-sticky text-right">
                  <button class="btn btn-danger" style="color:#fff;" (click)="cancelRelease()">Cancel</button>
               </div>
          </div>
          <div *ngIf="showRelease && newReleaseData.services.length != 0;">
              <div class="form-group form-inline">
                <label class="release-label" for="exampleInputReleaseName">Release Name
                 </label> <input type="text" [(ngModel)]="promoteData.releaseName" class="form-control"
                  id="releaseName">
              </div>
              <div class="form-group form-inline">
                <label class="release-label" for="exampleInputJiraid">Jira Id
                  </label> <input type="text" [(ngModel)]="promoteData.jiraId" class="form-control"
                  id="jiraId">
              </div>
              <div class="form-group form-inline" *ngFor="let environment of newReleaseData.env;let i=index">
                <label class="release-label" for="exampleInputEnvironment">{{environment.key}}
                </label> <input type="text" [(ngModel)]="environment.val" class="form-control"
                  id="environment">
              </div>
              <div class="form-group form-inline">
                
                  <label class="release-label">Source </label> <span class="form-control"> {{newReleaseData.source}} </span>
                
              </div>
              <table class="table table-pet-service mb-0">
                  <thead>
                    <tr>
                      <th>Service Name</th>
                      <th>Image</th>
                      <th>Container tag</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let newRelease of newReleaseData.services;let i= index">
                      <td>	<div class="custom-control custom-checkbox">
                          <input type="checkbox" [(ngModel)]="newRelease.isChecked" class="custom-control-input" id="{{newRelease.serviceName}}">
                          <label class="custom-control-label" for="{{newRelease.serviceName}}">{{newRelease.serviceName}}</label>
                        </div></td>
                      <td><div  [(ngModel)]="newRelease.image">{{newRelease.image}}</div></td>
                        <td>
                          <select class="form-control"  [(ngModel)]="newRelease.latestTag">
                            <option *ngFor="let containers of newRelease.tags" [value]="containers.tag">{{containers.tag}}</option>
                          </select>
                      </td>
                    </tr>
      
                  </tbody>
                </table>
              <div class="bottom_btns mt-auto bg-white position-sticky text-right">
                  <button class="btn btn-danger" style="color:#fff;" (click)="cancelRelease()">Cancel</button>
                &nbsp;&nbsp; <button class="btn btn-primary" [disabled]="promoteStatus" [ngClass]="{'disabled': promoteStatus == true}" (click)="promoteRelease()">Promote</button>
               </div>
          </div>
          <div class="table-responsive" *ngIf="!showRelease">
              <div *ngIf="!showRelease && releaseDataFromParent.releaseErrorMessage != undefined;" class="alert alert-danger" role="alert">
                  <p>{{releaseDataFromParent.releaseErrorMessage}}</p>
                </div> 
            	<div class="form-group form-inline pull-right">
                  <div class=" mt-auto bg-white position-sticky text-right">
                        <button class="btn btn-primary" (click)="newReleaseMethod(releaseDataFromParent.appName)">New Release</button>
                      </div>
                </div>
             
            <table *ngIf="!showRelease && releaseDataFromParent.releaseErrorMessage == undefined;" class="table table-pet-service mb-0">
            <thead>
              <tr>
                <th>Release Name</th>
                <th>Date</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody *ngFor="let release of releaseDataFromParent;let $index = index">
              <tr (click)="Collaps($index,release)">
                <td><i class="fa" [ngClass]="{'fa-angle-up': $index != expandedIndex, 'fa-angle-down': $index === expandedIndex}"></i>    {{release.releaseName}}</td>
                <td>{{release.date | date: 'medium'}}</td>
                <td [ngClass]= "{'text-danger':release.status == 'FAILED','text-success':release.status == 'SUCCESS'}" *ngIf="release.status !== undefined">{{release.status}}</td>
                <td *ngIf="release.status === undefined">N/A</td>
                
              </tr>
                <ng-container *ngIf="$index === expandedIndex">
                <tr>
                    <td colspan="5" class="inner-table">
                      <table class="table">
                        <tr>
                            <td colspan="2" ><small *ngFor="let relInfo of childListData;let i= index">{{relInfo.key}}: <b>{{relInfo.val}}</b><br></small></td>
                            <td  colspan="2"><small>Jira ID: <b>{{release.jiraId}}</b> <br>Source: <b>{{release.source}}</b></small></td>
                          </tr>

                        <tr>
                          <th>Service</th>
                          <th>Image ID</th>
                          <th>Tag</th>
                          <th>Status</th>
                        </tr>
                        <tr *ngFor="let rel of ChildList;let i = index">
                            <td>
                              <a *ngIf = "rel.href !== ''" href="{{rel.href}}" target="_blank">{{rel.serviceName}}</a>
                              <span *ngIf = "rel.href === ''">{{rel.serviceName}}</span>
                            </td>
                            <td>{{rel.image}}</td>
                            <td>{{rel.tag}}</td>
                            <td data-toggle="tooltip" data-placement="top" title="{{rel.details}}">{{rel.staus}}</td>
                            </tr>
                      </table>
                    </td>
                  </tr>
                </ng-container>
            </tbody>
          </table>
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.rightBox_body -->
      </div>
      <!-- /.rightBox -->
  