
      <div class="rightBox position-sticky">
        <div class="rightBox_header d-flex align-items-center">
          <h3>{{application}}</h3>
          <!-- <div class="btns_icon d-flex ml-auto">
            <button class="btn p-0"><img src="../../../assets/plus_icon.png" alt="plus" /></button>
            <button class="btn p-0 ml-2"><img src="../../../assets/edit_icon.png" alt="edit" /></button>
          </div> -->
          <!-- /.btns_icon -->
        </div>
        <!-- /.rightBox_header -->
        <div class="rightBox_body">
          <div *ngIf="showRelease">
              <div class="form-group form-inline">
                <label for="exampleInputReleaseName">Release Name
                  &nbsp;&nbsp;&nbsp;</label> <input type="text" [(ngModel)]="promoteData.releaseName" class="form-control"
                  id="releaseName">
              </div>
              <div class="form-group form-inline">
                <label for="exampleInputJiraid">Jira Id
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> <input type="text" [(ngModel)]="promoteData.jiraId" class="form-control"
                  id="jiraId">
              </div>
              <div class="form-group form-inline" *ngFor="let environment of newReleaseData.env;let i=index">
                <label for="exampleInputEnvironment">{{environment.key}}
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> <input type="text" [(ngModel)]="environment.val" class="form-control"
                  id="environment">
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label>Source </label> {{newReleaseData.source}}
                </div>
              </div>
              <table class="table table-pet-service mb-0">
                  <thead>
                    <tr>
                      <th>Service Name</th>
                      <th>Container id</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let newRelease of newReleaseData.services;let i= index">
                      <td>	<div class="custom-control custom-checkbox">
                          <input type="checkbox" [(ngModel)]="newRelease.isChecked" class="custom-control-input" id="{{newRelease.serviceName}}">
                          <label class="custom-control-label" for="{{newRelease.serviceName}}">{{newRelease.serviceName}}</label>
                        </div></td>
                      <td>
                          <select class="form-control"  [(ngModel)]="newRelease.latestImageId">
                            <option *ngFor="let containers of newRelease.images" [value]="newRelease.latestImageId">{{containers.tags}}</option>
                          </select>
                      </td>
                    </tr>
      
                  </tbody>
                </table>
              <div class="bottom_btns mt-auto bg-white position-sticky text-right">
                  <button class="btn btn-danger" style="color:#fff;" (click)="cancelRelease()">Cancel</button>
                &nbsp;&nbsp; <button class="btn btn-primary" (click)="promoteRelease()">Promote</button>
               </div>
          </div>
          <div class="table-responsive" *ngIf="!showRelease">
            	<div class="form-group form-inline pull-right">
                  <div class=" mt-auto bg-white position-sticky text-right">
                        <button class="btn btn-primary" (click)="newReleaseMethod()">New Release</button>
                      </div>
                </div>
            <table class="table table-pet-service mb-0">
            <thead>
              <tr>
                <th>Release Name</th>
                <th>Date</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody *ngFor="let release of releaseData;let $index = index">
              <tr (click)="Collaps($index,release)">
                <td><i class="fa" [ngClass]="{'fa-angle-up': $index != expandedIndex, 'fa-angle-down': $index === expandedIndex}"></i>    {{release.releaseName}}</td>
                <td>{{release.date | date: 'medium'}}</td>
                <td [ngClass]= "{'text-danger':release.status == 'FAILED','text-success':release.status == 'SUCCESS'}">{{release.status}}</td>
              </tr>
                <ng-container *ngIf="$index === expandedIndex">
               <tr>
                  <th>Service</th>
                  <th>Image Id</th>
                </tr>
                <tr *ngFor="let rel of ChildList;let i = index">
                <td>{{rel.serviceName}}</td>
                <td>{{rel.imageId}}</td>
                </tr>
                </ng-container>
                  <!-- <tr class="collapse" id="collapseExample" *ngFor="let services of release.services;let i = index">
                        <td>{{services.serviceName}}</td>
                        <td>{{services.latestImageId}}</td>
                  </tr> -->
                     
             
            </tbody>
          </table>
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.rightBox_body -->
      </div>
      <!-- /.rightBox -->
  