<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <div id="wrapper">
                <div class="login-reg">
                    <div class="login-reg-body" [@loginanimation]>
                        <div class="container login-reg-container">
                            <div class="card">
                                <div class="card-body">
                                    <div class="lrcb-inner">
                                        <div class="login-reg-icon text-center">
                                            <img src="../../../assets//login-icon.png" class="img-fluid" alt="login" />
                                        </div>
                                        <!-- /.login-reg-icon -->
                                        <h3>Login to your account</h3>
                                        <form [formGroup]="loginForm">
                                            <div class="form-group mb-3">
                                                <label>User Name</label>
                                                <input type="text" class="form-control" placeholder="Username" formControlName="userName" />
                                                <span *ngIf="!loginForm.get('userName').valid && loginForm.get('userName').touched"
                                class="help-block">Username is required</span>
                                            </div>
                                            <!-- /.form-group -->
                                            <div class="form-group mb-3">
                                                <label>Password</label>
                                                <input type="password" class="form-control" formControlName="password"
                                                    placeholder="Enter your password" />
                                                    <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched"
                                                    class="help-block">Password is required</span>
                                            </div>
                                            <!-- /.form-group -->
                                            <div
                                                class="form-group d-flex align-items-center justify-content-between mb-3">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" checked>
                                                    <label class="custom-control-label" for="rememberCheck">Remember
                                                        Me</label>
                                                </div>
                                                <a routerLink="/forgotpassword" class="text-primary text-decoration-none">Forgot
                                                    Password?</a>
                                            </div>
                                            <!-- /.form-group -->
                                            <div class="form-group mb-3">
                                                <button type="submit" class="btn btn-primary btn-block" (click)="onSubmit()" [disabled]="loading">
                                                    <span *ngIf="loading" class="spinner-border spinner-border-sm"></span><span *ngIf="!loading"> Log In</span></button>
                                            </div>
                                            <!-- /.form-group -->
                                            <hr />
                                            <div class="mt-2 text-center text-muted">
                                                Don't have an account? <a routerLink="/register" class="text-primary">Sign Up</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.login-reg-container -->
                    </div>
                    <!-- /.login-reg-body -->
                </div>
                <!-- /.login-reg -->
            </div>
        </div>
    </div>
</div>