<ngx-charts-bar-horizontal
  [view]="view"
  [scheme]="colorScheme"
  [animations]="animations"
  [results]="finalArrayData"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  [roundEdges]="roundEdgesType"
  [xAxisTickFormatting]="axisFormat"
  [barPadding]="22"
  style="fill: #999999;">
</ngx-charts-bar-horizontal>