.showElementHover {
	cursor: pointer !important;
}
.alignCommentBtn{
	    display: flex;
    place-self: flex-end;
}
.alignServices{

	.gateNames{
		display: block;
		font-size: smaller;
		padding: 0px 0px 5px;
		color: #777;
		font-weight: normal;
	}
}
.active{
	font-weight: bold;
}
.leftBox_body table td:first-child{
	padding: 3px 5px 0px !important;
}
.active-service + tr{
	background-color: #ccc;
	td{
		// border: 2px solid #ccc;
		font-weight: bold;
	}	

}
.gateNameSelection{
	// background-color: #eee !important;
	// margin: 1px 5px 4px !important;
	width: -webkit-fill-available;
	td {
		// background-color: #fff !important;
	}
}
.gateNametr{
	background-color: #f1f1f1;
}
.approvalStatus{
	border: 1px solid #eee;
	width: 323px;
	margin-bottom: 20px;
	div{
		background-color: #999;
		color: #fff;
		padding: 5px;
		font-weight: bold;
		display: inline-block;
		width: 120px;
	}
	div + div{
		background-color: #f7f7f7;
		width: 200px;
	}
}
.visibilityCol1{
	width: 10%;
}
.visibilityCol2Git{
	width: 20%;
}
.visibilityCol2Jira{
	width: 10%;
}
.visibilityCol3{
	width: fit-content;
}
.commentsText{
	margin: 10px 15px;
	td{
		padding: 5px;
	}
}
.text-activated{
	color: #007bff;
}
.mw-330 {
	min-width: 330px;
	width: 330px;
	padding-top: 25px;
}
.row-container {
	border: 1px solid red;
}
::ng-deep .gate-search .mat-form-field-underline {
	bottom: 0px !important;
}
::ng-deep .gate-search .mat-form-field-wrapper {
	padding-bottom: 0px !important;
}
.service-list {
    padding: 15px 25px;
}
.serviceBox{
	padding: 5px 10px;
	font-size: 13px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 1px solid rgb(218 218 218);
}
.tcFirstColumn{			//tool connector first column width
	min-width: 120px;
	span{
    font-size: 12px;
    font-weight: normal;
    color: #666;

	}
}

.loader {
	margin-left: 50px;
	border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}