.showElementHover {
	cursor: pointer !important;
}
.alignCommentBtn{
	    display: flex;
    place-self: flex-end;
}
.alignServices{

	.gateNames{
		display: block;
		font-size: smaller;
		padding: 0px 0px 5px;
		color: #777;
		font-weight: normal;
	}
}
.active{
	font-weight: bold;
}
.leftBox_body table td:first-child{
	padding: 3px 5px 0px !important;
}
.active-service + tr{
	background-color: #ccc;
	td{
		// border: 2px solid #ccc;
		font-weight: bold;
	}	

}
.gateNameSelection{
	// background-color: #eee !important;
	margin: 1px 5px 4px !important;
	width: -webkit-fill-available;
	td{
		background-color: #fff !important;
	}
}
.gateNametr{
	background-color: #f1f1f1;
}
.approvalStatus{
	border: 1px solid #eee;
	width: 250px;
	margin-bottom: 20px;
	div{
		background-color: #999;
		color: #eee;
		padding: 5px;
		font-weight: bold;
		display: inline-block;
		width: 120px;
	}
	div + div{
		background-color: #fff;
	}
}
.visibilityCol1{
	width: 10%;
}
.visibilityCol2Git{
	width: 20%;
}
.visibilityCol2Jira{
	width: 10%;
}
.visibilityCol3{
	width: fit-content;
}
.commentsText{
	margin: 10px 15px;
	td{
		padding: 5px;
	}
}
.text-activated{
	color: #007bff;
}