<div class="main_content p-0">
    <div class="d-flex">
        <div class="leftBox mw-330 pt-4">
            <div class="leftBox_header text-muted text-left">
                <form class="example-form">
                  <mat-form-field class="example-full-width gate-search">
                    <input type="text"
                          placeholder="Select Application"
                          aria-label="Number"
                          matInput
                          [formControl]="applicationFormControl"
                          [matAutocomplete]="matAuto">
                    <mat-autocomplete #matAuto="matAutocomplete">
                      <mat-option *ngFor="let selectedApplication of applicationListOptions | async" [value]="selectedApplication" (click)="onSelectingApplication(selectedApplication)">
                        {{selectedApplication}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </form>
            </div>
            <!-- /.leftBox_header -->

            <div class="service-list">
              <div class="table table-sm table-avenir table-no-bordered table-no-dots " *ngIf="serviceList != undefined">
                <!-- <tbody> -->
                  <!-- <tr *ngIf="serviceList.length > 0">
                    <th >Service</th>
                    <th>Status</th>
                  </tr> -->
                <div class="mb-2" *ngFor="let service of serviceList; let i=index;" style="border: 1px solid #e6ecf1;border-radius: 5px;border-radius: 5px;cursor: pointer;" [ngClass]="{'bg-white': service.serviceId == selectedServiceId}"  [ngStyle]="{'box-shadow': service.serviceId == selectedServiceId ? '0 0 3px 1px rgb(47 65 81 / 53%)' : 'rgb(47 65 81 / 20%) 0px 0px 3px 1px'}">
                  <div class="serviceBox" [ngStyle]="{'background': service.serviceId == selectedServiceId ? 'rgb(47 65 81 / 53%)' : 'white', 'color': service.serviceId == selectedServiceId ? 'white' : 'black'}" (click)="onClickService(service)" *ngIf="service.status.status != 'pending'">
                    <span class="service-selection">{{service.serviceName}}
                    </span>
                  </div>
                  <div class="serviceBox" [ngStyle]="{'background': service.serviceId == selectedServiceId ? 'rgb(47 65 81 / 53%)' : 'white', 'color': service.serviceId == selectedServiceId ? 'white' : 'black'}" (click)="servicePending(service)"  *ngIf="service.status.status === 'pending'">
                    <span class="service-selection">{{service.serviceName}}
                    </span></div>
                  <div class="">
                    <div style="padding: 5px 10px; background: white;">
                      <table class="gateNameSelection">
                        <tr>
                          <td>{{service.approvalGateName}} </td>
                          <td style="text-align: right;">
                              <span [ngClass]= "{'text-danger':service.status.status === 'rejected','text-success':service.status.status === 'approved','text-activated':service.status.status === 'activated','text-waiting':service.status.status === 'pending'}"
                                    [title]="service.status.status">
                                <i class="fas" [ngClass]= "{'fa-minus-circle':service.status.status === 'rejected','fa-check-circle':service.status.status === 'approved','fa-unlock':service.status.status === 'activated','fa-spinner':service.status.status === 'pending'}" ></i>
                              </span>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>                   
                </div>                     
                  <div *ngIf="serviceListEmpty">
                    <span align="center">No services!</span>
                  </div>          
                <!-- </tbody> -->
              </div>
            </div>


            <!-- <div class="leftBox_body">
                <table class="table table-sm table-avenir table-no-bordered table-no-dots">
                    <thead>
                        <tr>
                            <th>Service</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr >
                            <td class="alignServices active">CAS-service<span class="gateNames">Gate Name1</span></td>
                            <td width="30" class="text-danger  active">Pending</td>
                        </tr>
                        <tr>
                            <td class="alignServices">CAS-service2<span class="gateNames">Gate Name2</span></td>
                            <td width="30" class="text-success">Approved</td>
                        </tr>

                    </tbody>
                </table>
            </div> -->
            <!-- /.leftBox_body -->
        </div>
        <!-- /.leftBox w-250 -->


      

        <div class="page-content flex-grow-1 bg-white pt-4 pl-4" *ngIf="selectedService != undefined">
            <div class="page_title page_title_inner title_icon px-3 d-flex align-items-center">
                <h3><img src="../../assets/images/application-icon.png" alt="" />{{selectedApplication}} <span *ngIf="selectedService != undefined">» {{selectedService.serviceName}}</span>
                </h3>
                <div class="page_access d-flex ml-auto">
                </div>
                <!-- /.page_access ml-auto -->
            </div>
            <!-- // <div class="content mt-5"> -->
            <!--content inner-->
            <div class="content__inner" >
                <div  class="" style="width: 100%; padding: 25px;">
                    <!--multisteps-form-->
                    <!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
                {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
              </button> -->
                    <!-- <mat-horizontal-stepper [labelPosition]="'bottom'" [linear]="isLinear" #stepper>
                        <mat-step [stepControl]="firstFormGroup">
                            <form>

                            </form>
                         
                        </mat-step>

                    </mat-horizontal-stepper> -->
                    
                    <blockquote class="blockquote">
                      <p class="mb-0">{{selectedService.approvalGateName}} 
                        <span [ngClass]= "{'text-danger':gateStatus === 'rejected','text-success':gateStatus === 'approved','text-activated':gateStatus === 'activated','text-waiting':gateStatus === 'pending'}"
                              [title]="gateStatus">
                          <i class="fas" [ngClass]= "{'fa-minus-circle':gateStatus === 'rejected','fa-check-circle':gateStatus === 'approved','fa-unlock':gateStatus === 'activated','fa-spinner':gateStatus === 'pending'}"></i>
                        </span>
                      </p>
                    </blockquote>
                    <hr class="my-4">
                                <!-- <ng-template matStepLabel>{{selectedService.approvalGateName}}</ng-template> -->
                                <!-- <mat-form-field>
                      <mat-label>Name</mat-label>
                      <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
                    </mat-form-field> -->
                                <!-- Grid row -->
                                <div class="form-group row">
                                    <!-- Default input -->
                                    <!-- <label for="inputEmail3" class="col-sm-1 col-form-label">Owner :</label>
                                    <div class="col-sm-10">
                                        <label class="col-form-label" formControlName="owner">user2</label>
                                    </div> -->
                                </div>

                                <!-- Grid row -->
                                <div class="form-group row" *ngIf="approvalWaitingStatus && !gateStatusPending" >
                                    <!-- Default input -->
                                    <label class="col-sm-1 col-form-label">Comments:</label>
                                    <div class="col-sm-8">
                                        <!-- <textarea class="form-control" rows="3" formControlName="comments"></textarea> -->
                                        <textarea class="form-control" rows="3" name="approvalGateComment" #approvalGateComment="ngModel" ngModel ></textarea>

                                    </div>

                                    <!-- <label class="col-sm-1 col-form-label">Activated:</label>
                                    <div class="col-sm-8">
                                        
                                    </div>

                                    <label class="col-sm-1 col-form-label">Reviewed:</label>
                                    <div class="col-sm-8">
                                         </div> -->

                                    <div class="col-sm-1 mr-2 alignCommentBtn"><button type="button"
                                            class="btn btn-success align-bottom" style="color: #fff;" (click)="approvalGateReview('approve', approvalGateComment)">Approve</button></div>
                                            
                                    <div class="col-sm-1 mr-2 alignCommentBtn"><button type="button"
                                            class="btn btn-danger align-bottom" (click)="approvalGateReview('reject', approvalGateComment)">Reject</button></div>
                                    <div class="p-3"><label class="pr-2" >Activated Time: </label>
                                        <span>{{this.gateActivatedTime | date: "MMM dd, yyyy HH:mm"}}</span>
                                    </div>
                                </div>

                                <div class="form-group row" *ngIf="!approvalWaitingStatus " >
                                  <table class="commentsText" *ngIf="!gateStatusPending">
                                    <tr>
                                      <td><label >Comments:</label></td>
                                      <td>
                                        {{approvalGateComment}}
                                      </td>
                                  </tr>
                                  <tr>
                                      <td><label >Callback URL:</label></td>
                                      <td>
                                        <a href="{{gateApprovalCallBackURL}}">{{gateApprovalCallBackURL}}</a>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td><label >Activated Time:</label></td>
                                      <td>
                                        <!-- {{approvalGateComment}} {{date | date:"dd/MM/yyyy HH:mm"}} -->
                                        {{this.gateActivatedTime | date: "MMM dd, yyyy HH:mm"}}
                                      </td>
                                  </tr>
                                  <tr>
                                      <td><label >Approval Time:</label></td>
                                      <td>
                                        <!-- {{approvalGateComment}} -->
                                        {{this.gateApprovalTime | date: "MMM dd, yyyy HH:mm"}}
                                      </td>
                                  </tr>
                                </table>
                                <table class="commentsText" *ngIf="gateStatusPending">
                                    <tr>
                                      <td colspan="2">This gate is not activated.</td>
                                  </tr>
                                  </table>
                                  
                                    
                                  </div>
                                <!-- Grid row -->


                                <div class="pull-right">
                                </div>
                                
                     
                        <!-- <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
                  <form [formGroup]="secondFormGroup">
                    <mat-form-field>
                      <mat-label>Address</mat-label>
                      <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                             required>
                    </mat-form-field>
                    <div>
                      <button mat-button matStepperPrevious>Back</button>
                      <button mat-button matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step> -->
                        <!-- <mat-step>
                  <ng-template matStepLabel>Done</ng-template>
                  <p>You are now done.</p>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                  </div>
                </mat-step> -->
                </div>
                <!-- <div class="pull-right" *ngIf="!showApprovalHistory">
                    <a style="padding-right: 20px;" class="showElementHover" (click)="getApprovalHistory()">Approval History</a>
                </div> -->
            </div>
           
            <!-- </div> -->
            <!-- /.page-content -->
            <div  class="row no-gutters" *ngIf="!gateStatusPending">
                <div class="col-sm-12 d-flex flex-column">
                    <div class="pt-1">
                      <!--  *ngFor="let connectors of connectorTypes"  -->
                        <ul class="nav tab-lined nav-tabs" id="myTab" role="tablist">
                          <!-- <li>{{connectors}}</li>
                        </ul>
                        <ul> -->
                            <li class="nav-item" *ngFor="let connectors of toolConnectors" >
                                <a class="nav-link" id="{{connectors.connectorType}}" data-toggle="tab" href="#{{connectors.connectorType}}" role="tab"
                                    aria-controls="" aria-selected="false" (click)="onSelectingToolConnector(connectors.connectorType)" [ngClass]="{'active' : connectors.connectorType == selectedConnectorType}">{{connectors.connectorType}}</a> 
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" id="autopilot-tab" data-toggle="tab" href="#autopilot" role="tab"
                                    aria-controls="autopilot" aria-selected="false">Autopilot</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="sonarqube-tab" data-toggle="tab" href="#sonar" role="tab"
                                    aria-controls="sonar" aria-selected="false">Sonarqube</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="jenkins-tab" data-toggle="tab" href="#jenkins" role="tab"
                                    aria-controls="jenkins" aria-selected="false">Jenkins</a>
                            </li> -->
                        </ul>
                        <div class="tab-content" id="myTabContent" *ngIf="showToolConnectorSection">
                            <div class="tab-pane p-4 fade show active" id="{{connectorType}}" role="tabpanel" aria-labelledby="">
                                <div>
                                  <table class="table">
                                    <thead class="thead-light">
                                      <tr *ngIf="selectedConnectorType == 'GIT'">
                                        <!-- <th scope="col" class="visibilityCol1">Type</th> -->
                                        <th scope="col" class="visibilityCol2Git">Commit ID</th>
                                        <th scope="col" class="visibilityCol3">Data</th>
                                      </tr>
                                      <tr *ngIf="selectedConnectorType == 'JIRA'">
                                        <!-- <th scope="col" class="visibilityCol1">Ticket#</th> -->
                                        <th scope="col" class="visibilityCol2Jira">Task ID</th>
                                        <th scope="col" class="visibilityCol3">Data</th>
                                      </tr>
                                      <tr *ngIf="selectedConnectorType == 'AUTOPILOT'">
                                        <!-- <th scope="col" class="visibilityCol1">Type</th> -->
                                        <th scope="col" class="visibilityCol2Jira">Autopilot ID</th>
                                        <th scope="col" class="visibilityCol3">Data</th>
                                      </tr>
                                      <tr *ngIf="selectedConnectorType == 'SONARQUBE'">
                                        <!-- <th scope="col" class="visibilityCol1">Type</th> -->
                                        <th scope="col" class="visibilityCol2Jira">Project Key</th>
                                        <th scope="col" class="visibilityCol3">Data</th>
                                      </tr>
                                      <tr *ngIf="selectedConnectorType == 'JENKINS'">
                                        <!-- <th scope="col" class="visibilityCol1">Type</th> -->
                                        <th scope="col" class="visibilityCol2Jira">Build ID</th>
                                        <th scope="col" class="visibilityCol3">Data</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let eachData of visibilityData"> 
                                        <!-- <td>{{eachData.key}}</td> -->
                                        <td>{{eachData.value}}</td>
                                        <td>{{eachData.data == null ? 'No data to Display' : eachData.data | json}}</td> 
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                                <div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content p-4 text-center" *ngIf="!showToolConnectorSection && !gateStatusPending">Tool Connectors not present!</div>
                    </div>
                    <!-- /.tab-lined -->
                    <!-- /.bottom_btns -->
                </div>
                <!-- /.col-sm-8 -->
            </div>

            <!-- <div *ngIf="showApprovalHistory" class="tab-content h-100 p-3 flex-grow-1">
                <div class="tab-pane d-flex flex-column bg-white h-100 fade show active">
                  <div class="page_access d-flex text-right p-3">
                    <div class="mr-auto">
                      <div class="input-group input-group_search">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="modal-search"><i class="fa fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" />
                      </div>
                    </div>

                    <button class="btn btn-default" (click)="initiateApproval()">New Approval</button>
                  </div>
                  
                  <div class="table-content">
                    <table class="table table-sticky table-striped mb-0">
                      <thead>
                        <tr>
                          <th class="font-weight-bold">ACTION</th>
                          <th class="font-weight-bold">DATE</th>
                          <th class="font-weight-bold">TOTAL TIME</th>
                          <th class="font-weight-bold">APPROVED BY</th>
                          <th class="font-weight-bold">COMMENTS</th>
                          <th class="font-weight-bold">STATUS</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Reassign: &nbsp;
                            <a style="padding-right: 20px;" class="showElementHover text-success" (click)="getApprovalHistory()">Approve</a>
                            <a style="padding-right: 20px;" class="showElementHover text-danger" (click)="getApprovalHistory()">Reject</a></td>
                          <td>9/6/2019 3:33:32 PM</td>
                          <td>2h 30min</td>
                          <td>Satya</td>
                          <td>testing Approval</td>
                          <td>
                           Pending
                          </td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>9/6/2019 3:33:32 PM</td>
                            <td>2h 30min</td>
                            <td>Pranab</td>
                            <td>testing Approval</td>
                            <td>
                             Approved
                            </td>
                          </tr>
                          <tr>
                            <td>-</td>
                            <td>9/6/2019 3:33:32 PM</td>
                            <td>2h 30min</td>
                            <td>Jay</td>
                            <td>testing Approval</td>
                            <td>
                             Approved
                            </td>
                          </tr>
                       
                      </tbody>
                    </table>
                    <div class="table-footer gray-strip px-3 py-2">
                      <div class="form-inline">
                        <span class="mr-2">Per page</span>
                        <select class="form-control">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">25</option>
                        </select>
                        <span class="ml-3 mr-2">Showing 1 to 20 of 187</span>
                        <input type="text" class="form-control mr-2" />
                        <button class="btn btn-primary">Go</button>

                        <ul class="pagination ml-auto mb-0">
                          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                          <li class="page-item active"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->

        </div>
    </div>
    <!-- /.main_content -->

</div>
<!-- /.content_section -->
<!-- /#wrapper -->