<div [class.sub-row]="title"> 
    <p>{{ title }}</p>
    <mat-table [dataSource]="dataSource" 
               multiTemplateDataRows>
  
      <!-- COLUMNS AND ROWS-->
      <ng-container *ngFor="let key of displayedColumns; let j = index"
                    [matColumnDef]="key">
        <mat-header-cell *matHeaderCellDef> <mat-icon *ngIf="j === 0" class="hiddenCarret expand-carret">play_arrow</mat-icon>{{ key | titlecase }}</mat-header-cell>
  
        <mat-cell *matCellDef="let element; let i = dataIndex" class="{{key === 'status' ? getClass(element[key]) : ''}}"> 
          
          <span> <mat-icon *ngIf="j === 0" class="{{element.child && j === 0?'showCarret':'hiddenCarret'}} expand-carret"
            [class.active]="element[referenceId] === expandedId"
            (click)="toggleExpandableSymbol(element[referenceId])">play_arrow</mat-icon>
            <span *ngIf="key.includes('Time')">{{ element[key] | date:'medium' }}</span>
            <span *ngIf="!key.includes('Time')">{{element[key]}}</span>
          </span>   
          
        </mat-cell>
      </ng-container>
  
       <!-- EXPANDABLE ROW -->
      <ng-container matColumnDef="expandedDetail">
        <mat-cell *matCellDef="let element" 
                 [@expandableRow]="element[referenceId] === expandedId ? 'expanded' : 'collapsed'">
  
        <div *ngIf="element[referenceId] === expandedId"
             class="width-100">
          <app-has-child [childData]="element.child" [displayedColumns]="displayedColumns"></app-has-child>
        </div>
  
      </mat-cell>
    </ng-container>
  
    <!-- -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="normal-row"></mat-row>
  
    <mat-row class="expandable-row"
             *matRowDef="let row; columns: ['expandedDetail'];">
    </mat-row>
  
    </mat-table>
  </div>