<div class="main_content p-0">
    <div class="page-content">
      <div class="row no-gutters row-fit-vh">
        <div class="col-sm-12 d-flex flex-column">
          <div class="h-100 d-flex flex-column">
            <div class="tab-content h-100 p-3 flex-grow-1">
                <div *ngIf="tableIsEmpty && !loading" class="tab-pane d-flex flex-column bg-white h-100 fade show active">
                  <div class="page_access text-right p-3">
                    <button class="btn btn-default" data-toggle="modal"  data-target="#dataSource" data-backdrop="static" data-keyboard="false" (click)="createDatasource()">New Data Source</button>
                  </div>
                  <!-- /.page_access ml-auto -->
                  <div class="gray-strip"></div>
                  <!-- /.gray-strip -->
                  <div class="d-flex w-100 h-100">
                    <div class="no_content m-auto">
                      <img src="../../../assets//images/blank-123.png" class="hr-image" alt="blank" />
                      <p><strong>Create New Data Source</strong></p>
                      <p>Use application for continuous verification and production monitoring <br><small>(To create application, add at least 1 Cloud service and 1 Data source)</small></p>
                    </div>
                    <!-- /.no_content -->
                  </div>
                </div>
                <div *ngIf="!tableIsEmpty && !loading" class="tab-pane d-flex flex-column bg-white h-100 fade show active">
                  <div class="page_access d-flex text-right p-3">
                      <div class="mr-auto">
                          <div class="input-group input-group_search">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="modal-search"><i class="fa fa-search"></i></span>
                            </div>
                            <input type="text" class="form-control" [(ngModel)]="searchData" (keyup)="onSearch()" />
                            <i (click)="refreshList()" data-toggle="tooltip" data-placement="top" title="Refresh List" class="refresh-icon fa refreshList">&#xf021;</i>
                          </div>
                        </div>
                        <button class="btn btn-default"  data-toggle="modal" data-target="#dataSource" data-backdrop="static" data-keyboard="false" (click)="createDatasource()">New Data Source</button>
                      </div>
                  <!-- /.page_access ml-auto -->
                  <div class="table-content">
                    <table class="table table-sticky table-striped mb-0">
                      <thead>
                        <tr>
                          <th class="font-weight-bold">Account Name</th>
                          <th class="font-weight-bold">Account Type</th>
                          <th class="font-weight-bold">Action</th>
                          <!-- <th class="font-weight-bold">ACTION</th> -->
                        </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let datasourceData of currentPage | filter:searchData; let i=index">
                            <td>{{datasourceData.name}}</td>
                            <!-- <td *ngIf = "datasourceData.usage === 'visibility'">{{datasourceData.displayName}}</td> -->
                            <td>{{datasourceData.datasourceType}}</td>
                             <td>
                              <span data-toggle="tooltip" data-placement="top" data-original-title="Edit" (click)="onselectDatasource('Edit',datasourceData,i)">
                                <a  class="text-muted ml-2"  data-toggle="modal" data-target="#dataSource" data-backdrop="static" data-keyboard="false">
                                  <i style="color:#4797de !important;" class="fas fa-pencil-alt"></i>
                                </a>
                              </span>
                              <a (click)="onselectDatasource('Delete',datasourceData,i)" class="text-muted ml-2" data-toggle="tooltip"  data-placement="top" title="Delete"><i style="color: red;" class="far fa-trash-alt"></i></a>
                            </td> 
                          </tr>
                      </tbody>
                    </table>
                    <div class="table-footer gray-strip px-3 py-2">
                      <div class="form-inline">
                        <span class="mr-2">Per page</span>
                        <select class="form-control" [(ngModel)]="perPageData" (change)="onChangePerPageData()">
                          <option value="10">10</option>
                          <option value="15">15</option>
                          <option value="20">20</option>
                          <option value="25">25</option>
    
                        </select>
                        <span class="ml-3 mr-2">Showing {{page.startingPoint+1}} to
                          {{page.endPoint < datasourceListLength-1?page.endPoint:datasourceListLength}} of {{datasourceListLength}}</span>
                       
                        <ul class="pagination ml-auto mb-0">
                          <li class="page-item" (click)="pagePrev()" class = "{{page.startingPoint === 0?'disabledbtn':''}}"><a class="page-link">Previous</a></li>
                          <li class="page-item {{page.currentPage === page.pageNo ? 'active' : ''}}"
                            (click)=showPage(page.currentPage)><a class="page-link">{{page.currentPage}}</a></li>
                          <li class="page-item {{page.currentPage+1 === page.pageNo ? 'active' : ''}}"
                            *ngIf="(page.pageNo*page.pageSize) < datasourceListLength || 
                                      page.currentPage+1 == page.pageNo || page.currentPage+1 == page.pageNo-1 ? true : false" (click)=showPage(page.currentPage+1)>
                            <a class="page-link">{{page.currentPage+1}}</a>
                          </li>
                          <li class="page-item {{page.currentPage+2 === page.pageNo ? 'active' : ''}}"
                            *ngIf="((page.pageNo+1)*page.pageSize) < datasourceListLength || 
                                       page.currentPage+2 == page.pageNo ||
                                       ((page.currentPage+2)*page.pageSize< datasourceListLength? true : ((page.currentPage+2)*page.pageSize)-datasourceListLength < page.pageSize? true : false) ? true : false"
                            (click)=showPage(page.currentPage+2)><a class="page-link">{{page.currentPage+2}}</a>
                          </li>
                          <li class="page-item" (click)="pageNext()" class = "{{page.endPoint === datasourceListLength-1?'disabledbtn':''}}"><a class="page-link">Next</a></li>
                        </ul>
                      </div>
                      <!-- /.per_page -->
                    </div>
                    <!-- /.table-footer px-3 py-2 -->
                  </div>
                  <!-- /.table-content -->
                </div>
                <div *ngIf="loading" class="tab-pane d-flex flex-column bg-white h-100 fade show active">
                  <app-loading-screen></app-loading-screen>
                 </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ########### Create DataSource model ########### -->
  <div class="modal bd-example-modal-lg fade" id="dataSource" tabindex="-1" role="dialog" aria-labelledby="dataSourceLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{editMode ? 'Update Data Source':'New Data Source'}}</h5>
          <button type="button" class="close" (click)="closeForm()" data-dismiss="modal" #closeAddExpenseModal aria-label="Close">
            <i class="fa fa-times"></i>
          </button>
        </div>
        <div class="modal-body">
          <app-create-data-source [accountData]="accountData" [isEditMode]="editMode" [accountBelongsTo]="accountBelongsTo" (closemodel)="getClose($event)"></app-create-data-source>
        </div>
      </div>
    </div>
  </div>