<ngx-charts-bubble-chart
  [view]="view"
  [animations]="animations"
  [scheme]="colorScheme"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"  
  [autoScale]="autoScale"
  [legendPosition]="legendPosition"
  [legendTitle]="legendTitle"
  [minRadius]="5"
  [maxRadius]="5"
  [results]="dataSource"
  (select)="onSelect($event)"
  style="fill: #999999;"
  >
  <ng-template #tooltipTemplate let-model="model">
    <div class="tooltip" style="background-color: blue;">
      {{model}}
    </div>
  </ng-template>
</ngx-charts-bubble-chart>
