<ngx-charts-bubble-chart
  [view]="view"
  [animations]="animations"
  [scheme]="colorScheme"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"  
  [autoScale]="autoScale"
  [legendPosition]="legendPosition"
  [minRadius]="5"
  [maxRadius]="5"
  [results]="dataSource"
  (select)="onSelect($event)"
  style="fill: #999999;"
  >
</ngx-charts-bubble-chart>
