<div class="main_content p-0">
  <div class="page-content flex-grow-1 {{cursorWaiting === true ?'pagewait':''}}">
    <ul class="nav pt-2 bg-white tab-lined nav-tabs" id="myTab" role="tablist" (click)="onChangeTab($event)">
      <li class="nav-item">
        <a class="nav-link active" id="Pipeline" data-toggle="tab" role="tab" aria-controls="Pipeline"
          aria-selected="true">Pipeline</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="Policy" data-toggle="tab" role="tab" aria-controls="Policy"
          aria-selected="false">Policy Audit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="allPipeline" data-toggle="tab" role="tab" aria-controls="allPipeline"
          aria-selected="false">Pipeline Execution</a>
      </li>
     
    </ul>
    <div class="audit-info px-3 d-flex bg-white" *ngIf="currentTabData !== null && currentTabData['results'].length > 0 && relatedApi === 'pipeline'">
      <!-- <div>
        <h4>{{pipelineCountValue}}</h4>
        <span class="text-muted">{{pipelineCountName}}</span>
      </div> -->
      <div class="col-2">
        <div class="chart_ratio mb-3 text-center d-flex">
          <div class="chart_value cv_normal flex-grow-1">
            <div class="cv_heighlight">{{totalPipelineRunsCount}}</div>
            <div class="cv_name">Pipeline Runs</div>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="chart_ratio mb-3 text-center d-flex">
          <div class="chart_value cv_high flex-grow-1">
            <div class="cv_heighlight">{{successfulPipelineRunsCount}}</div>
            <div class="cv_name">Successful Runs</div>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="chart_ratio mb-3 text-center d-flex">
          <div class="chart_value cv_low flex-grow-1">
            <div class="cv_heighlight">{{failedPipelineRunsCount}}</div>
            <div class="cv_name">Failed Runs</div>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="chart_ratio mb-3 text-center d-flex">
          <div class="chart_value cv_medium flex-grow-1">
            <div class="cv_heighlight">{{cancelledPipelineRunsCount}}</div>
            <div class="cv_name">Canceled Runs</div>
          </div>
        </div>
      </div>
    </div>

    <!-- code for displaying the pipeline overallinfo -->
    <div class="audit-info px-3 d-flex bg-white" *ngIf="currentTabData !== null && currentTabData['results'].length > 0 && relatedApi === 'pipelineconfig'">
      <!-- <div>
        <h4>{{pipelineCountValue}}</h4>
        <span class="text-muted">{{pipelineCountName}}</span>
      </div> -->
      <div class="col-2">
        <div class="chart_ratio mb-3 text-center d-flex">
          <div class="chart_value cv_normal flex-grow-1">
            <div class="cv_heighlight">{{pipelineCountValue}}</div>
            <div class="cv_name">{{pipelineCountName}}</div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.page_title d-flex -->

    <div class="p-3">
      <div class="row no-gutters">
        <div class="col-12">
          <ng-container *ngIf="!auditLoading">
            <div class="card" *ngIf="currentTabData !== null && currentTabData['results'].length > 0">
              <div class="card-heading mb-form-db">
                <div class="form-inline">
                  <ng-container *ngIf="advanSearchMode">
                    <div class="form-group ml-sm-2 mb-2">
                      <select class="form-control" style="width: 150px;" [(ngModel)]="selectedSaveFilter"
                        (change)="onSelectSavedFilter()">
                        <option value="">Select saved filter</option>
                        <option *ngFor="let filter of savedFilters" value="{{filter}}">{{filter}}</option>
                      </select>
                    </div>
                    
                    <div class="form-group ml-sm-2 mb-2">
                      <div class="form-group">
                        <div class="dropdown dropdown-icon-remove" data-toggle="tooltip" data-placement="top"
                          title="Add More Filters">
                          <button class="btn btn-default dropdown-toggle addmorefilter" type="button" #AddMoreFilters
                            id="addMoreFilters" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-filter">+</i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-filter dropdown-filter dropdown-menu-right"
                            aria-labelledby="addMoreFilters">
                            <form #filtersShowHide="ngForm">
                              <div class="custom-control custom-checkbox" *ngFor="let filter of filtersData; let i=index">
                                <input type="checkbox" class="custom-control-input" (change)="showHideFilters($event,i)"
                                  [checked]="showHideFilter[i]" id="showHide{{i}}">
                                <label class="custom-control-label"
                                  for="showHide{{i}}">{{currentTableHeader[filter.name]}}</label>
                              </div>
                              <div class="dropdown-footer dropdown-footer-border">
                                <button class="btn text-left btn-block btn-link" *ngIf="filtersData.length > 0"
                                  (click)="showHideFilters($event,'selectAll')">Select All</button>
                                <div class="addFilter" *ngIf="filtersData.length === 0"><span>Data not avaliable</span>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group mx-sm-2 mb-2">
                      <div class="btn-group dropdown-icon-remove" role="group"
                        aria-label="Button group with nested dropdown">
                        <div class="btn-group" role="group">
                          <button id="btnGroupDrop2" type="button" class="btn btn-default" #SaveFilter
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Save Filter
                          </button>
                          <div class="dropdown-menu p-0 dropdown-save-filter" aria-labelledby="btnGroupDrop2">
                            <form [formGroup]="saveFilterForm">
                              <div class="dropdown-menu-header py-3 px-3 d-flex align-items-center">
                                <h6>Save New Filter</h6>
                                <button type="button" class="close ml-auto">
                                  <i class="fa fa-times"></i>
                                </button>
                              </div>
                              <div class="dropdown-menu-body mt-3 mb-2 px-3">
                                <div class="form-row align-items-center">
                                  <div class="col-auto mb-2">
                                    <input type="text" class="form-control" formControlName="filterName"
                                      [ngClass]="saveFilterForm.get('filterName').invalid && saveFilterForm.get('filterName').touched ? 'is-invalid':''" />
                                    <span
                                      *ngIf="saveFilterForm.get('filterName').invalid && saveFilterForm.get('filterName').touched"
                                      class="invalid-feedback">
                                      <span *ngIf="saveFilterForm.get('filterName').errors['required']">Filter Name is
                                        required</span>
                                      <span *ngIf="saveFilterForm.get('filterName').errors['filterExist']">Filter already
                                        exists with same name. Please choose a unique filter name</span>
                                    </span>
                                  </div>
                                  <div class="col-auto">
                                    <button type="submit" class="btn btn-outline-secondary mb-2"
                                      (click)="saveFilter($event)">Save</button>
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                        <div class="btn-group" role="group" data-toggle="tooltip" data-placement="top"
                          title="Saved Filters">
                          <button id="btnGroupDrop1" type="button" class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-ellipsis-h"></i>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                            <li class="dropdown-item d-flex align-items-center" *ngFor="let filter of savedFilters">
                              {{filter}}<button class="btn text-muted ml-auto p-0 pl-2"><i
                                  (click)="deleteSavedFilter(filter)" class="fas fa-trash-alt"></i></button></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="!advanSearchMode">
                    <div class="form-group mx-sm-2 mb-2">
                      <div class="form-group">
                        <div class="input-group input-group_search">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="modal-search"><i class="fa fa-search"></i></span>
                          </div>
                          <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchData"
                            (keyup)="onSearch()">
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <button type="submit" *ngIf="!advanSearchMode" class="btn btn-default mb-2"
                    (click)="advancedModeToggle()" data-toggle="tooltip" data-placement="top"
                    title="Switch to advanced search"><img src="../../assets/images/code-icon.png" alt="icon"
                      style="display: block; margin: 4px 0px;" /></button>
                  <button type="submit" *ngIf="advanSearchMode" class="btn btn-default mb-2"
                    (click)="advancedModeToggle()" data-toggle="tooltip" data-placement="top"
                    title="Switch to basic search"><img src="../../assets/images/code-icon.png" alt="icon"
                      style="display: block; margin: 4px 0px;" /></button>
                  <button type="submit" class="btn btn-default mb-2 ml-sm-2" *ngIf="selectedSaveFilter !== ''"
                    (click)="resetFilters()" data-toggle="tooltip" data-placement="top" title="Clear filter"><i
                      class="fa fa-redo"></i> &nbsp;Clear</button>
  
                  <div class="ml-auto d-flex">
                    <div class="form-group mb-2">
                      <div class="form-group ml-sm-2 mr-3">
                        <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" #datedropdownbtn
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{date}}
                          </button>
                          <form (submit)="dateForm(dForm.value)" #dForm="ngForm">
                            <div class="dropdown-menu dropdown-menu-picker" aria-labelledby="dropdownMenuButton"
                              (click)="dateDropdown($event)" style="left: 260px !important;">
                              <div class="d-flex">
                                <div>
                                  <h4>Date/Time Range</h4>
                                  <div class="custom-control custom-radio">
                                    <input type="radio" id="last-hours-range" name="customRadio"
                                      (change)="dateForm(dForm.value)" class="custom-control-input" value="last24Hour"
                                      ngModel>
                                    <label class="custom-control-label" for="last-hours-range">Last 1 Day</label>
                                  </div>
                                  <div class="custom-control custom-radio">
                                    <input type="radio" id="last-week-range" name="customRadio"
                                      (change)="dateForm(dForm.value)" class="custom-control-input" value="lastWeek"
                                      ngModel>
                                    <label class="custom-control-label" for="last-week-range">Last 7 Days</label>
                                  </div>
                                  <div class="custom-control custom-radio">
                                    <input type="radio" id="last-month-range" name="customRadio"
                                      (change)="dateForm(dForm.value)" class="custom-control-input" value="lastMonth"
                                      ngModel>
                                    <label class="custom-control-label" for="last-month-range">Last 1 Month</label>
                                  </div>
                                  <div class="custom-control custom-radio">
                                    <input type="radio" id="last-6month-range" name="customRadio"
                                      (change)="dateForm(dForm.value)" class="custom-control-input" value="last6Months"
                                      ngModel>
                                    <label class="custom-control-label" for="last-6month-range">Last 6 Months</label>
                                  </div>
                                  <div class="custom-control custom-radio">
                                    <input type="radio" id="all-time-range" name="customRadio"
                                      (change)="dateForm(dForm.value)" class="custom-control-input" value="allTime" ngModel>
                                    <label class="custom-control-label" for="all-time-range">All Time</label>
                                  </div>
                                  <div class="custom-control custom-radio">
                                    <input type="radio" id="custom-range" name="customRadio"
                                      (change)="dateForm(dForm.value)" class="custom-control-input" value="custom" ngModel>
                                    <label class="custom-control-label" for="custom-range">Custom</label>
                                  </div>
                                </div>
                                <div class=" {{disableDatepicker === true?'div-disabled':''}}">
                                  <div class="datepickerDiv">
                                    <h4>Date Range</h4>
                                    <span class="code" *ngIf="inlineRange">
                                      {{ inlineRange.begin | date }} to
                                      {{ inlineRange.end | date }}
                                    </span>
                                    <span class="code" *ngIf="!inlineRange">
                                      Select date range
                                    </span>
                                  </div>
                                  <div class="inlineCalendarContainer" (click)="datepicker($event)">
                                    <sat-calendar [rangeMode]="true" (dateRangesChange)="inlineRangeChange($event)">
                                    </sat-calendar>
                                  </div>
                                </div>
                                <div class="{{disableDatepicker === true?'div-disabled':''}}">
                                  <h4>From</h4>
                                  <div class="form-inline">
                                    <div class="form-group">
                                      <select class="form-control" name="firstdayHours" id="firstdayHours" ngModel>
                                        <option value="">00</option>
                                        <option *ngFor="let time of timerHour;let i = index" value="{{i+1}}" selected>
                                          {{time}}
                                        </option>
                                        <option value="11">11</option>
                                      </select>
                                    </div>
                                    <!-- /.form-group -->
                                    <div class="form-group">:</div>
                                    <div class="form-group">
                                      <select class="form-control" name="firstdayMinutes" id="firstdayMinutes" ngModel>
                                        <option value="">00</option>
                                        <option *ngFor="let time of timerMinute;let i = index" value="{{i+1}}">{{time}}
                                        </option>
                                        <option value="59">59</option>
                                      </select>
                                    </div>
                                    <!-- /.form-group -->
                                    <div class="form-group">
                                      <select class="form-control" name="firstdayMeridiem" id="firstdayMeridiem" ngModel>
                                        <option value="">AM</option>
                                        <option value="PM">PM</option>
                                      </select>
                                    </div>
                                    <!-- /.form-group -->
                                  </div>
                                  <!-- /.form-inline -->
    
                                  <div class="mt-3">
                                    <h4>To</h4>
                                    <div class="form-inline">
                                      <div class="form-group">
                                        <select class="form-control" name="lastdayHours" id="lastdayHours" ngModel>
                                          <option value="00">00</option>
                                          <option *ngFor="let time of timerHour;let i = index" value="{{i+1}}" selected>
                                            {{time}}</option>
                                          <option value="">11</option>
                                        </select>
                                      </div>
                                      <!-- /.form-group -->
                                      <div class="form-group">:</div>
                                      <div class="form-group">
                                        <select class="form-control" name="lastdayMinutes" id="lastdayMinutes" ngModel>
                                          <option value="00">00</option>
                                          <option *ngFor="let time of timerMinute;let i = index" value="{{i}}">{{time}}
                                          </option>
                                          <option value="">59</option>
                                        </select>
                                      </div>
                                      <!-- /.form-group -->
                                      <div class="form-group">
                                        <select class="form-control" name="lastdayMeridiem" id="lastdayMeridiem" ngModel>
                                          <option value="AM">AM</option>
                                          <option value="">PM</option>
                                        </select>
                                      </div>
                                      <!-- /.form-group -->
                                    </div>
                                    <!-- /.form-inline -->
                                  </div>
                                  <div class="mt-5">
                                    <button class="btn btn-block btn-clear mb-1">Clear</button>
                                    <button class="btn btn-block btn-primary" id="applybtn" type="submit">Apply</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                      <!-- <div class="mr-3">
                        <select style="color: #212529 !important;" class="form-control" [(ngModel)]="selectedValue" (change)="filterDateAudit($event.target.value)" >
                          <option value="1D">Last 1 Day</option>
                          <option value="7D">Last 7 Days</option>
                          <option value="1M">Last 1 Month</option>
                          <option value="6M">Last 6 Months</option>
                        </select>
                      </div> -->
                      <div class="dropdown dropdown-icon-remove" data-toggle="tooltip" data-placement="left"
                        title="Show/Hide Columns">
                        <button class="btn btn-default dropdown-toggle" type="button" #CustomColumn data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-icon-rotate fa-bars"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-filter dropdown-filter dropdown-menu-right"
                          aria-labelledby="dropdownMenuButton">
                          <form #customizeColumnForm="ngForm">
                            <div class="custom-control custom-checkbox"
                              *ngFor="let columnName of currentHeaderKeys; let i=index">
                              <input type="checkbox" class="custom-control-input" (change)="customizeColumn($event,i)"
                                [disabled]="i<3" [checked]="showColumn[i] === 'true'" id="{{columnName}}">
                              <label class="custom-control-label"
                                for="{{columnName}}">{{currentTableHeader[columnName]}}</label>
                            </div>
                            <div class="dropdown-footer dropdown-footer-border">
                              <button class="btn text-left btn-block btn-link"
                                (click)="customizeColumn($event,'selectAll')">Select All</button>
                            </div>
                          </form>
                          <!-- /.dropdown-footer -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.form-inline -->
                <!-- #### Don't delete need in future toolpills ##### -->
                <div class="toolpills">
                  <form #filterForm="ngForm" class="filterForm">
                    <ng-container *ngFor="let filter of filtersData;let i = index">
                      <div class="form-group ml-sm-2 mb-2 btn" *ngIf="showHideFilter[i]" data-toggle="tooltip" data-placement="top" title="{{currentTableHeader[filter.name]}}">
                        <ng-multiselect-dropdown [placeholder]="currentTableHeader[filter.name]"
                          name="{{filtersData[i].name}}" [data]="filter.items" [settings]="dropdownSettings"
                          (onSelect)="onItemSelect($event,filter)" [(ngModel)]="selectedFilters[i]"
                          (onSelectAll)="onItemSelect($event,filter)" (onDeSelectAll)="onItemSelect($event,filter)"
                          (onDeSelect)="onItemSelect($event,filter)" ngModel>
                        </ng-multiselect-dropdown>
                      </div>
                    </ng-container>
                  </form>
                </div>
  
                <!-- /.toolpills -->
  
              </div>
              <!-- /.card-heading -->
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table table-sticky table-collaps table-dark-head mb-0">
                    <thead>
                      <tr class="nestedrow">
                        <ng-container *ngFor="let key of currentHeaderKeys; let i=index">
                          <th *ngIf="showColumn[i] === 'true'"><i
                              class="fa fa-caret-right showCarret" *ngIf = "i === 0"></i>{{currentTableHeader[key]}}</th>
                        </ng-container>
                      </tr>
                    </thead>
                    <tbody class="table_body_audit">
                      <ng-container *ngFor="let pageData of currentPage | filter:searchData; let i=index">
                        <tr class="nestedrow">
                          <ng-container *ngFor="let dataKey of currentHeaderKeys; let j=index">
                            <td *ngIf="showColumn[j] === 'true'">
                              <div *ngIf="dataKey.includes('Time'); then thenBlock else elseBlock"></div>
                              <ng-template #thenBlock><span>{{+pageData[dataKey] | date:'medium'}}</span></ng-template>
                              <ng-template #elseBlock><span
                                  class="{{dataKey === 'status' ? getClass(pageData[dataKey]) : ''}}"><i *ngIf="j === 0"
                                    class="fa fa-caret-right carret {{j === 0 && pageData[treeView_currentKey] ?'showCarret':'hiddenCarret'}}" 
                                    id="treeview{{i}}" (click)="onClickNestedRow(i,$event,pageData['applicationName'],pageData['pipelineConfigId'],pageData['eventId'])" 
                                    style="transition: transform 400ms ease-in-out;"></i>{{pageData[dataKey]}}</span>
                              </ng-template>
                            </td>
                          </ng-container>
                        </tr>
                        <tr class="nested_tr">
                          <ng-container *ngIf="treeView[i]">
                            <td [attr.colspan]="currentHeaderKeys.length"  class="inner-table" >
                              <div [@expandableRow]="treeView_rowanimation">
                                <app-tree-view></app-tree-view>
                              </div>
                            </td>
                          </ng-container>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                  <!-- /.table -->
                </div>
                <!-- /.table-responisve -->
              </div>
              <!-- /.card-body -->
              <div class="card-footer table-footer px-3 py-2">
                <div class="form-inline {{searchData !== ''?'disabledFooter':''}}">
                  <span class="mr-2">Per page</span>
                  <select class="form-control" [(ngModel)]="perPageData" (change)="onChangePerPageData()">
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
  
                  </select>
                  <span class="ml-3 mr-2">Showing {{currentDatalength>0?page.startingPoint+1:0}} to
                    {{page.endPoint < currentDatalength && page.endPoint > page.startingPoint ? page.endPoint:currentDatalength}}
                    of
                    {{currentDatalength}}</span>
                  <!-- <input type="text" class="form-control mr-2" />
                  <button class="btn btn-primary">Go</button> -->
  
                  <ul class="pagination ml-auto mb-0">
                    <li class="page-item" (click)="pagePrev()" class="{{page.startingPoint === 0?'disabledbtn':''}}"><a
                        class="page-link">Previous</a></li>
                    <li class="page-item {{page.currentPage === page.pageNo ? 'active' : ''}}"
                      (click)=showPage(page.currentPage)><a class="page-link">{{page.currentPage}}</a></li>
                    <li class="page-item {{page.currentPage+1 === page.pageNo ? 'active' : ''}}" *ngIf="(page.pageNo*page.pageSize) < currentDatalength || 
                              page.currentPage+1 == page.pageNo || page.currentPage+1 == page.pageNo-1 ? true : false"
                      (click)=showPage(page.currentPage+1)><a class="page-link">{{page.currentPage+1}}</a></li>
                    <li class="page-item {{page.currentPage+2 === page.pageNo ? 'active' : ''}}"
                      *ngIf="((page.pageNo+1)*page.pageSize) < currentDatalength || 
                               page.currentPage+2 == page.pageNo ||
                               ((page.currentPage+2)*page.pageSize< currentDatalength? true : ((page.currentPage+2)*page.pageSize)-currentDatalength < page.pageSize? true : false) ? true : false"
                      (click)=showPage(page.currentPage+2)><a class="page-link">{{page.currentPage+2}}</a></li>
                    <li class="page-item" (click)="pageNext()"
                      class="{{page.endPoint === currentDatalength?'disabledbtn':''}}"><a class="page-link">Next</a></li>
                  </ul>
                </div>
                <!-- /.per_page -->
              </div>
              <!-- /.card-footer -->
            </div>
            <div class="card" *ngIf="currentTabData !== null && currentTabData['results'].length == 0">
              <app-component-error-listing class="emptyTableError" [errorString]="'Data is being retrieved. Please try refreshing after sometime.'"></app-component-error-listing>
            </div>
            <div class="card" *ngIf="currentTabData === null">
              <app-component-error-listing class="emptyTableError" [errorString]="'Selected tab data does not exist in database. If you are sure that these are there, please refresh the page after sometime.'"></app-component-error-listing>
            </div>
          </ng-container>
         
          <div class="card" *ngIf="auditLoading">
            <app-loading-screen></app-loading-screen>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col-12 -->
      </div>
      <!-- /.row -->
    </div>
  </div>
  <!-- /.page-content -->
</div>