.audit-info{
	padding: 15px;
}
.audit-info h4, .audit-info h4 small{
	color: #1b1f2a;
}
.audit-info > div{
	padding: 0 20px;
	border-right: 1px #dfdfdf solid;
}
.audit-info h4{
	font-size: 20px;
	margin-bottom: 0;
	line-height: 0.8;
}
.audit-info h4 small{
	font-size: 14px;
}
.audit-info span{
	font-size: 12px;
}
.dropdown-menu-filter{
	min-width: 175px;
}
.dropdown-footer-border{
	border-top: 1px solid #efeff1;
}
.datepickerDiv{
	padding-left: 16px;
}
.nav-tabs{
	a{
		cursor: pointer;
	}
}
.pagination{
	li{
		cursor: pointer;
	}
}
.div-disabled{
	pointer-events: none;
    opacity: 0.5;
}
.successStatus{
	color: #28a745 !important;;
}
.failStatus{
	color: #dc3545 !important;
}
.multiselect-dropdown .dropdown-btn {
	min-width: 180px;
	border: 1px solid #ced4da !important;
	border-radius: .25rem;
	color: #999 !important;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	line-height: 1.2857143 !important;
	.selected-item{
		color: white !important;
	}
	.dropdown-down{
		border-top:0px !important;
		&::after {
			border: none;
			vertical-align: 0.155em;
			content: url('../../assets//images/arrow_down.png');
		}
	}
	.dropdown-up{
		border-bottom:0px !important;
		&::after {
			border: none;
			vertical-align: 0.155em;
			content: url('../../assets//images/arrow_down.png');
		}
	}
}
.addmorefilter{
	.fa-filter:before {
		font-size: large !important;
		color: #9b9b9b !important;;
	}
}
.filterForm{
	display: flex;
}
.applyfilters{
	border: 1px #e6e6e6 solid;
    padding: 3px 20px 3px 20px;
    background: #f7f9f8 !important;
    border-radius: 2px;
    position: relative;
    font-size: 12px;
	color: #9b9b9b !important;
	&:hover{
		background: #dadada !important;
	}
	i{
		font-size: large;
    	color: #858585;
	}
}
input.ng-invalid.ng-touched , select.ng-invalid.ng-touched{
    border: 1px solid #dc3545;
}
.addFilter{
	text-align: center;
    color: #858585;
    font-size: initial;
}