.fixedPopup
{
  position: fixed;
  bottom: 450px;
  
}
.maxheightPopup
{
  max-height: 400px;
  overflow-y: auto;
}
.buttonDiv
{
  display: flow-root;
}
.padlt20
{
  padding-left: 10px;
  padding-right: 10px;
}

::ng-deep .modal-content{
  width: 1000px;
  margin-left: -200px;
}
.subChartSize
{
  width: 100%;
}