.fixedPopup
{
  position: fixed;
  bottom: 450px;
  
}
.maxheightPopup
{
  max-height: 400px;
  overflow-y: auto;
}
.buttonDiv
{
  display: flow-root;
}
.padlt20
{
  padding-left: 10px;
  padding-right: 10px;
}

::ng-deep .modal-content{
  width: 1400px;
  margin-left: -400px;
}
.subChartSize
{
  width: 100%;
}
.tooltip-inner {
  max-width: 600px; /* the minimum width */
}
.width100Parent
{
  width: 100%;
  display: inline-block;
}