.fixedPopup
{
  position: fixed;
  bottom: 450px;
  
}
.maxheightPopup
{
  max-height: 400px;
  overflow-y: auto;
}

.padlt20
{
  padding-left: 10px;
  padding-right: 10px;
}

 .modalWidth{
   max-width: 1400px;
  width: 1000px;
  margin-left: -400px;
}
.subChartSize
{
  width: 100%;
}
.tooltip-inner {
  max-width: 600px; /* the minimum width */
}
.width100Parent
{
  width: 100%;
  display: inline-block;
}
.fullWidth
{
  width: 100%;
  display: inline-flex;
}
.buttonDiv
{
  float: right;
  display: block;
  width: 100%;
}