<mat-tab-group>
  <mat-tab label="Logs Reclassification History">
    <div style="padding: 20px 0px;">
      <div style="max-height: 495px;overflow: auto;">
          <div *ngIf="reclassificationHistory != null">
              <div *ngFor='let feedbackHistory of reclassificationHistory?.feedbackHistory' style="border: 1px solid black;  margin-top: 5px; margin-bottom: 5px; ">
              <div style="padding-top:10px ; background-color: #eef8fc; padding: 3px;">{{feedbackHistory.clusterString}}</div>
              <div style="padding-top:10px ; padding: 3px;" >ReClassified From <span [ngClass]="{'text-danger':feedbackHistory.existingTopic == 'CRITICAL ERROR', 'text-error':feedbackHistory.existingTopic == 'ERROR','text-warning':feedbackHistory.existingTopic == 'WARN','text-muted':feedbackHistory.existingTopic=='IGNORE'}" *ngIf = "feedbackHistory.existingTopic!='INFO'">{{feedbackHistory.existingTopic}}</span><span *ngIf = "feedbackHistory.existingTopic=='INFO'" class="text-muted">IGNORE</span> To <span [ngClass]="{'text-danger':feedbackHistory.newTopic == 'CRITICAL ERROR', 'text-error':feedbackHistory.newTopic == 'ERROR','text-warning':feedbackHistory.newTopic == 'WARN','text-muted':feedbackHistory.newTopic=='IGNORE'}">{{feedbackHistory.newTopic}}</span></div>
              <div style="padding-top:10px ; padding: 3px;"><span>{{feedbackHistory.timestamp | changeTImestamptotime}}</span> Comments : {{feedbackHistory.feedbackComment}}</div>
              </div>
          </div>
          <div *ngIf="reclassificationHistory?.feedbackHistory == null || reclassificationHistory?.feedbackHistory.length <= 0">
              No Data Present
          </div>        
      </div>      
  </div>
  <div class="float-left">
    <opsmx-button [params]="closeButtonParams" (click)="close()" ></opsmx-button>
 </div>
  </mat-tab>   
</mat-tab-group>
