.criticality-select{
    border-left: 7px solid;
    padding-left: 5px !important;
}
.chart-bg-color{
    background: #f4f8fb;
}
.close.mat-button {
   
    top: 0;
    right: 0;
    padding: 5px;
    line-height: 14px;
    min-width: auto;
    background-color: #f4f8fb !important;
    border: 1px solid blue;
    margin-bottom: 3px;
    margin-top: 3px;
  }
.diamond {
    position: relative;
    height: 27px;
    width: 27px;
    line-height: 29px;
    text-align: center;
    margin: 10px;
}
.diamond:before {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    transform: rotateX(25deg) rotateZ(45deg);
    border: 2px solid #a4a9a5;
    border-radius: 4px;
}
.icon-bar-chart{
    font-size: 18px;
    color: #7d7d7d;
}
.sensitivitySelect{
    width: fit-content;
    margin-left: 10px;
}
.toggleGraph{
    color: #0ea4fb;
    cursor: pointer;
    &:hover{
        color: #7d7d7d;
    }
    .carret{
        color: #7d7d7d;
    }
}
.expColDiv{
    padding-left: 0px;
    text-align: center;
    div{
        color: #0ea4fb;
        cursor: pointer;
        border-bottom: 1px solid #cccccc;
        line-height: 37px;
        &:hover{
            color: #7d7d7d;
        }
    }
}
// .w60
// {
//     width: 60% !important;
// } 
// .ml20
// {
//     margin-left: 30% !important;
   
// }
.removeOverflow{
    overflow: visible;
}
