  <div class="pt-1">
    <ul class="nav tab-lined nav-tabs" id="myTab" role="tablist" (click)="onClickTab($event.target.id)">
      <li class="nav-item" >
        <a class="nav-link {{selectedTab === 'metric-apminfra' ? 'active': ''}} clickable" id="metric-apminfra-tab" data-toggle="tab" role="tab" aria-controls="metric-apminfra" aria-selected="true">APM & INFRA</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link {{selectedTab === 'metric-form' ? 'active': ''}} clickable" id="metric-form-tab" data-toggle="tab" role="tab" aria-controls="metric-form" aria-selected="true">CUSTOM</a>
      </li>
      <li  class="nav-item">
        <a class="nav-link {{selectedTab === 'metric-editor' ? 'active': ''}} clickable"  id="metric-editor-tab" data-toggle="tab" role="tab" aria-controls="metric-editor" aria-selected="true">Editor</a>
      </li>
     
    </ul>
    
    <div class="tab-content" id="myTabContent">
      <div id="metric-apminfra" role="tabpanel" aria-labelledby="metric-apminfra-tab">          
        <div class="col-12 maindiv" *ngIf = "selectedTab === 'metric-apminfra'"> 
          <mat-horizontal-stepper [labelPosition]="'bottom'" linear #stepper>
            <mat-step [stepControl]="apmFormGroup">
              <form [formGroup]="apmFormGroup">
                <ng-template matStepLabel>APM Metrics</ng-template>
                <div id="step-1">
                  <div class="multisteps-form__content">
                     <div class="px-4 py-3">
                       <div class="row">
                         <div class="col-6">
                           <div class="form-group">
                             <label>Metric Template Name</label>
                             <input type="text" class="form-control" autofocus="true" formControlName="templateName" [ngClass]="apmFormGroup.get('templateName').invalid && apmFormGroup.get('templateName').touched ? 'is-invalid':''"/>
                             <span *ngIf="apmFormGroup.get('templateName').invalid && apmFormGroup.get('templateName').touched" class="invalid-feedback"></span>
                           </div>
                           <!-- /.form-group -->
                         </div>
                         <!-- /.col-6 -->
                       </div>
                       <!-- /.row -->

                       <div class="text-divider">
                         <h4>APM Metrics</h4>
                       </div>
                       
                       <div class="row">
                         <div class="col-6">
                           <div class="form-group">
                             <label>APM Monitoring Provider</label>
                             <select class="form-control" (change)="onChangeDatasource($event.target.value,'apm')" formControlName="apmProvider">
                              <option value="" [disabled]="true">Select</option>
                              <ng-container *ngFor="let datasource of autoDatasources; let i=index">
                              <option *ngIf="datasource.metricTypes[0] == 'apm' || datasource.metricTypes[0] != undefined" value="{{datasource.datasourceType}}" >
                                {{datasource.displayName}}</option>
                              </ng-container>
                            </select>
                             <!-- <select name="webmenu" id="platform2">
                               <option value="" title="images/new_relic.png">New Relic</option>
                               <option value="" title="images/kubarnates.png">Kubernates</option>
                               <option value="" title="images/gcp-icon.png">GCP</option>
                             </select> -->
                           </div>
                           <!-- /.form-group -->

                           <div class="form-group">
                            <label>Select {{selectedAPMDataSource}} Accounts</label>
                            <select class="form-control" (change)="onChangeDSAccount($event.target.value,'apm')" formControlName="apmProviderAccount">
                              <option value="" [disabled]="true">Select</option>                               
                                <option *ngFor="let dsaccount of APMDSAccounts; let i=index" value="{{dsaccount.name}}" >
                                  {{dsaccount.name}}</option>                                      
                            </select>                          
                          </div>
                           <!-- /.form-group -->

                           <div class="form-group">
                             <label>Select {{selectedAPMDataSource}} Application</label>
                             <select class="form-control" (change)="onChangeAccountForDS($event.target.value,'apm')" formControlName="apmApplication">
                              <option value="" [disabled]="true">Select</option> 
                              <!-- <ng-container *ngFor="let dsapplication of APMApplicationForAccounts"> -->
                              <option *ngFor="let dsapplication of APMApplicationForAccounts" value="{{dsapplication}}" >
                                  {{dsapplication}}</option>
                              <!-- </ng-container>       -->
                            </select>
                           </div>
                           <!-- /.form-group -->
                         </div>
                         <!-- /.col-6 -->
                       </div>
                       <!-- /.row -->


                       <hr *ngIf ="APMCookbook != null || APMCookbook != undefined" class="ml-0 mt-3 mb-3" />

                       <div class="row" *ngIf ="APMCookbook != null || APMCookbook != undefined">
                         <div class="col-10">
                           <form [formGroup]="apmcookbookForm">
                           <div class="form-group">
                             <label>API Selection</label>
                             <table class="table table-outline" formArrayName="cookbooklist">
                               <thead>
                                 <tr>
                                   <th>
                                     <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" id="selectAll" (change)="onselectAllAPM($event)" [disabled]="isEditMode ? 'disabled' : ''">
                                      <label class="custom-control-label" for="selectAll">Select All</label>
                                     </div>
                                   </th>
                                 </tr>
                               </thead>
                               <tbody>                                
                                <tr *ngFor="let apmgroup of apmcookbookForm.value.cookbooklist ; let i=index;" >
                                  <td [formGroupName]=i>
                                    <div class="custom-control custom-checkbox" [ngClass]="isEditMode ? 'custom-disable' : ''">                                      
                                      <input type="checkbox" (change)="checkboxClicked($event)" class="custom-control-input" formControlName="isSelectedToSave"   id={{apmgroup.group}} [disabled]="isEditMode ? 'disabled' : ''">
                                      <label class="custom-control-label" for={{apmgroup.group}}>{{apmgroup.group}}</label>
                                    </div>
                                  </td>
                                </tr>
                               </tbody>
                             </table>
                           </div>
                          </form>
                           <!-- /.form-group -->
                         </div>
                         <!-- /.col-6 -->
                       </div>
                       <!-- /.row -->                            
                     </div>
                   </div>
                </div>
                <div class="display-save-btn">
                <button type="button" mat-button matStepperNext class="btn btn-primary sw-btn-next pull-right btn-color">Next</button>
                </div>
                
                <!-- <div class="display-save-btn">
                  <button type="button" mat-button matStepperNext class="btn btn-primary sw-btn-next pull-right">Next</button>
                </div> -->
              </form>
            </mat-step>
            <mat-step [stepControl]="infraFormGroup">
              <form [formGroup]="infraFormGroup">
                <ng-template matStepLabel>INFRA Metrics</ng-template>
                <div id="step-2">
                  <div class="multisteps-form__content">
                     <div class="px-4 py-3">
                       <div class="text-divider pt-0">
                         <h4>INFRA Metrics</h4>
                       </div>

                       <div class="row">
                         <div class="col-6">
                           <div class="form-group">
                             <label>INFRA Monitoring Provider <span data-toggle="tooltip" data-placement="right" title="Select Infrastructure monitoring provider"><img src="assets/images/help_icon.png" alt="icon" /></span></label>                            
                             <select class="form-control" (change)="onChangeDatasource($event.target.value,'infra')" formControlName="infraProvider">
                              <option value="" [disabled]="true">Select</option>
                              <ng-container *ngFor="let datasource of autoDatasources">
                              <option *ngIf="datasource.metricTypes[0] == 'infra' || datasource.metricTypes[0] != undefined" value="{{datasource.datasourceType}}" >
                                {{datasource.displayName}}</option>
                              </ng-container>
                            </select>
                             <!-- <select name="webmenu" id="platform3">
                               <option value="" title="images/promethics.png">New Relic</option>
                               <option value="" title="images/kubarnates.png">Kubernates</option>
                               <option value="" title="images/gcp-icon.png">GCP</option>
                             </select> -->
                           </div>
                           <!-- /.form-group -->
                           <div class="form-group">
                             <label>Infrastructure Account <span data-toggle="tooltip" data-placement="right" title="Infrastructure accounts"><img src="assets/images/help_icon.png" alt="icon" /></span></label>                             
                            <select class="form-control" (change)="onChangeDSAccount($event.target.value,'infra')" formControlName="applicationName">
                              <option value="" [disabled]="true">Select</option> 
                              <ng-container *ngFor="let dsaccountinfra of InfraDSAccounts">
                                <option value="{{dsaccountinfra.name}}" >
                                  {{dsaccountinfra.name}}</option>
                              </ng-container>      
                            </select>                             
                           </div>
                           <!-- /.form-group -->
                         </div>
                         <!-- /.col-6 -->
                       </div>
                       <!-- /.row -->

                       <hr class="ml-0 mt-3 mb-3" />

                       <div class="row">
                         <div class="col-6">
                           <form [formGroup]="infracookbookForm">
                           <div class="form-group">
                             <label>Infrastructure metric Groups</label>
                             <table class="table table-outline" formArrayName="cookbooklist">
                               <thead>
                                 <tr>
                                   <th>
                                     <div class="custom-control custom-checkbox">
                                       <input type="checkbox" class="custom-control-input" id="in_selectAll" [disabled]="isEditMode ? 'disabled' : ''">
                                       <label class="custom-control-label" for="in_selectAll">Select All</label>
                                     </div>
                                   </th>
                                 </tr>
                               </thead>
                               <tbody>
                                 <tr *ngFor="let group of infracookbookForm.value.cookbooklist; let i=index">
                                   <td [formGroupName]=i>
                                     <div class="custom-control custom-checkbox" [ngClass]="isEditMode ? 'custom-disable' : ''">
                                       <input type="checkbox" class="custom-control-input" [checked]="group.isSelectedToSave" id={{group.group}} formControlName="isSelectedToSave">
                                       <label class="custom-control-label" for={{group.group}}>{{group.group}}</label>
                                     </div>
                                   </td>
                                 </tr>                                 
                               </tbody>
                             </table>
                           </div>
                          </form>
                           <!-- /.form-group -->
                         </div>
                         <!-- /.col-6 -->
                       </div>
                       <!-- /.row -->   


                     </div>
                   </div>
                </div>
                <div class="display-save-btn">
                  <button mat-button matStepperPrevious>Back</button>
                  <button type="button" mat-button matStepperNext class="btn btn-primary sw-btn-next pull-right">Next</button>
                  <br>
                </div>
              </form>
            </mat-step>            
            <mat-step>
              <ng-template matStepLabel>Metric Config</ng-template>
              <div id="step-4" class="">
                <div class="multisteps-form__content"> 
                   <div class="px-4 py-3">
                    <form [formGroup]="metricConfigForm">
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label>Apply load based normalization</label>
                          <div class="d-flex mt-3 text-muted align-items-center">
                            <span>No</span>
                            <div class="custom-control custom-switch ml-2 mr-1">
                              <input type="checkbox" class="custom-control-input" id="normalization" formControlName="isNormalize">
                              <label class="custom-control-label" for="normalization"></label>
                            </div>
                            <span>Yes</span>
                          </div>
                          <!-- /.d-flex -->
                        </div>
                        <!-- /.form-group -->
                      </div>
                      <!-- /.col-6 -->
                      <div class="col-6">
                        <div class="form-group">
                          <label>Threshold for Metric failure</label>
                          <div class="d-flex mt-3 text-muted align-items-center">
                            <span>Hard</span>
                            <div class="custom-control custom-switch ml-2 mr-1">
                              <input type="checkbox" class="custom-control-input" checked id="threshold" formControlName="threshold">
                              <label class="custom-control-label" for="threshold"></label>
                            </div>
                            <span>Easy</span>
                          </div>
                          <!-- /.d-flex -->
                        </div>
                        <!-- /.form-group -->
                      </div>
                      <!-- /.col-6 -->
                    </div>
                  </form>
                    <hr class="ml-0 mt-3 mb-3" />
                     <div class="text-divider pt-0">
                       <h4>Specify critical/watchlist/weights for metrics</h4>
                     </div>

                     <div class="row">
                       <div class="col-12">
                         <div class="form-group">
                           <!-- <label>APM</label> -->
                           <div class="custom-collapse" *ngIf="this.apmcookbookForm.value.cookbooklist.length > 0">
                            <a class="btn btn-default" data-toggle="collapse" href="#apmCollapse" role="button" aria-expanded="false" aria-controls="apmCollapse">
                              <i class="fas fa-caret-right"></i> APM
                            </a>
                             <form [formGroup]="apmcookbookForm">
                            <div class="collapse" id="apmCollapse">
                              <div class="collapse-child">
                                <table class="table mb-0" formArrayName="cookbooklist">
                                  <tbody>
                                   <ng-container *ngFor="let cookbook of apmcookbookForm.value.cookbooklist; let i=index"> 
                                     <tr [formGroupName]="i">
                                       <td *ngIf="cookbook.isSelectedToSave">
                                         <i class="fas fa-caret-down"></i> <input type="text" formControlName="group" value="{{cookbook.group}}" class="border0" readonly>
                                         <!-- <input type="text" class="btn btn-default" value="0" autofocus="true" formControlName="averageWeight"> -->
                                         <table class="table-sm" formArrayName="metrics" >
                                           <tbody>
                                             <ng-container *ngFor="let metric of cookbook.metrics; let j=index">
                                             <tr [formGroupName]="j" >
                                               <td>
                                                 <input type="text" value="{{metric.name}}" formControlName="name">
                                               </td>
                                               <td>
                                                 <select formControlName="aggregator">
                                                   <option value="{{metric.aggregator}}">{{metric.aggregator}}</option>
                                                 </select>
                                               </td>
                                               <td>
                                                 <select formControlName="displayUnit">
                                                   <option value="{{metric.displayUnit}}">{{metric.displayUnit}}</option>
                                                 </select>
                                               </td>
                                               <td>
                                                 <input type="text" value="{{metric.label}}" style="width: 90px;" formControlName="label"/>
                                               </td>
                                               <!-- <td>
                                                 <div class="btn-group">
                                                   <input type="text" class="btn btn-input" value="0" />
                                                   <button type="button" class="btn btn-toggle btn-C btn-danger">C</button>
                                                   <button type="button" class="btn btn-toggle btn-W btn-warning">W</button>
                                                 </div>
                                               </td> -->
                                               <td>
                                                <div class="custom-control custom-checkbox">
                                                  <input type="checkbox" class="custom-control-input" [checked]="metric.critical" id="ac-{{metric.name}}" formControlName="critical"> 
                                                  <label class="custom-control-label" for="ac-{{metric.name}}">critical</label>
                                                </div>
                                              </td>
                                              <td>
                                                <div class="custom-control custom-checkbox">
                                                  <input type="checkbox" class="custom-control-input" [checked]="metric.watchlist" id="aw-{{metric.name}}" formControlName="watchlist"> 
                                                  <label class="custom-control-label" for="aw-{{metric.name}}">watchlist</label>
                                                </div>
                                              </td>
                                               <td>
                                                 <!-- <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Delete"><i class="fas fa-trash-alt"></i></a> -->
                                               </td>
                                             </tr>
                                           </ng-container>
                                           </tbody>
                                         </table>
                                       </td>
                                     </tr>

                                    
                                   </ng-container>                                 
                                    
                                  </tbody>
                                </table>
                                
                              </div>
                             
                            </div>
                           </form>
                          </div>
                           
                           <div class="custom-collapse" *ngIf="this.infracookbookForm.value.cookbooklist.length > 0">
                             <a class="btn btn-default" data-toggle="collapse" href="#infraCollapse" role="button" aria-expanded="false" aria-controls="infraCollapse">
                               <i class="fas fa-caret-right"></i> INFRA
                             </a>
                              <form [formGroup]="infracookbookForm">
                             <div class="collapse" id="infraCollapse">
                               <div class="collapse-child">
                                 <table class="table mb-0" formArrayName="cookbooklist">
                                   <tbody>
                                    <ng-container *ngFor="let cookbook of infracookbookForm.value.cookbooklist; let i=index"> 
                                      <tr [formGroupName]="i">
                                        <td *ngIf="cookbook.isSelectedToSave">
                                          <i class="fas fa-caret-down"></i> <input type="text" formControlName="group" value="{{cookbook.group}}">
                                          <!-- <input type="text" class="btn btn-default" value="0" autofocus="true" formControlName="averageWeight"> -->
                                          <table class="table-sm" formArrayName="metrics" >
                                            <tbody>
                                              <ng-container *ngFor="let metric of cookbook.metrics; let j=index">
                                              <tr [formGroupName]="j" >
                                                <td>
                                                  <input type="text" value="{{metric.name}}" formControlName="name">
                                                </td>
                                                <td>
                                                  <select formControlName="aggregator">
                                                    <option value="{{metric.aggregator}}">{{metric.aggregator}}</option>
                                                  </select>
                                                </td>
                                                <!-- <td>
                                                  <select formControlName="displayUnit">
                                                    <option value="{{metric.displayUnit}}">{{metric.displayUnit}}</option>
                                                  </select>
                                                </td> -->
                                                <!-- <td>
                                                  <input type="text" value="{{metric.label}}" style="width: 90px;" formControlName="label"/>
                                                </td> -->
                                                <!-- <td>
                                                  <div class="btn-group">
                                                    <input type="text" class="btn btn-input" value="0" />
                                                    <button type="button" class="btn btn-toggle btn-C btn-danger">C {{metric.critical}}</button>
                                                    <button type="button" class="btn btn-toggle btn-W btn-warning">W {{metric.watchlist}}</button>                                                    
                                                  </div>
                                                </td> -->
                                                <td>
                                                  <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" [checked]="metric.critical" id="ic-{{metric.name}}" formControlName="critical"> 
                                                    <label class="custom-control-label" for="ic-{{metric.name}}">critical</label>
                                                  </div>
                                                </td>
                                                <td>
                                                  <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" [checked]="metric.watchlist" id="iw-{{metric.name}}" formControlName="watchlist"> 
                                                    <label class="custom-control-label" for="iw-{{metric.name}}">watchlist</label>
                                                  </div>
                                                </td>
                                                <td>
                                                  <!-- <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Delete"><i class="fas fa-trash-alt"></i></a> -->
                                                </td>
                                              </tr>
                                            </ng-container>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
 
                                     
                                    </ng-container>                                 
                                     
                                   </tbody>
                                 </table>
                                 
                               </div>
                              
                             </div>
                            </form>
                           </div>
                           <!-- /.custom-collapse -->
                           <!-- <div class="custom-collapse">
                             <a class="btn btn-default" data-toggle="collapse" href="#loadCollapse" role="button" aria-expanded="false" aria-controls="loadCollapse">
                               <i class="fas fa-caret-right"></i> LOAD
                             </a>
                             <div class="collapse" id="loadCollapse">
                               <div class="collapse-child">
                                 <table class="table mb-0">
                                   <tbody>
                                     <tr>
                                       <td>
                                         <i class="fas fa-caret-right"></i> /SpringController/canaries/getActiveCanaries (GET)
                                       </td>
                                       <td><input type="text" class="btn btn-default" value="0" autofocus="true"></td>
                                     </tr>
                                     <tr>
                                       <td>
                                         <i class="fas fa-caret-right"></i> /SpringController/canaries/getActiveCanaries (GET)
                                       </td>
                                       <td><input type="text" class="btn btn-default" value="0" autofocus="true"></td>
                                     </tr>
                                     <tr>
                                       <td>
                                         <i class="fas fa-caret-right"></i> /SpringController/canaries/getActiveCanaries (GET)
                                       </td>
                                       <td><input type="text" class="btn btn-default" value="0" autofocus="true"></td>
                                     </tr>
                                     <tr>
                                       <td>
                                         <i class="fas fa-caret-right"></i> /SpringController/canaries/getActiveCanaries (GET)
                                       </td>
                                       <td><input type="text" class="btn btn-default" value="0" autofocus="true"></td>
                                     </tr>
                                     <tr>
                                       <td>
                                         <i class="fas fa-caret-down"></i> /SpringController/canaries/getActiveCanaries (GET)
                                       </td>
                                       <td><input type="text" class="btn btn-default" value="0" autofocus="true"></td>
                                     </tr>
                                     <tr>
                                       <td colspan="2">
                                         <table class="table-sm">
                                           <tr>
                                             <td><input type="text" value="requests_per_minute"></td>
                                             <td>
                                               <select>
                                                 <option>Avg</option>
                                               </select>
                                             </td>
                                             <td>
                                               <select>
                                                 <option>rpm</option>
                                               </select>
                                             </td>
                                             <td>
                                               <input type="text" value="Label" style="width: 90px;" />
                                             </td>
                                             <td>
                                               <div class="btn-group">
                                                 <input type="text" class="btn btn-input" value="0" />
                                                 <button type="button" class="btn btn-toggle btn-C btn-danger">C</button>
                                                 <button type="button" class="btn btn-toggle btn-W btn-warning">W</button>
                                               </div>
                                             </td>
                                             <td>
                                               <a href="#"><i class="fas fa-trash-alt"></i></a>
                                             </td>
                                           </tr>
                                           <tr>
                                             <td><input type="text" value="requests_per_minute"></td>
                                             <td>
                                               <select>
                                                 <option>Avg</option>
                                               </select>
                                             </td>
                                             <td>
                                               <select>
                                                 <option>rpm</option>
                                               </select>
                                             </td>
                                             <td>
                                               <input type="text" value="Label" style="width: 90px;" />
                                             </td>
                                             <td>
                                               <div class="btn-group">
                                                 <input type="text" class="btn btn-input" value="0" />
                                                 <button type="button" class="btn btn-toggle btn-C text-danger">C</button>
                                                 <button type="button" class="btn btn-toggle btn-W text-warning">W</button>
                                               </div>
                                             </td>
                                             <td>
                                               <a href="#"><i class="fas fa-trash-alt"></i></a>
                                             </td>
                                           </tr>
                                           <tr>
                                             <td><input type="text" value="requests_per_minute"></td>
                                             <td>
                                               <select>
                                                 <option>Avg</option>
                                               </select>
                                             </td>
                                             <td>
                                               <select>
                                                 <option>throughput</option>
                                               </select>
                                             </td>
                                             <td>
                                               <input type="text" value="Label" style="width: 90px;" />
                                             </td>
                                             <td>
                                               <div class="btn-group">
                                                 <input type="text" class="btn btn-input" value="0" />
                                                 <button type="button" class="btn btn-toggle btn-C text-danger">C</button>
                                                 <button type="button" class="btn btn-toggle btn-W text-warning">W</button>
                                               </div>
                                             </td>
                                             <td>
                                               <a href="#"><i class="fas fa-trash-alt"></i></a>
                                             </td>
                                           </tr>
                                           <tr>
                                             <td><input type="text" value="requests_per_minute"></td>
                                             <td>
                                               <select>
                                                 <option>Avg</option>
                                               </select>
                                             </td>
                                             <td>
                                               <select>
                                                 <option>rpm</option>
                                               </select>
                                             </td>
                                             <td>
                                               <input type="text" value="Label" style="width: 90px;" />
                                             </td>
                                             <td>
                                               <div class="btn-group">
                                                 <input type="text" class="btn btn-input" value="0" />
                                                 <button type="button" class="btn btn-toggle btn-C text-danger">C</button>
                                                 <button type="button" class="btn btn-toggle btn-W text-warning">W</button>
                                               </div>
                                             </td>
                                             <td>
                                               <a href="#"><i class="fas fa-trash-alt"></i></a>
                                             </td>
                                           </tr>
                                         </table>
                                       </td>
                                     </tr>
                                   </tbody>
                                 </table>
                                 
                               </div>
                              
                             </div>
                           </div> -->
                           <!-- /.custom-collapse -->
                         </div>
                         <!-- /.form-group -->
                       </div>
                       <!-- /.col-6 -->
                     </div>
                     <!-- /.row -->

                   </div>
                 </div>
              </div>
              <br>
              <div class="display-save-btn">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button class="btn btn-primary sw-btn-next pull-right" (click)="saveapminfra()">Save</button>
                <br>
              </div>
            </mat-step>
          </mat-horizontal-stepper>         
          <div class="col-12">
            <!-- <button class="btn btn-primary ml-2 savebtn" (click)="saveapminfra()">Save</button> -->
          </div>
         </div>            
      </div>
      <div id="metric-form" role="tabpanel" aria-labelledby="metric-form-tab">         
          <div *ngIf = "selectedTab === 'metric-form'" class="col-12 maindiv">
              
                <div class="multisteps-form__content">
                   <div class="px-4 py-3">
                    <form [formGroup]="createMetricForm">  
                     <div class="row">
                       <div class="col-6">
                         <div class="form-group">
                           <label>Metric Template Name</label>
                           <input type="text" class="form-control" autofocus="true" formControlName="templateName" required/>
                         </div>
                         <!-- /.form-group -->
                       </div>
                       <!-- /.col-6 -->
                     </div>
                     <!-- /.row -->

                     <div class="text-divider">
                       <h4>Data Source</h4>
                     </div>
                     
                     <div class="row">
                       <div class="col-6">
                        <div class="form-group">
                          <label>Select Datasource</label>
                          <select class="form-control" (change)="onChangeDatasource($event.target.value,'custom')" formControlName="dataSource"> 
                            <option value="" [disabled]="true">Select</option>
                            <ng-container *ngFor="let datasource of autoDatasources">
                            <option *ngIf="datasource.metricTypes[0] == 'custom' || datasource.metricTypes[0] != undefined" value="{{datasource.datasourceType}}" >
                              {{datasource.displayName}}</option>
                            </ng-container>
                          </select>                          
                        </div>
                         <!-- /.form-group -->

                         <div class="form-group">
                          <label>Select {{selectedCustomDataSource}} Accounts</label>
                          <select class="form-control" (change)="onChangeDSAccount($event.target.value,'custom')" formControlName="accountName">
                            <option value="" [disabled]="true">Select</option>                            
                            <option *ngFor="let dsaccount of customDataSourceAccounts" value="{{dsaccount.name}}"  >
                              {{dsaccount.name}}</option>                           
                          </select>                          
                        </div>
                        
                       </div>
                       <!-- /.col-6 -->
                     </div>
                     <!-- /.row -->
                    </form>

                     <hr class="ml-0 mt-3 mb-3" />
                     <form [formGroup]="queryForm">
                     <div class="row">
                       <div class="col-12">
                         <div class="form-group">
                           <label>Query Selection</label>
                           <table class="table table-outline table-md" formArrayName="queryList">
                             <thead>
                               <tr>
                                <th>Query Name</th>
                                <th>Query String</th>
                                <th>Risk Direction</th>
                                <th><div class="key-value-th key-value-height">Threshold (%)<br>
																	<div style="width: 50%;float: left;text-align: center;">High</div>
																	<div style="width: 50%;float: right;text-align: center;">Low</div>
																	</div></th>
                                <!-- <th>Threshold Low</th> -->
                                <th>Critical</th>
                                <th>Watchlist</th>
                                <th>Weight</th>
                                <th class="text-right"><a (click)="addNewQuery()" data-toggle="tooltip" data-placement="top" data-original-title="Add New Query"><i class="fas fa-plus"></i></a></th>
                               </tr>
                             </thead>
                             <tbody *ngFor="let query of queryForm.get('queryList')['controls']; let i=index">                              
                               <tr [formGroupName]=i>
                                 <td class="px-1" style="width:15%"><input type="text" class="form-control" formControlName="group"></td>
                                 <td class="px-1" style="width:40%"><input type="text" class="form-control" formControlName="name"></td>
                                 <td class="px-1" style="width:5%">
                                  <select class="form-control" formControlName="riskDirection">
                                    <option value="" [disabled]="true">Select</option>                            
                                    <option *ngFor="let riskDirection of riskDirectionList" value="{{riskDirection}}"  >
                                      {{riskDirection}}</option>                           
                                  </select>
                                </td>
                                 <td class="px-1">
                                  <div>
                                    <div style="width: 49%; float: left;"><input id="queryInputCustomThreshold" type="number"  style="text-align: center;height:35px;" formControlName="customThresholdHigher"></div>
                                    <div style="width: 50%; float: right;"><input id="queryInputCustomThreshold"  type="number"  style="text-align: center;height:35px;" formControlName="customThresholdLower"></div>
                                  </div>
                                 </td>
                                 <!-- <td class="px-1"><input type="text" class="form-control" value="" formControlName=""></td> -->
                                 <td class="px-1" style="width:5%">
                                  <div>
                                    <input type="checkbox" id="query-watchlist" formControlName="watchlist">
                                  </div>
                                </td>
                                 <td class="px-1">
                                    <input type="checkbox" id="in_selectAll" formControlName="critical">
                                 </td>
                                 <td class="px-1"> 
                                  <input type="text" class="form-control" value="" formControlName="metricWeight">
                                </td>
                                 <td class="px-1">
                                  <a (click)="deleteQuery(query,i)" class="text-muted"><i class="fas fa-trash-alt"></i></a>
                                 </td>
                               </tr>
                             </tbody>
                           </table>
                         </div>
                         <!-- /.form-group -->
                       </div>
                       <!-- /.col-6 -->
                     </div>
                     <!-- /.row -->   
                    </form>                         
                   </div>
                 </div>
              
            
            <div class="col-12">
              <button class="btn btn-primary ml-2 savebtn" (click)="savemetrictemplate()">Save</button>
              <!-- <button class="btn btn-primary ml-2 savebtn" *ngIf="isEditMode" (click)="Submitmetricdata()">Update</button> -->

            </div>
                        
          </div>
          
      </div>
      <div id="metric-editor" role="tabpanel" aria-labelledby="metric-editor-tab">          
          <div class="col-12 maindiv" *ngIf = "selectedTab === 'metric-editor'">
            <json-editor [options]="editorOptions" [data]="data" (change)="showJson($event)"></json-editor>
            <div class="col-12">
              <button class="btn btn-primary ml-2 savebtn" (click)="Submitmetricdata()">Save</button>
            </div>
           </div>            
      </div>
    </div>
    
  </div>
