.maindiv{
    padding-top: 12px;
}
.savebtn{
    float: right;
    margin-bottom: 12px;
}
.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
.disabledTab{
  pointer-events: none;
}