<div class="login-reg">
    <div class="login-reg-body" [@forgotpasswordanimation]>
      <div class="container login-reg-container">
        <div class="card">
          <div class="card-body">
            <div class="lrcb-inner">
              <div class="login-reg-icon text-center">
                <img src="../../../assets/forgot-icon.png" class="img-fluid" alt="login" />
              </div>
              <!-- /.login-reg-icon -->
              <div class="text-center mb-4">
                <h2>Forgot Password?</h2>
                <p>Enter your registered email id and we will <br>send a unique URL to reset your password.</p>
              </div>
              <form action="/">
                <div class="form-group mb-3">
                  <label>Registered Email ID</label>
                  <input type="text" class="form-control" autofocus />
                </div>
                <!-- /.form-group -->
                <div class="form-group mb-3">
                  <button type="submit" class="btn btn-primary btn-block">Confirm</button>
                </div>
                <!-- /.form-group -->
              </form>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.login-reg-container -->
    </div>
    <!-- /.login-reg-body -->
  </div>
  <!-- /.login-reg -->