<div class="main_content p-0">
  <div class="page-content">
    <div class="row no-gutters row-fit-vh">
      <div class="col-sm-12 d-flex flex-column">
        <div class="h-100 d-flex flex-column">
          <div class="tab-content h-100 p-3 flex-grow-1">
            <div class="tab-pane d-flex flex-column bg-white h-100 fade show active">
              <div class="page_access d-flex text-right p-3">
                <div class="mr-auto">
                  <div class="input-group input-group_search">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="modal-search"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" />
                  </div>
                </div>

                <button class="btn btn-default">New Account</button>
              </div>
              <!-- /.page_access ml-auto -->
              <div class="table-content">
                <table class="table table-sticky table-striped mb-0">
                  <thead>
                    <tr>
                      <th class="font-weight-bold">Account Name</th>
                      <th class="font-weight-bold">Type</th>
                      <th class="font-weight-bold">Namespace</th>
                      <th class="font-weight-bold">Read Permissions</th>
                      <th class="font-weight-bold">Write Permissions</th>
                      <th class="font-weight-bold">Execute Permissions</th>
                      <th class="font-weight-bold">Action</th>
                      <!-- <th class="font-weight-bold">ACTION</th> -->
                    </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let accountsData of accountListData">
                        <td>{{accountsData.name}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.table-content -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>