<div class="row" >
  <div class="col-md-12 maindiv {{addclass == true ? 'view_in' : ''}}">
    <div class="sidebar" *ngIf="isAuthenticate">
      <div class="sidebar_header d-flex align-items-center justify-content-between">
        <div class="logo"><img src="../../../assets/logo.png" alt="logo"></div>
        <div class="menu_toggle" (click)="toggleNavbar()"><i class="fa fa-bars"></i></div>
      </div>
      <!-- /.sidebar_header -->
      <div class="sidebar_nav">
        <ul class="list-unstyled m-0" *ngFor="let SideMenu of Sidebar;">
          <li routerLink="{{SideMenu.link}}"  routerLinkActive="active"><a><i class="icon {{SideMenu.link}}"></i> <span>{{SideMenu.name}} 
            <ng-template [ngIf]="SideMenu.subMenu.length === 0 ?false:true">
              <span class="badge badge-primary">{{SideMenu.subMenu.length}}</span>
            </ng-template>
            </span></a>
            <ng-template [ngIf]="SideMenu.subMenu.length === 0 ?false:true">
              <ul class="subnav list-unstyled m-0" *ngFor = "let submenu of SideMenu.subMenu">
                <li routerLink="{{submenu.link}}"><a><i class="icon {{submenu.link}}"></i> <span>{{submenu.name}}</span></a></li>
              </ul>
            </ng-template>
            <!-- /.subnav -->
          </li>
        </ul>
      </div>
      <!-- /.sidebar_nav -->
      <a href="#" class="sidebar_bottom d-flex align-items-center justify-content-between">
        <span>Help</span>
        <i class="fa fa-angle-down"></i>
      </a>
      <!-- /.sidebar_bottom -->
    </div>
    <!-- /.sidebar -->
    <div class=" {{isAuthenticate == true ? 'content_section' : 'col-md-12 col-sm-12 col-lg-12 col-xs-12'}}">
      <app-header></app-header>
      <br>
      <!-- content of application -->
      <router-outlet></router-outlet>
    </div>
    <!-- /.content_section -->
  </div>
</div>
<!-- <div class="row" *ngIf="!isAuthenticate">
  <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 maindiv">
    <app-header></app-header>
  <br>
  <router-outlet></router-outlet>
  </div>
</div> -->