.sidebar{
    li{
        cursor: pointer;
    }
    .sidebar_nav{
        color: #eee;
        .oesdashboard{
            background-position: 0 0;
        }
        .application{
            background-position: 0 -36px;
        }
        .policymanagement{
            background-position: 0 -216px;
        }
        .audit{
             background-position: 0 -250px;
        }
        .setup{
            background-position: 0 -288px;
        }
        .setting{
            background-position: 0 -324px;
        }
        .DevV{
            background-position: -19px -72px;
        }
        .TestV{
            background-position: -19px -103px;
        }
        .deploymentverification{
            background-position: -19px -141px;
        }
        .Monitoring{
            background-position: -19px -180px;
        }
        .fa-eye:before {
            font-size: 16px;
            padding-right: 0px;
            color: #aaa;
        }
        .fa-line-chart:before {
            font-size: 16px;
            padding-right: 0px;
            color: #aaa;
        }
    }
}
.disabled_menu{
    pointer-events: none;
    opacity: 0.5;
}

.Subactive{
    a{
        color: yellowgreen;
    }
}

