.sidebar{
	top: 0;
	left: 0;
	color: #789;
	height: 100%;
	width: 260px;
	z-index: 1001;
	position: fixed;
    background: #2f4151;
    li{
        cursor: pointer;
    }
    .sidebar_header{
        margin-bottom: 25px;
        padding: 15.5px 25px;
        border-bottom: 2px solid #3d4d5c;
    }
    .sidebar_nav{
        a{
            color: #789;
            display: block;
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;
            padding: 5px 15px 5px 25px;
            border-left: 2px transparent solid;
            &:hover{
                background-color: rgba(60, 78, 93, 0.6);
                border-left-color: rgba(0, 159, 255, 0.6);
            }
        }
        .subnav a{
            padding-left: 40px;
        }
        .active > a{
            background-color: #3c4e5d;
            border-left: 2px #009fff solid;

        }
        .badge{
            display: inline-block;
            vertical-align: 0.1em;
            text-align: center;
            font-weight: 300;
            margin-left: 8px;
            width: 15px;
            width: 25px;
            padding: 0 5px;
            line-height: 17px;
            border-radius: 10px;
        }
        .icon{
            background-image: url(/../../assets/images/icons.png);
            background-repeat: no-repeat;
            vertical-align: -7px;
            display: inline-block;
            margin-right: 8px;
            height: 20px;
            width: 18px;
        }
        .oesdashboard{
            background-position: 0 0;
        }
        .appdashboard{
            background-position: 0 -36px;
        }
        .management{
            background-position: 0 -216px;
        }
        .audit{
             background-position: 0 -250px;
        }
        .setup{
            background-position: 0 -288px;
        }
        .setting{
            background-position: 0 -324px;
        }
        .DevV{
            background-position: -19px -72px;
        }
        .TestV{
            background-position: -19px -103px;
        }
        .DeployV{
            background-position: -19px -141px;
        }
        .Monitoring{
            background-position: -19px -180px;
        }
    }
}
   .disabled_menu{
    pointer-events: none;
    opacity: 0.5;
   }
