.sidebar{
    li{
        cursor: pointer;
    }
    .sidebar_nav{
        .oesdashboard{
            background-position: 0 0;
        }
        .appdashboard{
            background-position: 0 -36px;
        }
        .policymanagement{
            background-position: 0 -216px;
        }
        .audit{
             background-position: 0 -250px;
        }
        .setup{
            background-position: 0 -288px;
        }
        .setting{
            background-position: 0 -324px;
        }
        .DevV{
            background-position: -19px -72px;
        }
        .TestV{
            background-position: -19px -103px;
        }
        .DeployV{
            background-position: -19px -141px;
        }
        .Monitoring{
            background-position: -19px -180px;
        }
    }
}
   .disabled_menu{
    pointer-events: none;
    opacity: 0.5;
   }
