.cdDashboard{
    .dots-container {
        padding: 106px 0px;
    }
    .graph-blank {
        margin: 94px 0px !important;
    }
    .type-not-exist{
        i{
            font-size: xx-large;
            color: lightgrey;
        }
        text-align: center;
        font-size: 15px;
        margin: 103px 0px;
        color: #999;
    }
}
.chart-legend .legend-title-text {
    vertical-align: bottom;
    display: none !important;
    line-height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
