<mat-tab-group animationDuration="0ms">
    <mat-tab label="Log Template">
        <mat-horizontal-stepper labelPosition="bottom" #stepper>
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Log Provider</ng-template>
                <app-log-provider></app-log-provider>
                <div>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Log Topics</ng-template>
                <app-log-topics></app-log-topics>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Log Tags</ng-template>
              <app-log-tags></app-log-tags>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
    </mat-tab>
    <mat-tab label="Editor">
        <app-log-template-editor></app-log-template-editor>
    </mat-tab>
</mat-tab-group>
