<table class="table valign-middle table-bottom-border">
    <thead>
      <tr>
        <th style="width:40px">{{childData.name}}</th>
        <th class="text-center scorebox">SCORE </th>
        <th class="text-center">RANK</th>
        <th class="text-center">CRITICAL</th>
        <th class="text-center">WATCHLIST</th>
        <th class="text-center">INTERVALS</th>
      </tr>
    </thead>
    <tbody>
        <tr class="{{selectedType === childData.category && selectedMetricName === metridata.metricName && selectedRow === i ? 'selected-row' : ''}} dataRow" 
          *ngFor = "let metridata of childData.metricList | filter:searchData; let i=index" id="{{childData.category}}" 
          (click)="onSelectRow(i,childData.category,metridata.metricName)">
          <td class="cell-heading">
            <div [innerHTML] = "childMetricName(metridata.metricName)"></div>
          </td>
          <td class="text-center"><span class="countBox {{assignProperColor(metridata.metricScore)}} scorebox">{{metridata.metricScore}}</span></td>
          <td class="text-center customtd">{{metridata.relevance}}</td>
          <td class="text-center customtd"><i *ngIf="metridata.critical" class="fa fa-check" aria-hidden="true"></i><span *ngIf="!metridata.critical">-</span></td>
          <td class="text-center customtd"><i *ngIf="metridata.watchlist" class="fa fa-check" aria-hidden="true"></i><span *ngIf="!metridata.watchlist">-</span></td>
          <td class="text-center customtd">
            <ng-container *ngFor="let interval of intervalCount(metridata.bucketscores);let j=index">
              <span class="countBox {{assignProperColor(interval)}} scorebox" data-toggle="tooltip" data-placement="top" title="Interval {{j+1}}">{{interval}}</span>
            </ng-container>
          </td>
        </tr>
    </tbody>
</table>