<div class="main_content p-0">
    <div class="page-content">
        <div class="row no-gutters row-fit-vh">
            <div class="col-sm-12 d-flex flex-column">
                <div class="h-100 d-flex flex-column">
                    <div class="tab-content h-100 flex-grow-1">
                        <div class="main_content p-0">
                            <div class="page-content">
                              <div class="row no-gutters row-fit-vh">
                                <div class="col-sm-12 d-flex flex-column">
                                  <div class="h-100 d-flex flex-column">
                                    <div class="tab-content h-100 p-3 flex-grow-1">
                                      <div class="tab-pane d-flex flex-column bg-white h-100 fade show active">
                                        <h1>Hello</h1>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- /.tab-lined -->
                                </div>
                                <!-- /.col-sm-8 -->
                              </div>
                              <!-- /.row -->
                            </div>
                            <!-- /.page-content -->
                          </div>
                          <!-- /.main_content -->
                    </div>
                </div>
                <!-- /.tab-lined -->
            </div>
            <!-- /.col-sm-8 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.page-content -->
</div>
<!-- /.main_content -->