<div class="main_content p-0">
    <div class="page-content">
        <div class="row no-gutters row-fit-vh">
            <div class="col-sm-12 d-flex flex-column">
                <div class="h-100 d-flex flex-column">
                    <div class="tab-content h-100 flex-grow-1">
                        <div class="main_content p-0">
                            <div class="page-content">
                              <div class="row no-gutters row-fit-vh">
                                <div class="col-sm-12 d-flex flex-column">
                                  <div class="h-100 d-flex flex-column">
                                    <div class="tab-content h-100 p-3 flex-grow-1">
                                      <div class="tab-pane d-flex flex-column bg-white h-100 fade show active">
                                        <div class="tab-content h-100 p-3 flex-grow-1">
                                            <div class="tab-pane d-flex flex-column bg-white h-100 fade show active">
                                            
                                              <!-- /.page_access ml-auto -->
                                              <div class="setup-content">
                                                <div class="row">
                                            
                                                  <!-- ###################### Tree Section Starts #####################################-->
                                            
                                                  <div class="col-sm-3">
                                                    <div class="sidebar-tree">
                                                      <ul class="tree-inset  list-unstyled tree-active">
                                                        <li class="ti-title">
                                                          <i class="fas fa-check-circle"></i>
                                                          <span>Endpoint Details</span>
                                                        </li>
                                                        <br>
                                                        <li class="ti-item">
                                                          <i class="fas fa-check-circle"></i>
                                                          <span>Endpoint Type :</span>
                                                          <strong>test</strong>
                                                        </li>
                                                        <br>
                                                        <li class="ti-item">
                                                          <i class="far fa-dot-circle"></i>
                                                          <span>Endpoint Url :</span>
                                                          <strong>test</strong>
                                                        </li>
                                                        <br>
                                                      </ul>
                                                      
                                                      <ul class="tree-inset  list-unstyled tree-active">
                                                        <li class="ti-title">
                                                          <i class="fas fa-check-circle"></i>
                                                          <span>Dynamic Policies</span>
                                                        </li>
                                                        <br>
                                                        <br>
                                                        <li class="ti-item">
                                                          <i class="fas fa-check-circle"></i>
                                                          <span>Policy Name :</span>
                                                          <strong>test</strong>
                                                        </li>
                                                        <br>
                                                        <br>
                                                        <li class="ti-item">
                                                          <i class="far fa-dot-circle"></i>
                                                          <span>Policy Description :</span>
                                                          <strong>test</strong>
                                                        </li>
                                                        <br>
                                                        <br>
                                                      </ul>
                                                      <ul class="tree-inset tree-finished list-unstyled tree-active">
                                                        <li class="ti-title">
                                                          <i class="fas fa-circle"></i>
                                                          <span>Finish Policies</span>
                                                        </li>
                                                      </ul>
                                                      <!-- /.tree-inset -->
                                                    </div>
                                                    <!-- /.sidebar-tree -->
                                                  </div>
                                                  <!-- /.col-sm-3 -->
                                            
                                                  <!-- ###################### Tree Section Starts #####################################-->
                                            
                                                  <div class="col-sm-9">
                                                    <div class="p-3">
                                                      <div class="row">
                                            
                                                        <!-- ###################### Endpoint Section Starts #####################################-->
                                            
                                                        <div class="col-6">
                                                          <form [formGroup]="endpointForm">
                                                            <div class="form-group">
                                                              <label>Endpoint Type</label>
                                                              <input type="text" class="form-control" formControlName="endpointType">
                                                              <span *ngIf="endpointForm.get('endpointType').invalid && endpointForm.get('endpointType').touched"
                                                                class="help-block">
                                                                <span *ngIf="endpointForm.get('endpointType').errors['required']">Endpoint Type is required</span>
                                                              </span>
                                                            </div>
                                                            <!-- /.form-group -->
                                                            <div class="form-group">
                                                              <label>Endpoint URL</label>
                                                              <textarea class="form-control" rows="3" formControlName="endpointUrl"></textarea>
                                                            </div>
                                                          </form>
                                                        </div>
                                                        <!-- /.col-6 -->
                                            
                                                        <!-- ###################### Endpoint Section Ends #####################################-->
                                                      </div>
                                                      <div class="row">
                                                          <div class="col-12">
                                                            <ul class="nav pt-2 bg-white tab-lined nav-tabs" id="myTab" role="tablist">
                                                                <li class="nav-item active">
                                                                    <a class="nav-link">Dynamic Policies</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a class="nav-link">Static Policies</a>
                                                                </li>
                                                            </ul>
                                                            <div class="col-12 policyContent">
                                                                <br>
                                                                <div class="col-12">
                                                                    <div class="row">
                                                                        <div class="col-5 policyList">
                                                                            <table class="table table-sticky table-striped mb-0">
                                                                                <thead>
                                                                                  <tr>
                                                                                    <th class="font-weight-bold">POLICY NAME</th>
                                                                                    <th class="font-weight-bold">TYPE</th>
                                                                                    <th class="font-weight-bold">ACTION</th>
                                                                                  </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                  <tr>
                                                                                    <td>ekspromethues</td>
                                                                                    <td>prometheus</td>
                                                                                    <td>
                                                                                        <a   class="text-muted"  data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                                                        <a    class="text-muted ml-2"  data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash-alt"></i></a>
                                                                                      </td>
                                                                                  </tr>
                                                                                  <tr>
                                                                                    <td>ElasticCredentials</td>
                                                                                    <td>elasticsearch</td>
                                                                                    <td>
                                                                                        <a   class="text-muted"  data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                                                        <a    class="text-muted ml-2"  data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash-alt"></i></a>
                                                                                      </td>
                                                                                  </tr>
                                                                                  <tr>
                                                                                    <td>ekspromethues</td>
                                                                                    <td>prometheus</td>
                                                                                    <td>
                                                                                        <a   class="text-muted"  data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                                                        <a    class="text-muted ml-2"  data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash-alt"></i></a>
                                                                                      </td>
                                                                                  </tr>
                                                                                  <tr>
                                                                                    <td>ElasticCredentials</td>
                                                                                    <td>elasticsearch</td>
                                                                                    <td>
                                                                                        <a   class="text-muted"  data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                                                        <a    class="text-muted ml-2"  data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash-alt"></i></a>
                                                                                      </td>
                                                                                  </tr>
                                                                                  <tr>
                                                                                    <td>ekspromethues</td>
                                                                                    <td>prometheus</td>
                                                                                    <td>
                                                                                        <a   class="text-muted"  data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                                                        <a    class="text-muted ml-2"  data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash-alt"></i></a>
                                                                                      </td>
                                                                                  </tr>
                                                                                  <tr>
                                                                                    <td>ElasticCredentials</td>
                                                                                    <td>elasticsearch</td>
                                                                                    <td>
                                                                                        <a   class="text-muted"  data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                                                        <a    class="text-muted ml-2"  data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash-alt"></i></a>
                                                                                      </td>
                                                                                  </tr>
                                                                                  <tr>
                                                                                    <td>ekspromethues</td>
                                                                                    <td>prometheus</td>
                                                                                    <td>
                                                                                        <a   class="text-muted"  data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                                                        <a    class="text-muted ml-2"  data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash-alt"></i></a>
                                                                                      </td>
                                                                                  </tr>
                                                                                  <tr>
                                                                                    <td>ElasticCredentials</td>
                                                                                    <td>elasticsearch</td>
                                                                                    <td>
                                                                                        <a   class="text-muted"  data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                                                        <a    class="text-muted ml-2"  data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash-alt"></i></a>
                                                                                      </td>
                                                                                  </tr>
                                                                                  <tr>
                                                                                    <td>ekspromethues</td>
                                                                                    <td>prometheus</td>
                                                                                    <td>
                                                                                        <a   class="text-muted"  data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                                                        <a    class="text-muted ml-2"  data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash-alt"></i></a>
                                                                                      </td>
                                                                                  </tr>
                                                                                  <tr>
                                                                                    <td>ElasticCredentials</td>
                                                                                    <td>elasticsearch</td>
                                                                                    <td>
                                                                                        <a   class="text-muted"  data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                                                        <a    class="text-muted ml-2"  data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash-alt"></i></a>
                                                                                      </td>
                                                                                  </tr>
                                                                                  <tr>
                                                                                    <td>ekspromethues</td>
                                                                                    <td>prometheus</td>
                                                                                    <td>
                                                                                        <a   class="text-muted"  data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                                                        <a    class="text-muted ml-2"  data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash-alt"></i></a>
                                                                                      </td>
                                                                                  </tr>
                                                                                  <tr>
                                                                                    <td>ElasticCredentials</td>
                                                                                    <td>elasticsearch</td>
                                                                                    <td>
                                                                                        <a   class="text-muted"  data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                                                        <a    class="text-muted ml-2"  data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash-alt"></i></a>
                                                                                      </td>
                                                                                  </tr>
                                                                                  <tr>
                                                                                    <td>ekspromethues</td>
                                                                                    <td>prometheus</td>
                                                                                    <td>
                                                                                        <a   class="text-muted"  data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                                                        <a    class="text-muted ml-2"  data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash-alt"></i></a>
                                                                                      </td>
                                                                                  </tr>
                                                                                  <tr>
                                                                                    <td>ElasticCredentials</td>
                                                                                    <td>elasticsearch</td>
                                                                                    <td>
                                                                                        <a   class="text-muted"  data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                                                        <a    class="text-muted ml-2"  data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash-alt"></i></a>
                                                                                      </td>
                                                                                  </tr>
                                                                                  <tr>
                                                                                    <td>ekspromethues</td>
                                                                                    <td>prometheus</td>
                                                                                    <td>
                                                                                        <a   class="text-muted"  data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                                                        <a    class="text-muted ml-2"  data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash-alt"></i></a>
                                                                                      </td>
                                                                                  </tr>
                                                                                  <tr>
                                                                                    <td>ElasticCredentials</td>
                                                                                    <td>elasticsearch</td>
                                                                                    <td>
                                                                                        <a   class="text-muted"  data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                                                        <a    class="text-muted ml-2"  data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash-alt"></i></a>
                                                                                      </td>
                                                                                  </tr>
                                                                                  <tr>
                                                                                    <td>ekspromethues</td>
                                                                                    <td>prometheus</td>
                                                                                    <td>
                                                                                        <a   class="text-muted"  data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                                                        <a    class="text-muted ml-2"  data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash-alt"></i></a>
                                                                                      </td>
                                                                                  </tr>
                                                                                  <tr>
                                                                                    <td>ElasticCredentials</td>
                                                                                    <td>elasticsearch</td>
                                                                                    <td>
                                                                                        <a   class="text-muted"  data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                                                        <a    class="text-muted ml-2"  data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash-alt"></i></a>
                                                                                      </td>
                                                                                  </tr>
                                                                                  <tr>
                                                                                    <td>ekspromethues</td>
                                                                                    <td>prometheus</td>
                                                                                    <td>
                                                                                        <a   class="text-muted"  data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                                                        <a    class="text-muted ml-2"  data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash-alt"></i></a>
                                                                                      </td>
                                                                                  </tr>
                                                                                  <tr>
                                                                                    <td>ElasticCredentials</td>
                                                                                    <td>elasticsearch</td>
                                                                                    <td>
                                                                                        <a   class="text-muted"  data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                                                        <a    class="text-muted ml-2"  data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash-alt"></i></a>
                                                                                      </td>
                                                                                  </tr>
                                                                                </tbody>
                                                                              </table>
                                                                        </div>
                                                                        <div class="col-7">
                                                                            <form [formGroup]="policyForm">
                                                                                <div class="form-group">
                                                                                  <label>Name</label>
                                                                                  <input type="text" class="form-control w-5" formControlName="name">
                                                                                  <span *ngIf="policyForm.get('name').invalid && policyForm.get('name').touched"
                                                                                    class="help-block">
                                                                                    <span *ngIf="policyForm.get('name').errors['required']">Name is required</span>
                                                                                  </span>
                                                                                </div>
                                                                                <!-- /.form-group -->
                                                                                <div class="form-group">
                                                                                  <label>Description</label>
                                                                                  <textarea class="form-control w-5" rows="3" formControlName="description"></textarea>
                                                                                </div>
                                                                                <!-- /.form-group -->
                                                                                <div class="form-group">
                                                                                  <label>Policy Details</label>
                                                                                  <textarea type="text" class="form-control policyDetailText" formControlName="policyDetails"></textarea>
                                                                                  <span *ngIf="policyForm.get('policyDetails').invalid && policyForm.get('policyDetails').touched"
                                                                                    class="help-block">
                                                                                    Image Source is required
                                                                                  </span>
                                                                                </div>
                                                                              </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <br>
                                                            </div>
                                                           
                                                          </div>
                                                      </div>
                                                      <!-- /.row -->
                                                    </div>
                                                    <div class="p-3 bottom-strp-cover gray-strip text-right">
                                                        <button class="btn btn-default">Cancel</button>
                                                        <button class="btn btn-default ml-2" disabled="disabled">Load</button> 
                                                        <button class="btn btn-primary ml-2">Save & Finish</button>
                                                      </div>
                                                  </div>
                                                  <!-- /.col-sm-9 -->
                                                </div>
                                                <!-- /.row -->
                                              </div>
                                              <!-- /.setup-content -->
                                            </div>
                                          </div>
                                          
                                      </div>
                                    </div>
                                  </div>
                                  <!-- /.tab-lined -->
                                </div>
                                <!-- /.col-sm-8 -->
                              </div>
                              <!-- /.row -->
                            </div>
                            <!-- /.page-content -->
                          </div>
                          <!-- /.main_content -->
                    </div>
                </div>
                <!-- /.tab-lined -->
            </div>
            <!-- /.col-sm-8 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.page-content -->
</div>
<!-- /.main_content -->