<div *ngIf = "ChartShow">
<div class="col-sm-1" class="containerClose" *ngIf = "Correlationflag">
 
  <button type="button" class="close pull-right" aria-label="Close" (click)="closeTimeAnalysis()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<ngx-charts-line-chart
  [view]="view"
  [scheme]="colorScheme"
  [legend]="showLegend"
  [legendTitle]="legendTitle"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [timeline]="timeline"
  [results]="dataSource"
  [gradient]="gradient"
  [legendPosition]="legendPosition"
  [animations]="animations"
  [autoScale]="autoScale"
  [tooltipDisabled] = "false"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  style="fill: #999999; color: black;">

  <div *ngIf="TrendAnalysisFlag">
  <ng-template #tooltipTemplate let-model="model">
    <div class="seriesToolTip">
      <div class="font16"> {{model.series}} | {{model.value}}</div>
      <div>{{model.name}}</div>
    </div>
  </ng-template>

  <ng-template #seriesTooltipTemplate let-model="model">
    <!-- fields are series/name/value --> 
    <div class="toolTip">
      <div class="eachtoolTip" *ngFor="let data of model" style="color: white">
            <div *ngIf="data.extra.canaryId != undefined" class="canaryId"> Canary Id: {{data.extra.canaryId}} </div>
            <div class="font12"> <i class="fa fa-square" aria-hidden="true" [style.color]="data.color"></i> &nbsp; {{data.series}} | {{data.value}}</div>
      </div>
    </div>
  </ng-template>
  </div>

</ngx-charts-line-chart>
</div>