<div *ngIf = "ChartShow">
<div class="col-sm-1" class="containerClose" *ngIf = "Correlationflag">
 
  <button type="button" class="close pull-right" aria-label="Close" (click)="closeTimeAnalysis()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<ngx-charts-line-chart
  [view]="view"
  [scheme]="colorScheme"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [timeline]="timeline"
  [results]="dataSource"
  [gradient]="gradient"
  [legendPosition]="legendPosition"
  [animations]="animations"
  [autoScale]="autoScale"
  [tooltipDisabled] = "false"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  style="fill: #999999; color: black;">

  <ng-template #tooltipTemplate let-model="model">
    This is vertical line tooltip template - NEW
  </ng-template>

  <ng-template #seriesTooltipTemplate let-model="model">
    <!-- fields are series/name/value --> 
    <div class="toolTip" *ngFor="let data of model" style="color: white">
      <p>{{data.series}}|{{data.value}}</p>
    </div>
  </ng-template>

</ngx-charts-line-chart>
</div>