.containerClose
{
    float: right;
}

  .chart-legend {
    .legend-labels {
      background: rgba(255, 255, 255, 0.05) !important;
    }
}
.seriesToolTip{
  padding: 10px 5px;
.font16{
  font-size: 16px;
  font-weight: bold;
}
}
.toolTip{
  padding: 10px 5px;
}
.eachtoolTip{
  padding: 3px;
  text-align: left;
.canaryId{
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 15px;
  text-align: center;
}
.font12{
  font-size: 12px;
  padding: 0px;
}

}