<div *ngIf = "ChartShow">
<div class="col-sm-1" class="containerClose" *ngIf = "Correlationflag">
  <button class="close " mat-button (click)="closeTimeAnalysis()"><b>X</b></button>
</div>
<ngx-charts-line-chart
  [view]="view"
  [scheme]="colorScheme"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [timeline]="timeline"
  [results]="dataSource"
  [gradient]="gradient"
  [legendPosition]="legendPosition"
  [animations]="animations"
  [autoScale]="autoScale"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  style="fill: #999999;">
</ngx-charts-line-chart>
</div>