        <div class="main_content p-0 bg-white">
          <div class="d-flex">
            <div class="leftBox bg-white mw-250">
              <div class="leftBox_header text-muted text-center">
                <form class="example-form-application">
                  <mat-form-field class="example-full-width">
                    <mat-label>Application</mat-label>
                    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="autoApplication" >
                    <mat-autocomplete #autoApplication="matAutocomplete" [displayWith]="displayFn">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option.name}} &nbsp;&nbsp; <img mat-card-image src="../../../assets/images/fail-icon.png" alt="Photo of a Shiba Inu">
                        
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </form>
                <span>Pet Service Application &nbsp;&nbsp;</span><span><img src="../../../assets/images/fail-icon.png" alt="status"/></span>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button [ngStyle]="{cursor : decrementDisable ? 'no-drop' :'pointer' }" class="input-group-text" (click)="decrementInputVar(inputVar)" type="button" id="button-addon1"><i class="fa fa-minus"></i></button>
                  </div>
                  <form class="example-form" >
                    <input type="text" class="form-control text-center"
                           [formControl]="control"  
                           [matAutocomplete]="autoCanaries" [(ngModel)]="inputVar">
                    <mat-autocomplete #autoCanaries="matAutocomplete">
                      <mat-option *ngFor="let canaryId of filteredCanaries | async" [value]="canaryId">
                        {{canaryId}}
                      </mat-option>
                    </mat-autocomplete>
                  </form>
                  <div  class="input-group-prepend">
                    <button  [ngStyle]="{cursor : incredementDisable ? 'no-drop' :'pointer' }" (click)="incrementInputVar(inputVar)" class="input-group-text" type="button" id="button-addon1"><i class="fa fa-plus"></i></button>
                  </div>
                  <br>
                </div>
              </div>
              <!-- /.leftBox_header -->
              <div class="leftBox_body">
                <table class="table table-sm table-avenir table-no-bordered table-no-dots">
                  <tbody>
                    <tr>
                      <td>CAS-service</td>
                      <td width="30" class="text-danger">45</td>
                      <td width="30" class="text-danger">FAIL</td>
                    </tr>
                    <tr>
                      <td>CAS-service</td>
                      <td width="30" class="text-danger">45</td>
                      <td width="30" class="text-danger">FAIL</td>
                    </tr>
                    <tr class="active-service">
                      <td>CAS-service</td>
                      <td width="30" class="text-danger">45</td>
                      <td width="30" class="text-danger">FAIL</td>
                    </tr>
                    <tr class="not-attempt-text">
                      <td>CAS-service</td>
                      <td width="30" class="text-dark">N/A</td>
                      <td width="30">N/A</td>
                    </tr>
                    <tr>
                      <td>XYZ Service</td>
                      <td width="30" class="text-danger">49</td>
                      <td width="30" class="text-danger">FAIL</td>
                    </tr>
                    <tr>
                      <td>SMARTService</td>
                      <td width="30" class="text-danger">53</td>
                      <td width="30" class="text-danger">FAIL</td>
                    </tr>
                    <tr class="not-attempt-text">
                      <td>PetService</td>
                      <td width="30" class="text-dark">N/A</td>
                      <td width="30">N/A</td>
                    </tr>
                    <tr>
                      <td>SMARTEMP</td>
                      <td width="30" class="text-danger">39</td>
                      <td width="30" class="text-danger">FAIL</td>
                    </tr>
                  </tbody>
                </table>
                <!-- /.table -->
                <div class="chart_ratio text-center d-flex">
                  <div class="chart_value bg-info flex-grow-1">
                    <div class="cv_heighlight text-muted">08</div>
                    <!-- /.cv_heighlight -->
                    <div class="cv_name text-muted">Services</div>
                    <!-- /.cv_name -->
                  </div>
                  <!-- /.chart_value low -->
                  <div class="chart_value flex-grow-1">
                    <div class="cv_heighlight text-danger">06</div>
                    <!-- /.cv_heighlight -->
                    <div class="cv_name text-muted">Failed</div>
                    <!-- /.cv_name -->
                  </div>
                  <!-- /.chart_value alert -->
                  <div class="chart_value cv_alert flex-grow-1">
                    <div class="cv_heighlight text-muted">2</div>
                    <!-- /.cv_heighlight -->
                    <div class="cv_name text-muted">Review</div>
                    <!-- /.cv_name -->
                  </div>
                  <!-- /.chart_value alert -->
                  <div class="chart_value cv_alert flex-grow-1">
                    <div class="cv_heighlight">0</div>
                    <!-- /.cv_heighlight -->
                    <div class="cv_name text-muted">Success</div>
                    <!-- /.cv_name -->
                  </div>
                  <!-- /.chart_value alert -->
                </div>
                <div class="audit-info px-1 d-flex bg-white">
                  <div>
                    <h4>0</h4>
                    <span class="text-muted">In Progress</span>
                  </div>
                  </div>
              <!-- <div class="audit-info px-3 d-flex bg-white">
                <div>
                  <h4 class="text-danger">6</h4>
                  <span class="text-muted">Failed</span>
                </div>
                <div>
                  <h4 class="text-dark">2</h4>
                  <span class="text-muted">Review</span>
                </div>
                <div>
                  <h4 class="text-success">0</h4>
                  <span class="text-muted">Success</span>
                </div>
                <!-- <div>
                  <h4 class="text-dark">10</h4>
                  <span class="text-muted">In Progress</span>
                </div> -->
              <!-- </div> --> 
              <!-- /.leftBox_body -->
              <div class="form-group col-12 text-muted">
                <!-- <label>Application</label> -->
                <select class="form-control">
                  <option value="All">All (8)</option>
                  <option>Select Service</option>
                  <option value="Service 2">Service 2</option>
                  <option value="Service 1">Service 1</option>
                  <option value="Service 2">Service 2</option>
                </select>
              </div>
              <div class="card border-0">
                <div class="card-body">
              <div class="graph-header d-flex align-items-center justify-content-between">
                <!-- <div class="graph-title">
                  <img src="../../../assets/images/drag-dots.png" alt="dots" />
                  Application
                </div> -->
                <!-- /.graph-title -->
                <div class="graph-body">
                  <img src="../../../assets/images/pie-chart.png" class="d-block w-100" alt="">
                </div>
                <!-- /.graph-controls -->
              </div>
            </div>
            </div>
            </div>
          </div>
            <!-- /.leftBox w-250 -->


            <!-- Modal -->
            <div class="modal bd-example-modal-lg fade" id="manualTrigger" tabindex="-1" role="dialog" aria-labelledby="manualTriggerLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Manual Canary Trigger</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <i class="fa fa-times"></i>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group text-muted">
                        <label>Application <span data-toggle="tooltip" data-placement="right" title="Tooltip on right"><img src="../../../assets/images/help_icon.png" alt="icon" /></span></label>
                        <select class="form-control col-sm-6">
                          <option value=""></option>
                          <option>Choose</option>
                        </select>
                      </div>
                      <div class="form-group text-muted">
                        <label>User Name <img src="../../../assets/images/help_icon.png" alt="icon" /></label>
                        <input type="text" class="form-control col-sm-6" autofocus="true" />
                      </div>
                      <div class="form-group text-muted">
                        <label>Canary Lifetime <img src="../../../assets/images/help_icon.png" alt="icon" /></label>
                        <div class="d-flex align-items-center">
                          <input type="text" class="form-control mr-2 col-sm-6" />
                          <span>hours</span>
                        </div>
                      </div>
                      <div class="form-group text-muted">
                        <label>Combined Canary Result Strategy <img src="../../../assets/images/help_icon.png" alt="icon" /></label>
                        <select class="form-control col-sm-6">
                          <option value="">Select Strategy</option>
                          <option>Option</option>
                          <option>Option</option>
                          <option>Option</option>
                        </select>
                      </div>
                      <div class="form-group text-muted position-relative">
                        <label>Successful Score <img src="../../../assets/images/help_icon.png" alt="icon" /></label>
                        <input type="text" class="form-control is-invalid col-sm-6" />
                        <div class="invalid-feedback">
                          Error message goes here.
                        </div>
                      </div>
                      <div class="form-group text-muted">
                        <label>Unhealthy Score <img src="../../../assets/images/help_icon.png" alt="icon" /></label>
                        <input type="text" class="form-control col-sm-6" />
                      </div>

                      <div class="text-divider">
                        <h4>Analysis Config</h4>
                      </div>

                      <div class="form-group text-muted">
                        <label>Metric Template Name <img src="../../../assets/images/help_icon.png" alt="icon" /></label>
                        <select class="form-control col-sm-6">
                          <option value="">Select Metric Template</option>
                          <option>Option</option>
                          <option>Option</option>
                          <option>Option</option>
                        </select>
                      </div>
                      <div class="form-group text-muted">
                        <label>Log Template Name <img src="../../../assets/images/help_icon.png" alt="icon" /></label>
                        <select class="form-control col-sm-6">
                          <option value="">Select Log Template</option>
                          <option>Option</option>
                          <option>Option</option>
                          <option>Option</option>
                        </select>
                      </div>
                      <div class="form-group text-muted">
                        <label>Begin Canary Analysis After Mins <img src="../../../assets/images/help_icon.png" alt="icon" /></label>
                        <input type="text" class="form-control col-sm-6" />
                      </div>
                      <div class="form-group text-muted">
                        <label>Canary Analysis interval mins <img src="../../../assets/images/help_icon.png" alt="icon" /></label>
                        <input type="text" class="form-control col-sm-6" />
                      </div>

                      <div class="text-divider">
                        <h4>Matric Scope</h4>
                      </div>
                      <div class="form-group text-muted">
                        <label>Baseline Identifier <img src="../../../assets/images/help_icon.png" alt="icon" /></label>
                        <input type="text" class="form-control col-sm-6" />
                      </div>
                      <div class="form-group text-muted">
                        <label>Canary Identifier <img src="../../../assets/images/help_icon.png" alt="icon" /></label>
                        <input type="text" class="form-control col-sm-6" />
                      </div>
                      <div class="form-group text-muted">
                        <label>Baseline StartTtime <img src="../../../assets/images/help_icon.png" alt="icon" /></label>
                        <input type="text" class="form-control col-sm-6" />
                      </div>
                      <div class="form-group text-muted">
                        <label>Canary Start Time <img src="../../../assets/images/help_icon.png" alt="icon" /></label>
                        <input type="text" class="form-control col-sm-6" />
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-default" data-dismiss="modal" aria-label="Close">Cancel</button>
                    <button type="submit" class="btn  btn-primary">Trigger</button>
                  </div>
                  <!-- /.modal-footer -->
                </div>
              </div>
            </div>

            <div class="page-content flex-grow-1">
              <div class="page_title page_title_inner title_icon px-3 d-flex align-items-center">
                <h3><img src="../../../assets/images/application-icon.png" alt="" />Pet Service » 11883 » RestService 1</h3>
                <div class="page_access d-flex ml-auto">
                  <button class="btn btn-default" data-toggle="modal" data-target="#manualTrigger" data-backdrop="static" data-keyboard="false">Manual Trigger</button>
                </div>
                <!-- /.page_access ml-auto -->
              </div>
              <!-- /.page_title d-flex -->

              <div class="row no-gutters">
                <mat-drawer-container class="col-md-12">
                  <mat-drawer #sideNav mode="side" opened="true" [position]="nav_position" class="col-md-4">
                    
                      <div class="rightBox m-0 position-sticky">
                        <div class="rightBox_header bg-white d-flex align-items-center">
                          <div class="btns_icon d-flex ml-auto">
                            <button class="btn p-0" data-toggle="tooltip" data-placement="top" title="Download"><img src="../../../assets/images/download.png" alt="download" /></button>
                            <button class="btn p-0 ml-2" data-toggle="tooltip" data-placement="top" title="Add"><img src="../../../assets/images/plus_icon.png" alt="plus" /></button>
                            <button class="btn p-0 ml-2" data-toggle="tooltip" data-placement="top" title="Edit"><img src="../../../assets/images/edit_icon.png" alt="edit" /></button>
                          </div>
                          <!-- /.btns_icon -->
                        </div>
                        <!-- /.rightBox_header -->
                        <div class="rightBox_body pt-0">
                          <div class="chart_ratio mb-3 text-center d-flex">
                            <div class="chart_value cv_low flex-grow-1">
                              <div class="cv_heighlight">Low</div>
                              <!-- /.cv_heighlight -->
                              <div class="cv_name">Confidence</div>
                              <!-- /.cv_name -->
                            </div>
                            <!-- /.chart_value low -->
                            <div class="chart_value cv_alert flex-grow-1">
                              <div class="cv_heighlight">60</div>
                              <!-- /.cv_heighlight -->
                              <div class="cv_name">Metrics</div>
                              <!-- /.cv_name -->
                            </div>
                            <!-- /.chart_value alert -->
                            <div class="chart_value cv_alert flex-grow-1">
                              <div class="cv_heighlight text-danger">35</div>
                              <!-- /.cv_heighlight -->
                              <div class="cv_name">Logs</div>
                              <!-- /.cv_name -->
                            </div>
                            <!-- /.chart_value alert -->
                          </div>
                          <!-- /.chart_ratio -->
                          <div class="chart_ratio mb-3 text-center d-flex">
                            <div class="chart_value cv_low flex-grow-1">
                              <div class="cv_heighlight">78</div>
                              <!-- /.cv_heighlight -->
                              <div class="cv_name">Metrics</div>
                              <!-- /.cv_name -->
                            </div>
                            <!-- /.chart_value low -->
                            <!-- /.chart_value alert -->
                            <div class="chart_value cv_alert flex-grow-1">
                              <div class="cv_heighlight text-danger">42</div>
                              <!-- /.cv_heighlight -->
                              <div class="cv_name">Failed</div>
                              <!-- /.cv_name -->
                            </div>
                            <div class="chart_value cv_alert flex-grow-1">
                              <div class="cv_heighlight text-warning">6</div>
                              <!-- /.cv_heighlight -->
                              <div class="cv_name">Warning</div>
                              <!-- /.cv_name -->
                            </div>
                            <div class="chart_value cv_alert flex-grow-1">
                              <div class="cv_heighlight">30</div>
                              <!-- /.cv_heighlight -->
                              <div class="cv_name">Passed</div>
                              <!-- /.cv_name -->
                            </div>
                            <!-- /.chart_value alert -->
                          </div>
                          <!-- /.chart_ratio -->
    
                          <div class="chart_ratio text-center d-flex">
                            <div class="chart_value cv_low flex-grow-1">
                              <div class="cv_heighlight">05</div>
                              <!-- /.cv_heighlight -->
                              <div class="cv_name">Critical</div>
                              <!-- /.cv_name -->
                            </div>
                            <!-- /.chart_value low -->
                            <div class="chart_value flex-grow-1">
                              <div class="cv_heighlight text-danger">17</div>
                              <!-- /.cv_heighlight -->
                              <div class="cv_name">Error</div>
                              <!-- /.cv_name -->
                            </div>
                            <!-- /.chart_value alert -->
                            <div class="chart_value cv_alert flex-grow-1">
                              <div class="cv_heighlight text-warning">0</div>
                              <!-- /.cv_heighlight -->
                              <div class="cv_name">Warning</div>
                              <!-- /.cv_name -->
                            </div>
                            <!-- /.chart_value alert -->
                            <div class="chart_value cv_alert flex-grow-1">
                              <div class="cv_heighlight">7</div>
                              <!-- /.cv_heighlight -->
                              <div class="cv_name">Cluster</div>
                              <!-- /.cv_name -->
                            </div>
                            <!-- /.chart_value alert -->
                          </div>
                          <!-- /.chart_ratio -->
    
                          <div class="table-responsive">
                            <table class="table table-sm table-sm-text text-left table-no-bordered mb-0">
                            <tbody>
                              <tr>
                                <td width="110">User Name:</td>
                                <td>OpsMxUser</td>
                              </tr>
                              <tr>
                                <td width="110">Canary Id:</td>
                                <td>18888</td>
                              </tr>
                              <tr>
                                <td width="110">Application:</td>
                                <td>multiclouddemo</td>
                              </tr>
                              <tr>
                                <td width="110">Service:</td>
                                <td>kubemultidemotemplate:: kubemultilogtemplate</td>
                              </tr>
                            </tbody>
                          </table>
                          <hr />
                          <table class="table table-sm table-sm-text text-left table-no-bordered mb-0">
                            <tbody>
                              <tr class="font-weight-bold">
                                <td width="110">Baseline:</td>
                                <td>kubedeploy-baseline-v037</td>
                              </tr>
                              <tr>
                                <td width="110">Start time:</td>
                                <td>9/6/2019 3:33:32 PM</td>
                              </tr>
                              <tr>
                                <td width="110">End time:</td>
                                <td>9/6/2019 4:03:32 PM</td>
                              </tr>
                            </tbody>
                          </table>
                          <hr />
                          <table class="table table-sm table-sm-text text-left table-no-bordered mb-0">
                            <tbody>
                              <tr class="font-weight-bold">
                                <td width="110">New Release:</td>
                                <td>kubedeploy-canary-v045</td>
                              </tr>
                              <tr>
                                <td width="110">Start time:</td>
                                <td>9/6/2019 3:33:32 PM</td>
                              </tr>
                              <tr>
                                <td width="110">End time:</td>
                                <td>9/6/2019 4:03:32 PM</td>
                              </tr>
                            </tbody>
                          </table>
                          <hr />
                          <table class="table table-sm table-sm-text text-left table-no-bordered mb-0">
                            <tbody>
                              <tr>
                                <td width="110">Template:</td>
                                <td>kubemultidemotemplate:: kubemultilogtemplate</td>
                              </tr>
                              <tr class="font-weight-bold text-uppercase">
                                <td width="110">STATUS:</td>
                                <td>COMPLETED</td>
                              </tr>
                            </tbody>
                          </table>
                          <hr />
                          <table class="table table-sm table-sm-text text-left table-no-bordered mb-0">
                            <tbody>
                              <tr>
                                <td width="180">Log Score:</td>
                                <td>50</td>
                              </tr>
                              <tr>
                                <td width="180">Baseline log file size:</td>
                                <td>40.17 Kb</td>
                              </tr>
                              <tr>
                                <td width="180">New Release log file size:</td>
                                <td>564.42 Kb</td>
                              </tr>
                              <tr>
                                <td width="180">Baseline log file lines:</td>
                                <td>507</td>
                              </tr>
                              <tr>
                                <td width="180">New Release log file lines:</td>
                                <td>4693</td>
                              </tr>
                              <tr>
                                <td width="180">Canary Analysis Duration:</td>
                                <td>0:0:0</td>
                              </tr>
                              <tr>
                                <td width="180">Interval Minutes:</td>
                                <td>30</td>
                              </tr>
                              <tr>
                                <td width="180">Baseline logs:</td>
                                <td><a href="#" class="text-dark font-weight-bold underline">View Logs</a></td>
                              </tr>
                              <tr>
                                <td width="180">New Release logs: </td>
                                <td><a href="#" class="text-dark font-weight-bold underline">View Logs</a></td>
                              </tr>
                            </tbody>
                          </table>
                          </div>
                          <!-- /.table-responsive -->
                        </div>
                        <!-- /.rightBox_body -->
                      </div>
                      <!-- /.rightBox -->
                   
                  </mat-drawer>
                  <mat-drawer-content >
                    <!-- <button (click)="sideNav.toggle()" mat-button>Toggle SideNav</button> -->
                    <!-- <button (click)="onTogglePosition(nav_position)" mat-button>Toggle Position {{ nav_position }}</button> -->
                    <div class="d-flex flex-column">
                      <div class="pull-right">
                        <button class="pull-right" data-toggle="tooltip" data-placement="left" title="Overall canary run inforamtion for the selected application"  mat-button>
                          <div *ngIf="isShow" (click)="[sideNav.toggle(),getOverallInfo()]"><i  class="fa fa-chevron-right"></i></div>
                          <div *ngIf="!isShow" (click)="[sideNav.toggle(),getOverallInfo()]"><i  class="fa fa-chevron-left"></i></div>

                        </button>
                       </div>
                      <div class="pt-1">
                        <ul class="nav tab-lined nav-tabs" id="myTab" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="log-analysis-tab" data-toggle="tab" href="#log-analysis" role="tab" aria-controls="log-analysis" aria-selected="true">Log Analysis</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="metric-analysis-tab" data-toggle="tab" href="#metric-analysis" role="tab" aria-controls="metric-analysis" aria-selected="false">Metric Analysis</a>
                          </li>
                         
                        </ul>
                        
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane p-4 fade show active" id="log-analysis" role="tabpanel" aria-labelledby="log-analysis-tab">
                                <app-log-analysis></app-log-analysis>
                              </div>
                            <div class="tab-pane p-4 fade" id="metric-analysis" role="tabpanel" aria-labelledby="metric-analysis-tab">
                                <app-metric-analysis></app-metric-analysis>
                              </div>
                        </div>
                      </div>
                      <!-- /.tab-lined -->
                    </div>
                  </mat-drawer-content>
                </mat-drawer-container>
                
                
                
            <!-- /.col-sm-4 -->
              <!-- /.col-sm-4 -->
          </div>
          <!-- /.row -->
            </div>
            <!-- /.page-content -->
          </div>
        </div>
        <!-- /.main_content -->
=