<div *ngIf="!deployementLoading" class="main_content p-0 bg-white">
  <div class="d-flex">
    <div class="leftBox bg-white mw-250">
      <div class="leftBox_body text-muted text-center">
        <form [formGroup]="applicationForm" novalidate class="example-form">
          <mat-form-field>
            <input type="text" matInput placeholder="Select Application" floatLabel="always" formControlName="application" [matAutocomplete]="autoApplication" 
            />
            <mat-autocomplete (optionSelected)="onSelectionChangeApplication($event.option.value)" autoActiveFirstOption #autoApplication="matAutocomplete" >
              <mat-option *ngFor="let applications of applicationListOptions | async" [value]="applications.applicationName">
                {{ applications.applicationName }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
    
      
          <div class="appName"><b>{{selectedApplicationName}}</b> &nbsp;&nbsp;  
            <a *ngIf="deploymentApplicationHealth['applicationHealthStatus'] === 'InProgress'" class="ci_run ico16 popover-hover"><i class="fas fa-circle-notch fa-spin"></i></a> &nbsp;&nbsp;
            <a *ngIf="deploymentApplicationHealth['applicationHealthStatus'] === 'InProgress'" data-toggle="tooltip" data-placement="top" title="Stop Running Canary"><i (click)="cancelRunningCanary(control.value)" class="fa fa-stop showElementHover stop-icon" aria-hidden="true"></i></a>
          </div>
     
        <div class="app-status">
          <div class="pull-left" [ngClass]= "{'text-danger':deploymentApplicationHealth['applicationHealthStatus'] === 'FAIL','text-success':deploymentApplicationHealth['applicationHealthStatus'] === 'SUCCESS','text-warning':deploymentApplicationHealth['applicationHealthStatus'] === 'Review','text-muted':deploymentApplicationHealth['applicationHealthStatus'] === 'InProgress'}">{{deploymentApplicationHealth['applicationHealthStatus']}}</div>
          <div class="pull-right">{{calculateDiff(deploymentApplicationHealth['runStartTime'])}} </div>
        </div>
 
        <div class="input-group">
          <div class="input-group-prepend">
            <button [ngStyle]="{cursor : decrementDisable ? 'no-drop' :'pointer' }" class="input-group-text" (click)="decrementCanaryRun(control.value)" type="button" id="button-addon1"><i class="fa fa-angle-left"></i></button>
          </div>
          <form class="example-form">
            <input type="text" class="form-control text-center"
                   [formControl]="control"
                   [matAutocomplete]="autoCanaries" name="inputVar" >
            <mat-autocomplete #autoCanaries="matAutocomplete" (optionSelected)="onSelectionChangeCanaryRun($event.option.value)">
              <mat-option *ngFor="let canaryId of filteredCanaries | async" [value]="canaryId" >
                {{canaryId}}
              </mat-option>
            </mat-autocomplete>
          </form>
          <div  class="input-group-prepend">
            <button  [ngStyle]="{cursor : incredementDisable ? 'no-drop' :'pointer' }" (click)="incrementCanaryRun(control.value)" class="input-group-text" type="button" id="button-addon1"><i class="fa fa-angle-right"></i></button>
          </div>
          <br>
        </div>
      </div>
      <!-- /.leftBox_header -->
      <div class="leftBox_body">
        <table class="table-sm table-avenir table-bordered serviceTable">
          <tbody>
            
            <tr>
              <td class="bgDark" rowspan="4">Services <br> <span class="service-count">{{serviceListLength}}</span></td> 
              <td> &nbsp;&nbsp;&nbsp;Failed</td>
              <td class="cv_heighlight text-danger">{{deploymentApplicationHealth ? deploymentApplicationHealth['noOfFailed'] : ''}}</td>
           </tr>
            <tr>
              <td>Review</td>
              <td class="cv_heighlight text-warning">{{deploymentApplicationHealth ? deploymentApplicationHealth['noOfReview'] : ''}}</td>
            </tr>
            <tr>
              <td>Success</td>
              <td class="cv_heighlight text-success">{{deploymentApplicationHealth ? deploymentApplicationHealth['noOfSuccess'] : ''}}</td>
            </tr>
            <tr>
              <td>InProgress</td>
              <td class="cv_heighlight text-muted">{{deploymentApplicationHealth ? deploymentApplicationHealth['noOfInProgress'] : ''}}</td>
            </tr> 
          </tbody>
        </table>
        <!-- /.table -->
  
    <div class="page_access d-flex text-right p-3">
      <div class="mr-auto" *ngIf="serviceListLength >= 10">
          <div class="input-group input-group_search">
            <div class="input-group-prepend">
              <span class="input-group-text" id="modal-search"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="searchData" (keyup)="onSearch()" />
            <i (click)="refreshList()" data-toggle="tooltip" data-placement="top" title="Refresh List" class="refresh-icon fa refreshList">&#xf021;</i>
          </div>
        </div>
  </div>
      <table class="table table-sm table-avenir table-no-bordered table-no-dots">
        <tbody>
          <tr *ngIf="serviceListLength > 0">
            <th >Service</th>
            <th>Score</th>
            <th>Status</th>
          </tr>
          <ng-container *ngFor="let service of currentPage | filter:searchData; let i=index">
          
          <tr [ngClass]="{'active-service': service.serviceId === selectedServiceId}">
            <td class="service-selection " style="padding-left: 2px !important;" (click)="getService(service)">{{service.serviceName}}</td>
            <td width="50" style="text-align: center;" [ngClass]= "{'text-danger':service.status === 'Fail','text-success':service.status === 'Success','text-warning':service.status === 'Review','text-muted':service.status === 'InProgress'}">{{service.finalScore >= 0 ? (service.finalScore | number: '1.0-0') : 'N/A'}}</td>
            <td width="50" style="text-align: center;"  [ngClass]= "{'text-danger':service.status === 'Fail','text-success':service.status === 'Success','text-warning':service.status === 'Review','text-muted':service.status === 'InProgress'}">{{service.status}}</td>
          </tr> 
        </ng-container>               
        </tbody>
      </table>
      <div class="table-footer gray-strip px-3 py-2" *ngIf="serviceListLength >= 10">
        <div class="form-inline">
          <span class="mr-2">Per page</span>
          <select class="form-control" [(ngModel)]="perPageData" (change)="onChangePerPageData()">
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
          </select>

          <ul class="pagination ml-auto mb-0">
            <li class="page-item" (click)="pagePrev()"><a class="page-link"><i class="fa fa-angle-left"></i></a></li>
            <li class="page-item {{page.currentPage === page.pageNo ? 'active' : ''}}"
              (click)=showPage(page.currentPage)><a class="page-link">{{page.currentPage}}</a></li>
            <li class="page-item {{page.currentPage+1 === page.pageNo ? 'active' : ''}}"
              *ngIf="(page.pageNo*page.pageSize) < serviceListLength || 
                        page.currentPage+1 == page.pageNo || page.currentPage+1 == page.pageNo-1 ? true : false" (click)=showPage(page.currentPage+1)>
              <a class="page-link">{{page.currentPage+1}}</a>
            </li>
            <li class="page-item {{page.currentPage+2 === page.pageNo ? 'active' : ''}}"
              *ngIf="((page.pageNo+1)*page.pageSize) < serviceListLength || 
                         page.currentPage+2 == page.pageNo ||
                         ((page.currentPage+2)*page.pageSize< serviceListLength? true : ((page.currentPage+2)*page.pageSize)-serviceListLength < page.pageSize? true : false) ? true : false"
              (click)=showPage(page.currentPage+2)><a class="page-link">{{page.currentPage+2}}</a>
            </li>
            <li class="page-item" (click)="pageNext()"><a class="page-link"><i class="fa fa-angle-right"></i></a></li>
          </ul>
        </div>
        <!-- /.per_page -->
      </div>
      <!-- /.table-footer px-3 py-2 -->
    </div>
  </div>
    <div class="modal bd-example-modal-lg fade" id="manualTrigger" tabindex="-1" role="dialog" aria-labelledby="manualTriggerLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Manual Canary Trigger</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i class="fa fa-times"></i>
            </button>
          </div>
          <div class="modal-body">
            <!-- Enable the below code for Form / Editor options -->

            <!-- <ul class="nav tab-lined nav-tabs mb-2" id="myTab" role="tablist" (click)="onManualTriggerClickTab($event)">
              <li class="nav-item" >
                <a class="nav-link active" id="manualTrigger-form-tab" data-toggle="tab" role="tab" aria-controls="manualTrigger-form-tab" aria-selected="true">Form</a>
              </li>
              <li  class="nav-item">
                <a class="nav-link active"  id="manualTrigger-editor-tab" data-toggle="tab" role="tab" aria-controls="manualTrigger-editor-tab" aria-selected="true">Editor</a>
              </li>            
            </ul> -->
            <div class="tab-content" id="myTabContent">
              <div id="metric-form" role="tabpanel" aria-labelledby="manualTrigger-form-tab">         
                  <div *ngIf = "selectedManualTriggerTab === 'manualTrigger-form-tab'" class="col-12 maindiv">
                    <form #manualTriggerData="ngForm" >
                      <div class="form-group text-muted">
                        <label>Application <span data-toggle="tooltip" data-placement="right" title="Tooltip on right"><img src="../../../assets/images/help_icon.png" alt="icon" /></span></label>
                        <select class="form-control col-sm-6">
                          <option value=""></option>
                          <option>Choose</option>
                        </select>
                      </div>
                      <div class="form-group text-muted">
                        <label>User Name <img src="../../../assets/images/help_icon.png" alt="icon" /></label>
                        <input type="text" class="form-control col-sm-6" autofocus="true" />
                      </div>
                      <div class="form-group text-muted">
                        <label>Canary Lifetime <img src="../../../assets/images/help_icon.png" alt="icon" /></label>
                        <div class="d-flex align-items-center">
                          <input type="text" class="form-control mr-2 col-sm-6" />
                          <span>hours</span>
                        </div>
                      </div>
                      <div class="form-group text-muted">
                        <label>Combined Canary Result Strategy <img src="../../../assets/images/help_icon.png" alt="icon" /></label>
                        <select class="form-control col-sm-6">
                          <option value="">Select Strategy</option>
                          <option>Option</option>
                          <option>Option</option>
                          <option>Option</option>
                        </select>
                      </div>
                      <div class="form-group text-muted position-relative">
                        <label>Successful Score <img src="../../../assets/images/help_icon.png" alt="icon" /></label>
                        <input type="text" class="form-control is-invalid col-sm-6" />
                        <div class="invalid-feedback">
                          Error message goes here.
                        </div>
                      </div>
                      <div class="form-group text-muted">
                        <label>Unhealthy Score <img src="../../../assets/images/help_icon.png" alt="icon" /></label>
                        <input type="text" class="form-control col-sm-6" />
                      </div>

                      <div class="text-divider">
                        <h4>Analysis Config</h4>
                      </div>

                      <div class="form-group text-muted">
                        <label>Metric Template Name <img src="../../../assets/images/help_icon.png" alt="icon" /></label>
                        <select class="form-control col-sm-6">
                          <option value="">Select Metric Template</option>
                          <option>Option</option>
                          <option>Option</option>
                          <option>Option</option>
                        </select>
                      </div>
                      <div class="form-group text-muted">
                        <label>Log Template Name <img src="../../../assets/images/help_icon.png" alt="icon" /></label>
                        <select class="form-control col-sm-6">
                          <option value="">Select Log Template</option>
                          <option>Option</option>
                          <option>Option</option>
                          <option>Option</option>
                        </select>
                      </div>
                      <div class="form-group text-muted">
                        <label>Begin Canary Analysis After Mins <img src="../../../assets/images/help_icon.png" alt="icon" /></label>
                        <input type="text" class="form-control col-sm-6" />
                      </div>
                      <div class="form-group text-muted">
                        <label>Canary Analysis interval mins <img src="../../../assets/images/help_icon.png" alt="icon" /></label>
                        <input type="text" class="form-control col-sm-6" />
                      </div>

                      <div class="text-divider">
                        <h4>Matric Scope</h4>
                      </div>
                      <div class="form-group text-muted">
                        <label>Baseline Identifier <img src="../../../assets/images/help_icon.png" alt="icon" /></label>
                        <input type="text" class="form-control col-sm-6" />
                      </div>
                      <div class="form-group text-muted">
                        <label>Canary Identifier <img src="../../../assets/images/help_icon.png" alt="icon" /></label>
                        <input type="text" class="form-control col-sm-6" />
                      </div>
                      <div class="form-group text-muted">
                        <label>Baseline StartTtime <img src="../../../assets/images/help_icon.png" alt="icon" /></label>
                        <input type="text" class="form-control col-sm-6" />
                      </div>
                      <div class="form-group text-muted">
                        <label>Canary Start Time <img src="../../../assets/images/help_icon.png" alt="icon" /></label>
                        <input type="text" class="form-control col-sm-6" />
                      </div>
                    </form>
                  </div>
              </div>
              
              <div id="manualTrigger-editor-tab" role="tabpanel" aria-labelledby="manualTrigger-editor-tab">          
                <div class="col-12 maindiv" *ngIf = "selectedManualTriggerTab === 'manualTrigger-editor-tab'">
                  <json-editor [options]="editorOptions" [data]="data" (change)="showManualTriggerJson($event)"></json-editor>
                </div>            
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-default" data-dismiss="modal" aria-label="Close">Cancel</button>
            <button type="submit" class="btn  btn-primary"*ngIf = "selectedManualTriggerTab === 'manualTrigger-form-tab'" (click)="submitManualTriggerData()">Trigger</button>
            <button type="submit" class="btn  btn-primary"*ngIf = "selectedManualTriggerTab === 'manualTrigger-editor-tab'" (click)="submitManualTriggerData()">Trigger</button>
          </div>
          <!-- /.modal-footer -->
        </div>
      </div>
    </div>

    <div class="page-content flex-grow-1">
      <div class="page_title page_title_inner title_icon px-3 d-flex align-items-center">
        <h3><img src="../../../assets/images/application-icon.png" alt="" />{{selectedApplicationName}} » {{control.value}} » {{serviceNameInfo['serviceName'] !== undefined ? serviceNameInfo['serviceName']: ''}}</h3>
        <div class="page_access d-flex ml-auto">
          <button class="btn btn-default" data-toggle="modal" data-target="#manualTrigger" data-backdrop="static" data-keyboard="false">Manual Trigger</button>
        </div>
        <!-- /.page_access ml-auto -->
      </div>
      <!-- /.page_title d-flex -->

      <div class="row no-gutters">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
          <mat-drawer-container class="example-container" autosize>
            <mat-drawer #sideNav class="example-sidenav" [position]="'end'" mode="side" opened="true">
              <div class="rightBox m-0 position-sticky">
                <div class="rightBox_header bg-white d-flex align-items-center">
                  <div class="btns_icon d-flex ml-auto">
                    <button class="btn p-0" data-toggle="tooltip" data-placement="top" title="Download"><img src="../../../assets/images/download.png" alt="download" /></button>
                    <button class="btn p-0 ml-2" data-toggle="tooltip" data-placement="top" title="Add"><img src="../../../assets/images/plus_icon.png" alt="plus" /></button>
                    <button class="btn p-0 ml-2" data-toggle="tooltip" data-placement="top" title="Edit"><img src="../../../assets/images/edit_icon.png" alt="edit" /></button>
                  </div>
                </div>
                <div class="rightBox_body pt-0">
                  
                  
                  
      
                  <div class="table-responsive">
                    <table class="table table-sm table-sm-text text-left table-no-bordered mb-0">
                        <!-- <tr>
                          <td>
                            <p [innerHTML]=" sent | changetextcolor:arr"></p>
                          </td>
                        </tr> -->
                        <tr *ngIf="deploymentApplicationHealth['analysisType'] === 'Logs Only' || deploymentApplicationHealth['analysisType'] === 'Logs and Metrics'">
                          <td width="110">Log Template:</td>
                          <td data-toggle="tooltip" data-placement="top" title="{{deploymentApplicationHealth['logTemplateName']}}">{{deploymentApplicationHealth['logTemplateName'] | ellipsis:22}} 
                            <i class="fa fa-clipboard" role="button" aria-hidden="true" ngxClipboard [cbContent]="deploymentApplicationHealth['logTemplateName']"></i>  
                          </td>
                        </tr>
                        <tr *ngIf="deploymentApplicationHealth['analysisType'] === 'Metrics Only' || deploymentApplicationHealth['analysisType'] === 'Logs and Metrics'">
                          <td width="110">Metric Template:</td>
                          <td data-toggle="tooltip" data-placement="top" title="{{deploymentApplicationHealth['metricTemplateName']}}">{{deploymentApplicationHealth['metricTemplateName'] | ellipsis:22}} 
                            <i class="fa fa-clipboard" role="button" aria-hidden="true" ngxClipboard [cbContent]="deploymentApplicationHealth['metricTemplateName']"></i>  
                          </td>
                        </tr>
                    </table>
                    <hr />
                  <table class="table table-sm table-sm-text text-left table-no-bordered mb-0">
                    <tbody>
                      <tr class="font-weight-bold" *ngIf="deploymentApplicationHealth['analysisType'] === 'Logs Only' || deploymentApplicationHealth['analysisType'] === 'Logs and Metrics'">
                        <td width="110">Log Baseline: </td>
                        <td data-toggle="tooltip" data-placement="top" title="{{deploymentServiceInformation['version1name']}}">{{deploymentServiceInformation['version1name'] | ellipsis:22}} 
                          <i class="fa fa-clipboard" role="button" aria-hidden="true" ngxClipboard [cbContent]="deploymentServiceInformation['version1name']"></i>  
                        </td>
                      </tr>
                      <tr class="font-weight-bold" *ngIf=" deploymentApplicationHealth['analysisType'] === 'Metrics Only' || deploymentApplicationHealth['analysisType'] === 'Logs and Metrics'">
                        <td width="110">Metric Baseline: </td>
                        <td data-toggle="tooltip" data-placement="top" title="{{deploymentServiceInformation['metricVersion1Name']}}">{{deploymentServiceInformation['metricVersion1Name'] | ellipsis:22}} 
                          <i class="fa fa-clipboard" role="button" aria-hidden="true" ngxClipboard [cbContent]="deploymentServiceInformation['metricVersion1Name']"></i>  
                        </td>
                      </tr>
                      <tr>
                        <td width="110">Start time:</td>
                        <td>{{deploymentApplicationHealth['v1StartTime'] | date:'medium'}}</td>
                      </tr>
                      <tr>
                        <td width="110">End time:</td>
                        <td>{{deploymentApplicationHealth['v1EndTime'] | date:'medium'}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <hr />
                  <table class="table table-sm table-sm-text text-left table-no-bordered mb-0">
                    <tbody>
                      <tr class="font-weight-bold" *ngIf="deploymentApplicationHealth['analysisType'] === 'Logs Only' || deploymentApplicationHealth['analysisType'] === 'Logs and Metrics'">
                        <td width="110"> Log New Release:</td>
                        <td data-toggle="tooltip" data-placement="top" title="{{deploymentServiceInformation['version2name']}}">{{deploymentServiceInformation['version2name'] | ellipsis:22}} 
                          <i class="fa fa-clipboard" role="button" aria-hidden="true" ngxClipboard [cbContent]="deploymentServiceInformation['version2name']"></i>  
                        </td>
                      </tr>
                      <tr class="font-weight-bold" *ngIf="deploymentApplicationHealth['analysisType'] === 'Metrics Only' || deploymentApplicationHealth['analysisType'] === 'Logs and Metrics'">
                        <td width="110"> Metric New Release:</td>
                        <td data-toggle="tooltip" data-placement="top" title="{{deploymentServiceInformation['metricVersion2Name']}}">{{deploymentServiceInformation['metricVersion2Name'] | ellipsis:22}} 
                          <i class="fa fa-clipboard" role="button" aria-hidden="true" ngxClipboard [cbContent]="deploymentServiceInformation['metricVersion2Name']"></i>  
                        </td>
                      </tr>
                      <tr>
                        <td width="110">Start time:</td>
                        <td>{{deploymentApplicationHealth['v2StartTime'] | date:'medium'}}</td>
                      </tr>
                      <tr>
                        <td width="110">End time:</td>
                        <td>{{deploymentApplicationHealth['v2EndTime'] | date:'medium'}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <hr />
                
                  
                  <table  class="table table-sm table-sm-text text-left table-no-bordered mb-0">
                    <tbody>
                      <tr>
                        <td width="180">Analysis type:</td>
                        <td>{{deploymentApplicationHealth['analysisType']}}</td>
                      </tr>
                      <tr *ngIf="deploymentApplicationHealth['analysisType'] === 'Logs Only' || deploymentApplicationHealth['analysisType'] === 'Logs and Metrics'">
                        <td width="180">Log Status:</td>
                        <td>{{deploymentServiceInformation['logStatus']}}</td>
                      </tr>
                      
                      <tr *ngIf="deploymentApplicationHealth['analysisType'] === 'Metrics Only' || deploymentApplicationHealth['analysisType'] === 'Logs and Metrics'">
                        <td width="180">Metric Status:</td>
                        <td>{{deploymentServiceInformation['metricStatus']}}</td>
                      </tr>
                      <tr *ngIf="deploymentApplicationHealth['analysisType'] === 'Logs Only' || deploymentApplicationHealth['analysisType'] === 'Logs and Metrics'">
                        <td width="180">Log Score:</td>
                        <td><span *ngIf="deploymentServiceInformation['logScore']>-1">{{deploymentServiceInformation['logScore']}}</span>
                        <span *ngIf="deploymentServiceInformation['logScore']<0 || deploymentServiceInformation['logScore']==null"> - </span></td>
                      </tr>
                      <tr *ngIf="deploymentApplicationHealth['analysisType'] === 'Metrics Only' || deploymentApplicationHealth['analysisType'] === 'Logs and Metrics'">
                        <td width="180">Metric Score:</td>
                        <td><span *ngIf="deploymentServiceInformation['metricScore']>-1">{{deploymentServiceInformation['metricScore']}}</span>
                        <span *ngIf="deploymentServiceInformation['metricScore']<0 || deploymentServiceInformation['metricScore']==null"> - </span></td>
                      </tr>
                      <tr *ngIf="deploymentApplicationHealth['analysisType'] === 'Logs Only' || deploymentApplicationHealth['analysisType'] === 'Logs and Metrics'">
                        <td width="180">Baseline log file size:</td>
                        <td>{{humanFileSize(deploymentServiceInformation['fileStat'] !== undefined ? deploymentServiceInformation['fileStat']['v1FileSize']:null,true)}}</td>
                      </tr>
                      <tr *ngIf="deploymentApplicationHealth['analysisType'] === 'Logs Only' || deploymentApplicationHealth['analysisType'] === 'Logs and Metrics'">
                        <td width="180">New Release log file size:</td>
                        <td>{{humanFileSize(deploymentServiceInformation['fileStat'] !== undefined ? deploymentServiceInformation['fileStat']['v2FileSize']:null,true)}}</td>
                      </tr>
                      <tr *ngIf="deploymentApplicationHealth['analysisType'] === 'Logs Only' || deploymentApplicationHealth['analysisType'] === 'Logs and Metrics'">
                        <td width="180">Baseline log file lines:</td>
                        <td>{{deploymentServiceInformation['fileStat'] ? (deploymentServiceInformation['fileStat']['v1LogLen'] !== undefined?deploymentServiceInformation['fileStat']['v1LogLen']:null): 'N/A'}}</td>
                      </tr>
                      <tr *ngIf="deploymentApplicationHealth['analysisType'] === 'Logs Only' || deploymentApplicationHealth['analysisType'] === 'Logs and Metrics'">
                        <td width="180">New Release log file lines:</td>
                        <td>{{deploymentServiceInformation['fileStat'] ? (deploymentServiceInformation['fileStat']['v2LogLen'] !== undefined?deploymentServiceInformation['fileStat']['v2LogLen']:null): 'N/A'}}</td>
                      </tr>
                      <tr *ngIf="deploymentApplicationHealth['analysisType'] === 'Logs Only' || deploymentApplicationHealth['analysisType'] === 'Logs and Metrics'">
                        <td width="180">Canary Analysis Duration:</td>
                        <td>{{deploymentServiceInformation ? deploymentServiceInformation['duration']: 'N/A'}}</td>
                      </tr>
                      <tr *ngIf="deploymentApplicationHealth['analysisType'] === 'Logs Only' || deploymentApplicationHealth['analysisType'] === 'Logs and Metrics'">
                        <td width="180">Interval Minutes:</td>
                        <td>{{deploymentServiceInformation ? deploymentServiceInformation['intervalMinutes']: 'N/A'}}</td>
                      </tr>
                      <tr *ngIf="deploymentApplicationHealth['analysisType'] === 'Logs Only' || deploymentApplicationHealth['analysisType'] === 'Logs and Metrics'">
                        <td width="180">Regular Expression:</td>
                        <td>{{deploymentServiceInformation ? deploymentServiceInformation['regularExpression']: 'N/A'}}</td>
                      </tr>
                      <tr *ngIf="deploymentApplicationHealth['analysisType'] === 'Logs Only' || deploymentApplicationHealth['analysisType'] === 'Logs and Metrics'">
                        <td width="180">Algorithm:</td>
                        <td>{{deploymentServiceInformation ? deploymentServiceInformation['algorithm']: 'N/A'}}</td>
                      </tr>
                      <tr *ngIf="deploymentApplicationHealth['analysisType'] === 'Logs Only' || deploymentApplicationHealth['analysisType'] === 'Logs and Metrics'">
                        <td width="180">Baseline logs:</td>
                        <td *ngIf="deploymentServiceInformation['baselineKibanaUrl'] != null"><a href="{{deploymentServiceInformation['baselineKibanaUrl']}}" target="_blank" class="text-dark font-weight-bold underline">View Logs</a></td>
                        <td *ngIf="deploymentServiceInformation['baselineKibanaUrl'] === null">N/A</td>
                      </tr>
                      <tr *ngIf="deploymentApplicationHealth['analysisType'] === 'Logs Only' || deploymentApplicationHealth['analysisType'] === 'Logs and Metrics'">
                        <td width="180">New Release logs: </td>
                        <td *ngIf="deploymentServiceInformation['canaryKibanaUrl'] != null"><a href="{{deploymentServiceInformation['canaryKibanaUrl']}}" target="_blank" class="text-dark font-weight-bold underline">View Logs</a></td>
                        <td *ngIf="deploymentServiceInformation['canaryKibanaUrl'] === null">N/A</td>
                        
                      </tr>
                    </tbody>
                  </table>
                  </div>
                </div>
              </div>
            </mat-drawer>
          
            <div class="example-sidenav-content">
              <div class="d-flex flex-column analysisMainDiv">
                <div class="summaryToggleBtn d-flex ml20">
                  <div class="chart_ratio mb-2 text-center d-flex   ">
                    <div class="chart_value flex-grow-1 padding10LeftRight"  [ngClass]= "{'cv_high':serviceNameInfo['status'] === 'Success','cv_low':serviceNameInfo['status'] === 'Fail','cv_medium':serviceNameInfo['status'] === 'Review'}">
                      <div class="cv_heighlight">{{serviceNameInfo['finalScore']}}</div>
                      <div class="cv_heighlight"  [ngClass]= "{'text-danger':serviceNameInfo['status'] === 'Fail','text-success':serviceNameInfo['status'] === 'Success','text-warning':serviceNameInfo['status'] === 'Review','text-muted':serviceNameInfo['status'] === 'InProgress'}">{{serviceNameInfo['status']}}</div>                      
                      
                    </div>
                    
                  </div>
                  <div *ngIf="deploymentApplicationHealth['analysisType'] === 'Metrics Only' || deploymentApplicationHealth['analysisType'] === 'Logs and Metrics'" class="chart_ratio mb-2 text-center d-flex widthDetailScore ml20">
                    <div class="chart_value cv_low flex-grow-1">
                      <div class="cv_heighlight" *ngIf="serviceNameInfo['metricScore']>-1" [ngClass]= "{'text-danger':serviceNameInfo['metricScore'] <= deploymentApplicationHealth['minimumCanaryScore'],'text-success':serviceNameInfo['metricScore'] >= deploymentApplicationHealth['maximumCanaryScore'],'text-warning':serviceNameInfo['metricScore'] < deploymentApplicationHealth['maximumCanaryScore'] && serviceNameInfo['metricScore'] > deploymentApplicationHealth['minimumCanaryScore']}"></div>
                      <div class="cv_heighlight" *ngIf="serviceNameInfo['metricScore']<0 || serviceNameInfo['metricScore']==null"> - </div>
                      <!-- /.cv_heighlight -->
                      <div class="cv_name" >Metrics</div>
                      <!-- /.cv_name -->
                    </div>
                    <div class="chart_value cv_alert flex-grow-1">
                      <div class="cv_heighlight lightRed">{{serviceNameInfo['metricsCount'] ? serviceNameInfo['metricsCount']['fail']:''}} </div>
                      <!-- /.cv_heighlight -->
                      <div class="cv_name">Failed</div>
                    </div>
                    <div class="chart_value cv_alert flex-grow-1">
                      <div class="cv_heighlight text-danger">{{serviceNameInfo['metricsCount'] ? serviceNameInfo['metricsCount']['critical']:''}}</div>
                      <!-- /.cv_heighlight -->
                      <div class="cv_name ">Critical</div>
                    </div>
                    <div class="chart_value cv_alert flex-grow-1">
                      <div class="cv_heighlight text-warning">{{serviceNameInfo['metricsCount'] ? serviceNameInfo['metricsCount']['watchlist']:''}}</div>
                      <!-- /.cv_heighlight -->
                      <div class="cv_name">Watchlist</div>
                    </div>
                    <div class="chart_value cv_alert flex-grow-1">
                      <div class="cv_heighlight">{{serviceNameInfo['metricsCount'] ? serviceNameInfo['metricsCount']['total']:''}}</div>
                      <!-- /.cv_heighlight -->
                      <div class="cv_name">Count</div>
                    </div>
                  </div>
                  <div *ngIf="deploymentApplicationHealth['analysisType'] === 'Logs Only' || deploymentApplicationHealth['analysisType'] === 'Logs and Metrics'" class="chart_ratio mb-2 text-center d-flex widthDetailScore ml20" >
                    <div class="chart_value padding5LeftRight  flex-grow-1" [ngClass]= "{'cv_high':serviceNameInfo['logsScore'] >= deploymentApplicationHealth['maximumCanaryScore'],'cv_low':serviceNameInfo['logsScore'] <= deploymentApplicationHealth['minimumCanaryScore'],'cv_medium':serviceNameInfo['logsScore'] < deploymentApplicationHealth['maximumCanaryScore'] && serviceNameInfo['logsScore'] > deploymentApplicationHealth['minimumCanaryScore']}">
                      <div class="cv_heighlight" *ngIf="serviceNameInfo['logsScore']>-1" [ngClass]= "{'text-danger':serviceNameInfo['logsScore'] <= deploymentApplicationHealth['minimumCanaryScore'],'text-success':serviceNameInfo['logsScore'] >= deploymentApplicationHealth['maximumCanaryScore'],'text-warning':serviceNameInfo['logsScore'] < deploymentApplicationHealth['maximumCanaryScore'] && serviceNameInfo['logsScore'] > deploymentApplicationHealth['minimumCanaryScore']}" >{{serviceNameInfo['logsScore'] }}</div>
                      <div class="cv_heighlight" *ngIf="serviceNameInfo['logsScore']<0 || serviceNameInfo['logsScore']==null"> - </div>
                      <!-- /.cv_heighlight -->
                      <div class="cv_name">Logs</div>
                    </div>
                    <div class="chart_value flex-grow-1">
                      <div class="cv_heighlight lightRed">{{serviceNameInfo['clusterCount'] ? serviceNameInfo['clusterCount']['critical']:''}}</div>
                      <!-- /.cv_heighlight -->
                      <div class="cv_name">Critical</div>
                    </div>
                    <div class="chart_value flex-grow-1">
                      <div class="cv_heighlight text-danger">{{serviceNameInfo['clusterCount'] ? serviceNameInfo['clusterCount']['error']:''}}</div>
                      <!-- /.cv_heighlight -->
                      <div class="cv_name">Error</div>
                    </div>
                    <div class="chart_value cv_alert flex-grow-1">
                      <div class="cv_heighlight text-warning">{{serviceNameInfo['clusterCount'] ? serviceNameInfo['clusterCount']['warning']:''}}</div>
                      <!-- /.cv_heighlight -->
                      <div class="cv_name">Warning</div>
                    </div>
                    <div class="chart_value cv_alert flex-grow-1">
                      <div class="cv_heighlight">{{serviceNameInfo['clusterCount'] ? serviceNameInfo['clusterCount']['total']:''}}</div>
                      <!-- /.cv_heighlight -->
                      <div class="cv_name">Cluster</div>
                    </div>
                  </div>

                  
                </div>
                <div class="pt-1 ">
                  <ul class="nav tab-lined nav-tabs logAndMetricTabs" id="myTab" role="tablist" (click)="onClickTab($event)">
                     <li class="nav-item" *ngIf="deploymentApplicationHealth['analysisType'] === 'Logs Only' || deploymentApplicationHealth['analysisType'] === 'Logs and Metrics'">
                      <a class="nav-link" [ngClass]="{'active': deploymentApplicationHealth['analysisType'] === 'Logs Only' || deploymentApplicationHealth['analysisType'] === 'Logs and Metrics'}"  id="log-analysis-tab" data-toggle="tab" role="tab" aria-controls="log-analysis" aria-selected="true">Log Analysis</a>
                    </li>
                    <li *ngIf="deploymentApplicationHealth['analysisType'] === 'Metrics Only' || deploymentApplicationHealth['analysisType'] === 'Logs and Metrics'" class="nav-item">
                      <a class="nav-link" [ngClass]="{'active': deploymentApplicationHealth['analysisType'] === 'Metrics Only'}" id="metric-analysis-tab" data-toggle="tab" role="tab" aria-controls="metric-analysis" aria-selected="true">Metric Analysis</a>
                    </li>
                    <li class="nav-item ml-auto">
                      <button class="pull-right" data-toggle="tooltip" data-placement="left" title="Overall canary run inforamtion for the selected application"  mat-button>
                        <div *ngIf="isShow" (click)="[sideNav.toggle(),getOverallInfo()]"><i  class="fa fa-chevron-right"></i><i  class="fa fa-chevron-right"></i></div>
                        <div *ngIf="!isShow" (click)="[sideNav.toggle(),getOverallInfo()]"><i  class="fa fa-chevron-left"></i><i  class="fa fa-chevron-left"></i></div>
                      </button>
                    </li>
                   
                  </ul>
                  
                  <div class="tab-content" id="myTabContent" (click)="onClickAnalysisSection($event)">
                    <div class="tab-pane p-4 fade " id="log-analysis" role="tabpanel" aria-labelledby="log-analysis-tab"
                    [ngClass]="{'active': deploymentApplicationHealth['analysisType'] === 'Logs Only' || deploymentApplicationHealth['analysisType'] === 'Logs and Metrics','show': deploymentApplicationHealth['analysisType'] === 'Logs Only' || deploymentApplicationHealth['analysisType'] === 'Logs and Metrics'}">
                        <ng-container *ngIf = "selectedTab === 'log-analysis'">
                          <app-log-analysis [canaryId]="control.value" [serviceId]="selectedServiceId" ></app-log-analysis>
                        </ng-container>
                      </div>
                      <div class="tab-pane mp-4"  id="metric-analysis" role="tabpanel" aria-labelledby="metric-analysis-tab"
                      [ngClass]="{'active': deploymentApplicationHealth['analysisType'] === 'Metrics Only' || deploymentApplicationHealth['analysisType'] === 'Logs and Metrics','show': deploymentApplicationHealth['analysisType'] === 'Metrics Only'}">
                        <ng-container *ngIf = "selectedTab === 'metric-analysis'">
                          <app-metric-analysis [canaryId]="control.value" [serviceId]="selectedServiceId" ></app-metric-analysis>
                        </ng-container>
                      </div>
                  </div>
                </div>
                <!-- /.tab-lined -->
              </div>
            </div>
          
          </mat-drawer-container>
        </div>
      </div>
  <!-- /.row -->
    </div>
    <!-- /.page-content -->
  </div>
</div>
<!-- /.main_content -->
<!-- <div class="main_content p-0 bg-white" *ngIf="deployementLoading">
  <div class="tab-pane d-flex flex-column bg-white h-100 fade show">
    <app-loading-screen></app-loading-screen>
   </div>
</div> -->