.sticky{
    position: fixed;
    top: 0;
    z-index: 100;
}
.matricstatusicon{
  font-size: 10px;
  border: 1px solid lightgray;
  border-radius: 2px;
  padding: 9px 9px 9px 9px;   
}
.countDisabledbtn{
  color: #c7c1c1;
}
.countDangerbtn{
  color:#fe6868;
}
.countWarningbtn{
  color: #ffc266;
}
.countSuccessbtn{
  color:#66c285;
}