<div class="pt-4">
    <div id="smartwizard" class="smartwizard">
       <ul class="two-links">
           <li><a href="#step-1"><span>Log Provider</span></a></li>
           <li><a href="#step-2"><span>Log Topic</span></a></li>
       </ul>
       <div>
           <div id="step-1">
             <div class="multisteps-form__content">
                <div class="px-4 py-3">
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label>Metric Template Name</label>
                        <input type="text" class="form-control" autofocus="true" />
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <!-- /.col-6 -->
                  </div>
                  <!-- /.row -->

                  <div class="text-divider">
                    <h4>Log Metrics </h4>
                  </div>
                  
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label>Log Monitoring Provider</label>
                        <select name="webmenu" id="platform4">
                          <option value="" title="images/new_relic.png">New Relic</option>
                          <option value="" title="images/kubarnates.png">Kubernates</option>
                          <option value="" title="images/gcp-icon.png">GCP</option>
                        </select>
                      </div>
                      <!-- /.form-group -->

                      <div class="form-group">
                        <label>Log Account</label>
                        <select class="form-control">
                          <option>Sample NameSpace</option>
                        </select>
                      </div>
                      <!-- /.form-group -->

                       </div>
                    <!-- /.col-6 -->
                  </div>
                  <!-- /.row -->


                      <div class="text-divider">
                        <h4>Elastic Configuration</h4>
                      </div>

                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label>Index Pattern</label>
                        <select class="form-control">
                          <option></option>
                          <option>Choose</option>
                        </select>
                      </div>
                      <!-- /.form-group -->

                      <div class="form-group">
                        <label>Kibana Default Index</label>
                        <select class="form-control">
                          <option></option>
                          <option>Choose</option>
                        </select>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <!-- /.col-6 -->
                    <div class="col-12 mt-4">
                      <div class="form-group">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" checked id="customReq">
                          <label class="custom-control-label text-muted" for="customReq">Custom regular expression filter Required</label>
                        </div>
                      </div>
                      <!-- /.form-group -->

                      <div class="form-inline">
                        <div class="form-group mr-2">
                          <label>Regular Expression</label>
                          <select class="form-control w-100">
                            <option></option>
                            <option>Choose</option>
                          </select>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group mr-2">
                          <label>Response Key</label>
                          <select class="form-control w-100">
                            <option></option>
                            <option>Choose</option>
                          </select>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group pt-3">
                          <img src="images/check_icon.png" class="mt-1" alt="">
                        </div>
                      </div>
                      <!-- /.form-inline -->
                    </div>
                    <!-- /.col-12 -->
                  </div>
                  <!-- /.row -->


                  <hr class="ml-0 mt-3 mb-3" />

                  <div class="row">
                    <div class="col-4">
                      <div class="form-group">
                        <label>Level of Sensitivity</label>
                        <select class="form-control">
                          <option>High</option>
                          <option>Medium</option>
                          <option>Low</option>
                        </select>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <!-- /.col-6 -->
                  </div>
                  <!-- /.row -->                            
                </div>
              </div>
           </div>
           <div id="step-2">
             <div class="multisteps-form__content">                          
                <div class="px-4 py-3">
                  <div class="d-flex align-items-center mb-4">
                    <div class="text-divider flex-grow-1 p-0">
                      <h4>New Log Topic</h4>
                    </div>
                    <div class="btn btn-sm btn-default ml-3">Copy from existing Log Topic </div>
                  </div>

                  <div class="row">
                    <div class="col-10">
                      <table class="table table-outline table-md">
                        <thead>
                          <tr>
                            <th>STRING PATTERN</th>
                            <th>CHARACTERIZATION TOPIC</th>
                            <th width="30"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <input type="text" value="OutOfMemoryError" />
                            </td>
                            <td>
                              <select>
                                <option>Critical</option>
                              </select>
                            </td>
                            <td>
                              <a href="#" class="text-muted"><i class="fas fa-trash-alt"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <input type="text" value="OutOfMemoryError" />
                            </td>
                            <td>
                              <select>
                                <option>Critical</option>
                              </select>
                            </td>
                            <td>
                              <a href="#" class="text-muted"><i class="fas fa-trash-alt"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <input type="text" value="OutOfMemoryError" />
                            </td>
                            <td>
                              <select>
                                <option>Critical</option>
                              </select>
                            </td>
                            <td>
                              <a href="#" class="text-muted"><i class="fas fa-trash-alt"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <input type="text" value="OutOfMemoryError" />
                            </td>
                            <td>
                              <select>
                                <option>Critical</option>
                              </select>
                            </td>
                            <td>
                              <a href="#" class="text-muted"><i class="fas fa-trash-alt"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <input type="text" value="OutOfMemoryError" />
                            </td>
                            <td>
                              <select>
                                <option>Critical</option>
                              </select>
                            </td>
                            <td>
                              <a href="#" class="text-muted"><i class="fas fa-trash-alt"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <input type="text" value="OutOfMemoryError" />
                            </td>
                            <td>
                              <select>
                                <option>Critical</option>
                              </select>
                            </td>
                            <td>
                              <a href="#" class="text-muted"><i class="fas fa-trash-alt"></i></a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <!-- /.table table-sm -->
                    </div>
                    <!-- /.col-8 -->
                  </div>
                  <!-- /.row -->
                </div>
              </div>
           </div>
       </div>
   </div>
  </div>