  <div class="pt-1">
    <ul class="nav tab-lined nav-tabs" id="myTab" role="tablist" (click)="onClickTab($event.target.id)">
      <li class="nav-item" >
        <a class="nav-link {{selectedTab != 'logtemplate-form' ? '':'active'}}" id="logtemplate-form-tab" data-toggle="tab" role="tab" aria-controls="logtemplate-form" aria-selected="true">Log Template</a>
      </li>
      <li  class="nav-item">
        <a class="nav-link {{selectedTab != 'logtemplate-form' ? 'active':''}}"  id="logtemplate-editor-tab" data-toggle="tab" role="tab" aria-controls="logtemplate-editor" aria-selected="true">Editor</a>
      </li>
    </ul>
  
    <div class="tab-content" id="myTabContent">
      <div id="logtemplate-form" role="tabpanel" aria-labelledby="logtemplate-form-tab">
          <div *ngIf ="selectedTab === 'logtemplate-form'" class="col-12 maindiv">
            <mat-horizontal-stepper  [labelPosition]="'bottom'" linear #stepper >
              <mat-step  [stepControl]="createLogForm">
                <form [formGroup]="createLogForm">
                  <ng-template matStepLabel>Log Provider</ng-template>
                  <div id="step-1">
                    <div class="multisteps-form__content">
                       <div class="px-4 py-3">
                         <div class="row">
                           <div class="col-6">
                            <!-- form group log template name -->
                            <div class="form-group">
                              <label>Log Template Name</label>
                              <input type="text" class="form-control" formControlName="templateName" [ngClass]="createLogForm.get('templateName').invalid && createLogForm.get('templateName').touched ? 'is-invalid':''">
                              <span *ngIf="createLogForm.get('templateName').invalid && createLogForm.get('templateName').touched"
                                class="invalid-feedback">
                                <span *ngIf="createLogForm.get('templateName').errors['required']">Template Name is
                                  required</span>
                                <span *ngIf="createLogForm.get('templateName').errors['templateExist']">Template already
                                  exists with same name. Please choose a unique template name</span>
                                <span *ngIf="createLogForm.get('templateName').errors['containSpace']">Space is not allowed in template name</span>
                                <span *ngIf="createLogForm.get('templateName').errors['startingFromNumber']">The template name must begin with a letter.</span>
                                <span *ngIf="createLogForm.get('templateName').errors['symbols']">No Special characters are allowed.</span>
                              </span>
                            </div>
                            <!-- / form group log template name -->
                           </div>
                           <!-- /.col-6 -->
                         </div>
                         <!-- /.row -->
            
                         <div class="text-divider">
                           <h4>Logs Monitoring </h4>
                         </div>
                         
                         <div class="row">
                           <div class="col-6">
                            <!-- form group log monitoring provider -->
                            <div class="form-group">
                              <label> Provider</label>
                              <select class="form-control" formControlName="monitoringProvider" (change)="onDataSourceSelect($event.target.value)">
                                <option value="" [disabled]="true">Select</option>
                                <ng-container *ngFor="let datasourceList of autoDatasources">
                                <option *ngIf="datasourceList.usage[0] == 'log'" value="{{datasourceList.datasourceType}}" >
                                  {{datasourceList.displayName}}</option>
                                </ng-container>
                              </select>
                              <span *ngIf="createLogForm.get('monitoringProvider').invalid && createLogForm.get('monitoringProvider').touched"
                                class="invalid-feedback">
                                Datasource Source is required
                              </span>
                            </div>
                            <!--/ form group log monitoring provider -->
                            
                             <!-- form group logaccounts -->
                             <div class="form-group" *ngIf="selectedDataSource != null && selectedDataSource != 'kubernetes'">
                              <label>Log Account</label>
                              <div *ngIf="logAccountsList.length === 0" class="text-danger">No accounts exists, Please try with other monitoring providers.</div>
                              <select class="form-control" formControlName="accountName" *ngIf="logAccountsList.length > 0" (change)="onLogAccountSelect($event.target.value)">
                                <option value="" [disabled]="true">Select</option>
                                <ng-container *ngFor="let account of logAccountsList">
                                <option  value="{{account.name}}" >
                                  {{account.name}}</option>
                                </ng-container>
                              </select>
                              <span *ngIf="createLogForm.get('accountName').invalid && createLogForm.get('accountName').touched"
                                class="invalid-feedback">
                                Account Name is required
                              </span>
                            </div>
                            <!--/ form group logaccounts -->
            
                             <!-- form group log namespace -->
                             <div class="form-group" *ngIf="selectedDataSource === 'kubernetes'">
                              <label>Name Space</label>
                              <input type="text" class="form-control" formControlName="namespace" [ngClass]="createLogForm.get('namespace').invalid && createLogForm.get('namespace').touched ? 'is-invalid':''">
                              <span *ngIf="createLogForm.get('namespace').invalid && createLogForm.get('namespace').touched"
                                class="invalid-feedback">
                                <span *ngIf="createLogForm.get('namespace').errors['required']">Namespace is
                                  required</span>    
                       
                              </span>
                            </div>
                            <!-- / form group namespace -->
                              </div>
                           <!-- /.col-6 -->
                         </div>
                         <!-- /.row -->
            
            
                             <div class="text-divider" *ngIf="selectedDataSource === 'elasticsearch' && logAccountsList.length > 0">
                               <h4>Elastic Configuration</h4>
                             </div>
                 <!-- /.col-6 -->
                
                <!-- /.col-12 -->
                         <div class="row" *ngIf="selectedDataSource === 'elasticsearch' && logAccountsList.length > 0">
                           <div class="col-6">
                            <!-- elastic index pattern -->
                            <div class="form-group">
                              <label>Index Pattern</label>
                              <input type="text" class="form-control" formControlName="index" [ngClass]="createLogForm.get('index').invalid && createLogForm.get('index').touched ? 'is-invalid':''">
                              <span *ngIf="createLogForm.get('index').invalid && createLogForm.get('index').touched"
                                class="invalid-feedback">
                                <span *ngIf="createLogForm.get('index').errors['required']">Index pattern is
                                  required</span>    
                              </span>
                            </div>
                            <!-- / elastic index pattern -->
                             <!-- elastic kibana index -->
                             <div class="form-group">
                              <label>Kibana Default Index</label>
                              <input type="text" class="form-control" formControlName="kibanaIndex" [ngClass]="createLogForm.get('kibanaIndex').invalid && createLogForm.get('kibanaIndex').touched ? 'is-invalid':''">
                              <span *ngIf="createLogForm.get('kibanaIndex').invalid && createLogForm.get('kibanaIndex').touched"
                                class="invalid-feedback">
                                <span *ngIf="createLogForm.get('kibanaIndex').errors['required']">Index pattern is
                                  required</span>    
                              </span>
                            </div>
                            <!-- / elastic kibana index -->
                           </div>
                           <!-- /.col-6 -->
                           
                           <div class="col-12 mt-4">
                             <div class="form-group">
                               <div class="custom-control custom-checkbox">
                                 <input type="checkbox" class="custom-control-input"  id="regExFilter" formControlName="regExFilter" (change)="onCheckboxChange($event)">
                                 <label class="custom-control-label text-muted" for="regExFilter">Custom regular expression filter Required</label>
                               </div>
                             </div>
                             <!-- /.form-group -->
            
                             <div class="form-inline" *ngIf="regFilterStatus === true">                               
                               <!-- /.form-group -->
                               <div class="form-group mr-2">
                                 <label>Regular Expression</label>
                                 <input type="text" class="form-control w-100" formControlName="regularExpression" [ngClass]="createLogForm.get('regularExpression').invalid && createLogForm.get('regularExpression').touched ? 'is-invalid':''">
                                 <span *ngIf="createLogForm.get('regularExpression').invalid && createLogForm.get('regularExpression').touched"
                                   class="invalid-feedback">
                                   <!-- <span *ngIf="createLogForm.get('regularExpression').errors['required']">regularExpression is
                                     required</span>     -->
                                 </span>
                               </div>
                               <div class="form-group mr-2">
                                <label>Response Key</label>
                                <!-- <input type="text" class="form-control w-100" formControlName="regExResponseKey" [ngClass]="createLogForm.get('regExResponseKey').invalid && createLogForm.get('regExResponseKey').touched ? 'is-invalid':''"> -->
                                <select class="form-control w-100" formControlName="regExResponseKey">
                                  <option value="" [disabled]="true">Select</option>
                                  <option *ngFor="let responsekey of responseKeys" value="{{responsekey}}" >
                                      {{responsekey}}</option>
                                </select>
                                <span *ngIf="createLogForm.get('regExResponseKey').invalid && createLogForm.get('regExResponseKey').touched"
                                  class="invalid-feedback">
                                  <!-- <span *ngIf="createLogForm.get('regExResponseKey').errors['required']">Response Key is
                                    required</span>     -->
                                </span>
                              </div>
                               <!-- /.form-group -->
                             </div>
                             <!-- /.form-inline -->
                           </div>
                           <!-- /.col-12 -->
                         </div>
                         <!-- /.row -->
            
            
                         <hr class="ml-0 mt-3 mb-3" />
            
                         <div class="row">
                           <div class="col-12">
                            <div class="form-group" *ngIf="selectedDataSource != null">
                              <div class="custom-control custom-checkbox" >
                                <input type="checkbox"  class="custom-control-input"  id="autoBaseline" formControlName="autoBaseline" >
                                <label class="custom-control-label text-muted" for="autoBaseline">Auto Baseline</label> &nbsp; <i data-toggle="tooltip" data-placement="top" data-original-title="ML based learning of the baseline from historic analysis" class="fa fa-question-circle" aria-hidden="true"></i>
                              </div>
                            </div>
                           </div>
                           <div class="col-4">
                             <!-- form group sensitivity -->
                             <div class="form-group" *ngIf="selectedDataSource != null">
                              <label>Level of Sensitivity</label>
                              <select class="form-control" formControlName="sensitivity">
                                <option value="" [disabled]="true">Select</option>
                                <ng-container *ngFor="let sensitivity of logSensitivityTypes">
                                <option  value="{{sensitivity}}" >
                                  {{sensitivity}}</option>
                                </ng-container>
                              </select>
                              <span *ngIf="createLogForm.get('sensitivity').invalid && createLogForm.get('sensitivity').touched"
                                class="invalid-feedback">
                                Sensitivity is required
                              </span>
                            </div>
                            <!--/ form group sensitivity -->
            
            
                             <!-- /.form-group -->
                           </div>
                           <!-- /.col-6 -->
                         </div>
                         <!-- /.row -->                            
                       </div>
                     </div>
                  </div>
                  <div>
                    <button type="button" mat-button matStepperNext class="btn btn-warning pull-left" (click)="cancelLogForm()" type="reset" data-dismiss="modal" aria-label="Close">Cancel</button>

                    <button type="button" mat-button matStepperNext class="btn btn-primary sw-btn-next pull-right btn-color" (click)="getLogTopics()">Next</button>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="logTopicsForm">
                <form [formGroup]="logTopicsForm">
                  <ng-template matStepLabel>Log Topic</ng-template>
                  <div id="step-2">
                    <div class="multisteps-form__content">                          
                       <div class="px-4 py-3">
                         <div class="d-flex align-items-center mb-4">
                           <div class="text-divider flex-grow-1 p-0">
                             <h4>Log Topic</h4>
                           </div>
                         </div>
            
                         <div class="row">
                           <div class="col-12" style="height:400px; overflow-y:auto;" #scrollLogTopics>
                             <table id="dtVerticalScrollExample"  class="table table-outline table-md" formArrayName="topicsList">
                               <thead>
                                 <tr>
                                   <th class="stickyTopHeader">STRING PATTERN</th>
                                   <th class="stickyTopHeader">CHARACTERIZATION TOPIC</th>
                                   <th class="stickyTopHeader">TYPE</th>
                                   <th class="text-right stickyTopHeader"><a (click)="addNewLogTopics()" data-toggle="tooltip" data-placement="top" data-original-title="Add New Log Topic"><i class="fas fa-plus"></i></a></th>

                                 </tr>
                               </thead>
                               <tbody>
                                 <tr *ngFor="let logTopics of logTopicsForm.get('topicsList')['controls'];let i=index;last as isLast">
                                  <ng-container [formGroupName]="i">
                                   <td>
                                     <input type="text"  class="form-control" value="{{logTopics.string}}" formControlName="string" required>
                          
                                   </td>
                                   <td width="200">
                                     <select class="form-control" formControlName="topic">
                                      <option value="" [disabled]="true">Select</option>
                                      
                                      <option *ngFor="let topic of logCharacterization;let i=index" value="{{topic}}" required >
                                        {{topic}}</option>
                                      
                                    </select>
                                   </td>
                                   <td width="100">
                                    <input [readonly]="true" type="text" class="form-control" value="{{logTopics.type}}" formControlName="type" required>
                                  
                                   </td>
                                   <td width="36">
                                     <a (click)="deleteLogTopic(logTopics,i)" class="text-muted"><i style="color: red !important;" class="far fa-trash-alt"></i></a>
                                   </td>
                                   <!-- <td *ngIf="isLast" width="36" class="text-right">
                                    <a (click)="addNewLogTopics()" data-toggle="tooltip" data-placement="top" data-original-title="Add New Log Topic"><i class="fas fa-plus"></i></a>
                                   </td> -->
                                   </ng-container>
                                 </tr>
                               </tbody>
                             </table>
                             <!-- /.table table-sm -->
                           </div>
                           <!-- /.col-8 -->
                         </div>
                         <!-- /.row -->
                       </div>
                     </div>
                  </div>
                  <div>
                    <button type="button" mat-button matStepperNext class="btn btn-warning pull-left" (click)="cancelLogForm()" type="reset" data-dismiss="modal" aria-label="Close">Cancel</button>
                    <button type="button" mat-button matStepperNext class="btn btn-primary sw-btn-next btn-color pull-right" style="margin-left: 10px;" (click)="getTagsList(); enableReset()">Next</button>
                    <button mat-button matStepperPrevious class="pull-right btn-color">Back</button>

                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="logTopicsForm">
                <form [formGroup]="logTopicsForm">
                  <div class="form-group mb-3 pl-5 text-muted" *ngIf = "scoringAlgoData != null " >  
                    <label>Scoring Algorithm</label>
                    <div class="d-flex  mr-5 align-items-center col-4">
                      <select class="form-control" formControlName="selectScoreAlgo"  >
                        <option value="" [disabled]="true">Select</option>
                        <option *ngFor="let scoringAlgo of scoringAlgoData.algorithms" value="{{scoringAlgo}}">{{scoringAlgo}}</option>
                      </select>
                     </div>
                  </div>
                  <ng-template matStepLabel>Log Tags</ng-template>
                  <div id="step-2">
                    <div class="multisteps-form__content">                          
                      <div class="px-4 py-3">
                        <div class="d-flex align-items-center mb-4">
                          <div class="text-divider flex-grow-1 p-0">
                            <h4>Cluster Tag</h4>
                          </div>
                        </div>

                        <div class="pl-5 row d-flex align-items-center mb-4">
                          <div class="form-group block widthfull">
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input"  id="enableClusterTags"  formControlName="enableClusterTags" (change)="onClusterChange($event.target.checked)"  >
                              <label class="custom-control-label text-muted" for="enableClusterTags">Enable Cluster Tag</label>
                            </div>
                          </div>
                        <div class="inlineFlex dropDownWidth mr-5 align-items-center" *ngIf="logTopicsForm.value['enableClusterTags'] === true">
                          <select  (change)="selectedTag($event.target.value)" class="form-control" formControlName="addedTags">
                            <option value="" [disabled]="true">Select</option>
                            <option *ngFor="let clusterTags of clusterTagList;let i=index" value="{{clusterTags.name}}">{{clusterTags.name}}</option>
                          </select>
                          <span class="ml-2 " (click)="editNewTag()" data-toggle="tooltip" data-placement="top" data-original-title="Edit Tags" *ngIf="clusterTagList.length > 0"  >
                            <a data-keyboard="false" class="btn-link" >
                              <i style="color:#4797de !important;" class="fas fa-pencil-alt"></i>
                            </a>
                          </span>
                          <span class="ml-2 " (click)="addNewTag()" data-toggle="tooltip" data-placement="top" data-original-title="Add New Tags" >
                            <a data-keyboard="false" class="btn-link">
                              <i class="fas fa-plus"></i>
                            </a>
                          </span>
                          <span class="ml-2 " (click)="removeTags()" data-toggle="tooltip" data-placement="top" data-original-title="Delete Tags"> 
                            <a data-keyboard="false" class="btn-link">
                              <i class="mt_custom-3 far fa-trash-alt"></i>
                          </a>
                          </span>
                          

                              
                        </div>

                        <div class="inlineFlex dropDownWidth mr-5 align-items-center" >
                          <input type="text" formControlName="inputTags" *ngIf = "addTagInput || editTagInput">
                          <span class="ml-10"><button (click)="submitNewTag()" *ngIf = "addTagInput " class="btn btn-primary">Add Tags</button></span>
                          <span class="ml-10"><button (click)="submitEditedTag()" *ngIf = "editTagInput" class="btn btn-primary">Edit Tags</button></span>
                        </div>
                        
                      </div>
           
                        <div class="row">
                          
                          <div *ngIf="logTopicsForm.value['enableClusterTags'] === true"  class="col-12" style="height:150px; overflow-y:auto;" #scrollLogTags>
                            <table id="dtVerticalScrollExample"  class="table table-outline table-md" formArrayName="clusterList">
                              <thead>
                                <tr>
                                  <th>Cluster Tag String</th>
                                  <th>Cluster Tag</th>
                                  <th class="text-right"><a (click)="addNewCluster()" data-toggle="tooltip" data-placement="top" data-original-title="Add New Log Cluster"><i class="fas fa-plus"></i></a></th>

                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let clusterTags of logTopicsForm.get('clusterList')['controls'];let i=index;last as isLast">
                                 <ng-container [formGroupName]="i">
                                  <td>
                                    <input type="text"  class="form-control" value="{{clusterTags.string}}" formControlName="string" required>
                                  </td>
                                  <td width="145">
                                    <select class="form-control" formControlName="tag">
                                     <option value="" [disabled]="true">Select</option>
                                     <option *ngFor="let clusterTags of clusterTagList;let i=index" value="{{clusterTags.name}}" required >
                                       {{clusterTags.name}}</option>
                                  </select>
                                  </td>
                                  <td width="20">
                                    <a (click)="deleteClusterTag(clusterTags,i)" class="text-muted"><i style="color: red !important;" class="far fa-trash-alt"></i></a>
                                  </td>
                                  <td *ngIf="isLast" width="20" class="text-right">
                                    <a (click)="addNewCluster()" data-toggle="tooltip" data-placement="top" data-original-title="Add New Log Cluster"><i class="fas fa-plus"></i></a>
                                   </td>
                                  </ng-container>
                                </tr>
                              </tbody>
                            </table>
                            <!-- /.table table-sm -->
                          </div>
                          <!-- /.col-8 -->
                        </div>
                        <!-- /.row -->
                      </div>
                    </div>
                  </div>
                  <div>
                    <button type="button" mat-button matStepperNext class="btn btn-warning pull-left" (click)="cancelLogForm()" type="reset" data-dismiss="modal" aria-label="Close">Cancel</button>
                    <button mat-button matStepperNext type="button" class="btn btn-primary sw-btn-next pull-right btn-color " (click)="SubmitForm()" style="margin-left: 10px;">Submit</button>
                    &nbsp;&nbsp;<button mat-button matStepperPrevious class="pull-right btn btn-primary btn-color">Back</button>
                  </div>
                </form>
              </mat-step>
            </mat-horizontal-stepper>
          </div>
          
        </div>
        <div id="logtemplate-editor" role="tabpanel" aria-labelledby="logtemplate-editor-tab">          
          <div class="col-12 maindiv" *ngIf = "selectedTab === 'logtemplate-editor'">
            <json-editor [options]="editorOptions" [data]="data" (change)="showJson($event)"></json-editor>
           </div> <hr>
           <div class="col-12" *ngIf = "selectedTab === 'logtemplate-editor'">
            <button class="btn btn-primary ml-2 savebtn btn btn-primary" (click)="Submitlogdata()">Save</button>
          </div> 
        </div>
    </div>