<div class="main_content p-0">
    <div class="page-content">
        <div class="row no-gutters row-fit-vh">
          <div class="col-sm-12 d-flex flex-column">
            <div class="h-100 d-flex flex-column">
                    <ul class="nav pt-2 bg-white tab-lined nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active">Applications</a>
                        </li>
                        <li class="nav-item disabledMenu">
                            <a class="nav-link">Data Sources</a>
                        </li>
                        <li class="nav-item disabledMenu">
                            <a class="nav-link">Cloud Services</a>
                        </li>
                    </ul>

                    <div class="tab-content h-100 flex-grow-1">
                        <router-outlet></router-outlet>
                    </div>
                </div>
                <!-- /.tab-lined -->
            </div>
            <!-- /.col-sm-8 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.page-content -->
</div>
<!-- /.main_content -->