<div class="tab-pane d-flex flex-column bg-white h-100 fade show active">
  <div class="page_access text-right py-2 px-3">
    <button class="btn btn-default ml-1">Cancel</button>
    <button class="btn btn-default ml-2" disabled="disabled">Save</button>
    <button class="btn btn-primary ml-2" disabled="disabled">Save & Finish</button>
  </div>
  <!-- /.page_access ml-auto -->
  <div class="setup-content">
    <div class="row">

      <!-- ###################### Tree Section Starts #####################################-->

      <div class="col-sm-3">
        <div class="sidebar-tree">
          <ul class="tree-inset  list-unstyled {{createApplicationForm.value.name !== ''?'tree-active':''}}">
            <li class="ti-title">
              <i class="{{createApplicationForm.value.name !== ''?'fas fa-check-circle':'far fa-dot-circle'}}"></i>
              <span>Application Details</span>
            </li>
            <li class="ti-item">
              <i class="{{createApplicationForm.value.name !== ''?'fas fa-check-circle':'far fa-dot-circle'}}"></i>
              <span>Application Name :</span>
              <strong>{{createApplicationForm.value.name}}</strong>
            </li>
            <li class="ti-item">
              <i class="{{createApplicationForm.value.desc !== ''?'fas fa-check-circle':'far fa-dot-circle'}}"></i>
              <span>Description :</span>
              <strong>{{createApplicationForm.value.desc}}</strong>
            </li>
            <br>
            <br>
          </ul>
          <!-- /.tree-inset -->
          <ul class="tree-inset list-unstyled {{serviceArr.serviceName !== '' ? 'tree-active' : ''}}" *ngFor="let serviceArr of servicesForm.value.services; let i = index">
            <li class="ti-title">
              <i class="{{serviceArr.serviceName !== '' ? 'fas fa-check-circle' : 'far fa-dot-circle'}}"></i>
              <span>Service {{i+1}}</span>
            </li>
            <br>
            <li class="ti-subtitle">
              <i class="{{serviceArr.serviceName !== '' ? 'fas fa-check-circle' : 'far fa-dot-circle'}}"></i>
              <span>Service name</span>
              <strong>{{serviceArr.serviceName}}</strong>
            </li>
           
              <li class="ti-subitemtitle" *ngFor = "let pipeline of serviceArr.pipeline">
                <i class="{{pipeline.pipelineType !== '' ? 'fas fa-check-circle' : 'far fa-dot-circle'}}"></i>
                <span>Service Pipeline</span>
                <strong>{{pipeline.pipelineType}}</strong>
              </li>
            
            <li class="ti-item" *ngFor = "let pipelineData of serviceArr.pipeline[0].pipelineParameter">
                <i class="{{pipelineData.value !== '' ? 'fas fa-check-circle' : 'far fa-dot-circle'}}"></i>
                <span>{{pipelineData.label}}:</span>
                <strong>{{pipelineData.value}}</strong>
            </li>
            <br>
            <br>
          </ul>
          <!-- /.tree-inset -->
          <ul class="tree-inset list-unstyled {{groupPermissionForm.value.userGroups[0].userGroup !== '' ? 'tree-active' : ''}}"
            *ngIf="groupPermissionForm.value.userGroups.length !== 0 ? true : false ">
            <li class="ti-title">
              <i class="{{groupPermissionForm.value.userGroups[0].userGroup !== '' ? 'fas fa-check-circle' : 'far fa-dot-circle'}}"></i>
              <span>Group Permissions Details</span>
            </li>
            <li class="ti-item" *ngFor="let group of groupPermissionForm.value.userGroups; let index = i">
              <i class="{{group.permission !== '' ? 'fas fa-check-circle' : 'far fa-dot-circle'}}"></i>
              <span>{{group.userGroup}} :</span>
              <strong *ngIf="group.permission !== ''? true:false">{{group.permission}}</strong>
            </li>
          </ul>
          <!-- /.tree-inset -->
          <ul class="tree-inset tree-finished list-unstyled">
            <li class="ti-title">
              <i class="{{groupPermissionForm.valid && createApplicationForm.valid && servicesForm.valid ? 'far fa-circle' : 'fas fa-circle'}}fas fa-circle"></i>
              <span>Finish Application</span>
            </li>
          </ul>
          <!-- /.tree-inset -->
        </div>
        <!-- /.sidebar-tree -->
      </div>
      <!-- /.col-sm-3 -->

      <!-- ###################### Tree Section Starts #####################################-->

      <div class="col-sm-9">
        <div class="p-3">
          <div class="row">

            <!-- ###################### Application Section Starts #####################################-->

            <div class="col-6">
              <form [formGroup]="createApplicationForm">
                <div class="form-group">
                  <label>Application Name</label>
                  <input type="text" class="form-control" formControlName="name">
                  <span *ngIf="createApplicationForm.get('name').invalid && createApplicationForm.get('name').touched"
                    class="help-block">
                    <span *ngIf="createApplicationForm.get('name').errors['required']">Application Name is
                      required</span>
                    <span *ngIf="createApplicationForm.get('name').errors['nameMatches']">Application
                      exists with same name. Please choose a unique application name</span>
                  </span>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                  <label>Application Description</label>
                  <textarea class="form-control" rows="3" formControlName="desc"></textarea>
                </div>
                <!-- /.form-group -->
              </form>
            </div>
            <!-- /.col-6 -->

            <!-- ###################### Application Section Ends #####################################-->

            <!-- ###################### Services Section Starts #####################################-->

            <div class="col-10">
              <hr class="ml-0 mt-3 mb-3" />
            </div>
            <!-- /.col-8 -->
            <div class="col-6">
              <form [formGroup]="servicesForm">
                <div class="form-group service_section">
                  <label>Services <a href="#" class="btn-link">(Add New Service)</a></label>
                 
                  <!-- /.d-flex -->

                  <div class="col-12" formArrayName="services">
                    <div class="row" *ngFor="let serviceArr of servicesForm.get('services')['controls']; let i=index">
                      <div class="col-12 " [formGroupName]="i">
                        <div class="col-12 ">
                          <hr class="ml-0 mt-3 mb-3" />
                        </div>
                        <div class="form-group pl-4 text-muted">
                          <label>Service Name</label>
                          <div class="d-flex mb-3 mr-4 align-items-center">
                            <input type="text" class="form-control" formControlName="serviceName">
                            <a class="text-muted ml-3 formarray_btn" (click)="deleteService(i)" *ngIf ="servicesForm.get('services')['controls'].length > 1 ? true : false"><i class="fas fa-trash"></i></a>
                            <a class="text-muted ml-3 formarray_btn" (click)="addService()" *ngIf ="servicesForm.get('services')['controls'].length === i+1 ? true : false"><i class="fas fa-plus"></i></a>
                          </div>
                          <!-- /.d-flex -->
                        </div>

                        <div class="col-12 " formArrayName="pipeline">
                          <div class="row"
                            *ngFor="let pipelineArr of serviceArr.get('pipeline')['controls'];let j=index">
                            <div class="col-12 " [formGroupName]="j">
                              <div class="form-group pl-5 text-muted">
                                <label>Select Service Pipeline</label>
                                <div class="d-flex mb-3 mr-5 align-items-center">
                                  <select class="form-control" formControlName="pipelineType" (change)="onPipelineSelect(i,j)">
                                    <option *ngFor="let pipelineData of pipelineExists" value="{{pipelineData.value}}">{{pipelineData.value}}</option>
                                  </select>
                                  <a class="text-muted ml-3 formarray_btn"><i class="fas fa-plus"></i></a>
                                </div>
                                <!-- /.d-flex -->
                              </div>
                              <div class="col-12 " formArrayName="pipelineParameter">
                                <div class="row" *ngFor="let pipelineParameterArr of pipelineArr.get('pipelineParameter')['controls'];let k=index">
                                  <div class="col-12 " [formGroupName]="k">
                                    <div class="form-group pl-6 text-muted">
                                      <label>{{pipelineParameterArr.get('label').value}}</label>
                                      <div class="d-flex mb-3 mr-6 align-items-center" *ngIf="pipelineParameterArr.get('label').value !== 'Environment'">
                                        <input type="text" class="form-control" formControlName="value">
                                      </div>
                                      <div class="d-flex mb-3 mr-6 align-items-center" *ngIf="pipelineParameterArr.get('label').value === 'Environment'">
                                        <select class="form-control" formControlName="value">
                                          <option *ngFor="let environmentData of environmentExists" value="{{environmentData.value}}">{{environmentData.value}}</option>
                                        </select>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <!-- /.col-6 -->

            <!-- ###################### Services Section Ends #####################################-->

            <!-- ###################### Group Permission Section Starts ###########################-->

            <div class="col-10">
              <hr class="ml-0 mt-3 mb-3" />
            </div>
            <!-- /.col-8 -->
            <div class="col-lg-8 col-12 col-xl-6">
              <div class="form-group group_permission">
                <label>Group Permissions <a class="btn-link" (click)="addGroup()">(Add New Group)</a></label>
                <div class="row" *ngIf="groupPermissionForm.value.userGroups.length !== 0 ? true : false ">
                  <div class="col-12">
                    <form [formGroup]="groupPermissionForm">
                      <div class="col-12">
                        <hr class="ml-0 mt-3 mb-3" />
                      </div>
                      <div class="col-12" formArrayName="userGroups">
                        <div class="row">
                          <div class="col-12" class="table table-outline permission_section_heading">
                            <div class="row">
                              <div class="col-4"><strong>Group</strong></div>
                              <div class="col-6"><strong>Permissions</strong></div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <hr class="ml-0 mt-3 mb-3" />
                          </div>
                        </div>
                        <div class="row"
                          *ngFor="let optionsArr of groupPermissionForm.get('userGroups')['controls'];let i=index">
                          <div class="col-md-12 permission_Section_content" [formGroupName]="i">
                            <div class="row">
                              <div class="col-md-4">
                                <input type="text" class="form-control" formControlName="userGroup">
                              </div>
                              <div class="col-md-5">
                                <select class="form-control" formControlName="permission">
                                  <option value="Read Only">Read Only</option>
                                  <option value="Read & Write">Read & Write</option>
                                  <option value="Read,Write & Execute">Read,Write & Execute</option>
                                </select>
                              </div>
                              <div class="col-md-3">
                                <button mat-icon-button class="formarray_btn" (click)="removeGroup(i)">
                                  <i class="fas fa-trash" aria-hidden="true"></i>
                                </button>
                                <button mat-icon-button
                                  *ngIf="groupPermissionForm.get('userGroups')['controls'].length === i+1 ? true : false"
                                  class="formarray_btn" (click)="addGroup()">
                                  <i class="fas fa-plus" aria-hidden="true"></i>
                                </button>
                              </div>
                            </div>
                            <br>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <!-- <table class="table table-outline">
                  <thead>
                    <tr>
                      <th>Group</th>
                      <th colspan="2">Permissions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Perm Group</td>
                      <td>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="per_rw1">
                          <label class="custom-control-label" for="per_rw1">Read & Write</label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="per_ro1">
                          <label class="custom-control-label" for="per_ro1">Read Only</label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Perm Group</td>
                      <td>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="per_rw2">
                          <label class="custom-control-label" for="per_rw2">Read & Write</label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="per_ro2">
                          <label class="custom-control-label" for="per_ro2">Read Only</label>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table> -->
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col-6 -->

            <!-- ###################### Group Permission Section Ends ###########################-->

          </div>
          <!-- /.row -->
        </div>



        <div class="p-3 bottom-strp-cover gray-strip text-right">
          <button class="btn btn-default">Cancel</button>
          <button class="btn btn-default ml-2" disabled="disabled">Save</button>
          <button class="btn btn-primary ml-2" disabled="disabled">Save & Finish</button>
        </div>
      </div>
      <!-- /.col-sm-9 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.setup-content -->
</div>