<div class="tab-content h-100 p-3 flex-grow-1">
  <div class="tab-pane d-flex flex-column bg-white h-100 fade show active">
    <div class="page_access text-right py-2 px-3">
      <button class="btn btn-default ml-1" (click)="cancelForm()">Cancel</button>
      <!-- <button class="btn btn-default ml-2" disabled="disabled">Save</button> -->
      <button class="btn btn-primary ml-2" (click)="SubmitForm()">Save & Finish</button>
    </div>
    <!-- /.page_access ml-auto -->
    <div class="setup-content">
      <div class="row">
  
        <!-- ###################### Tree Section Starts #####################################-->
  
        <div class="col-sm-3">
          <div class="sidebar-tree">
            <ul class="tree-inset  list-unstyled {{createApplicationForm.value.name !== ''?'tree-active':''}}">
              <li class="ti-title">
                <i class="{{createApplicationForm.value.name !== ''?'fas fa-check-circle':'far fa-dot-circle'}}"></i>
                <span>Application Details</span>
              </li>
              <li class="ti-item">
                <i class="{{createApplicationForm.value.name !== ''?'fas fa-check-circle':'far fa-dot-circle'}}"></i>
                <span>Application Name :</span>
                <strong>{{createApplicationForm.value.name}}</strong>
              </li>
              <li class="ti-item">
                <i class="{{createApplicationForm.value.description !== ''?'fas fa-check-circle':'far fa-dot-circle'}}"></i>
                <span>Description :</span>
                <strong>{{createApplicationForm.value.description}}</strong>
              </li>
              <li class="ti-item">
                <i class="{{createApplicationForm.value.dockerName !== ''?'fas fa-check-circle':'far fa-dot-circle'}}"></i>
                <span>Docker Name :</span>
                <strong>{{createApplicationForm.value.dockerName}}</strong>
              </li>
              <br>
              <br>
            </ul>
            <!-- /.tree-inset -->
            <ul class="tree-inset list-unstyled {{serviceArr.serviceName !== '' ? 'tree-active' : ''}}" *ngFor="let serviceArr of servicesForm.value.services; let i = index">
              <li class="ti-title">
                <i class="{{serviceArr.serviceName !== '' ? 'fas fa-check-circle' : 'far fa-dot-circle'}}"></i>
                <span>Service {{i+1}}</span>
              </li>
              <br>
              <li class="ti-item">
                <i class="{{serviceArr.serviceName !== '' ? 'fas fa-check-circle' : 'far fa-dot-circle'}}"></i>
                <span>Service name</span>
                <strong>{{serviceArr.serviceName}}</strong>
              </li>
              <!-- <li class="ti-item" *ngFor = "let pipelineData of serviceArr.pipeline[0].pipelineParameter">
                  <i class="{{pipelineData.value !== '' ? 'fas fa-check-circle' : 'far fa-dot-circle'}}"></i>
                  <span>{{pipelineData.label}}:</span>
                  <strong>{{pipelineData.value}}</strong>
              </li> -->
              <br>
              <br>
            </ul>
            <!-- /.tree-inset -->
            <ul class="tree-inset list-unstyled {{environmentForm.value.environments[0].key !== '' ? 'tree-active' : ''}}"
              *ngIf="environmentForm.value.environments.length !== 0 ? true : false ">
              <li class="ti-title">
                <i class="{{environmentForm.value.environments[0].key !== '' ? 'fas fa-check-circle' : 'far fa-dot-circle'}}"></i>
                <span>Environment Details</span>
              </li>
              <li class="ti-item" *ngFor="let env of environmentForm.value.environments; let index = i">
                <i class="{{env.value !== '' ? 'fas fa-check-circle' : 'far fa-dot-circle'}}"></i>
                <span>{{env.key}} :</span>
                <strong *ngIf="env.value !== ''? true:false">{{env.value}}</strong>
              </li>
            </ul>
            <!-- /.tree-inset -->
            <ul class="tree-inset list-unstyled {{groupPermissionForm.value.userGroups[0].userGroup !== '' ? 'tree-active' : ''}}"
              *ngIf="groupPermissionForm.value.userGroups.length !== 0 ? true : false ">
              <li class="ti-title">
                <i class="{{groupPermissionForm.value.userGroups[0].userGroup !== '' ? 'fas fa-check-circle' : 'far fa-dot-circle'}}"></i>
                <span>Group Permissions Details</span>
              </li>
              <li class="ti-item" *ngFor="let group of groupPermissionForm.value.userGroups; let index = i">
                <i class="{{group.permission !== '' ? 'fas fa-check-circle' : 'far fa-dot-circle'}}"></i>
                <span>{{group.userGroup}} :</span>
                <strong *ngIf="group.permission !== ''? true:false">{{group.permission}}</strong>
              </li>
            </ul>
            <!-- /.tree-inset -->
            <ul class="tree-inset tree-finished list-unstyled {{groupPermissionForm.valid && createApplicationForm.valid && servicesForm.valid && environmentForm.valid ? 'tree-active' : ''}}">
              <li class="ti-title">
                <i class="{{groupPermissionForm.valid && createApplicationForm.valid && servicesForm.valid ? 'fas fa-circle' : 'far fa-circle'}}"></i>
                <span>Finish Application</span>
              </li>
            </ul>
            <!-- /.tree-inset -->
          </div>
          <!-- /.sidebar-tree -->
        </div>
        <!-- /.col-sm-3 -->
  
        <!-- ###################### Tree Section Starts #####################################-->
  
        <div class="col-sm-9">
          <div class="p-3">
            <div class="row">
  
              <!-- ###################### Application Section Starts #####################################-->
  
              <div class="col-6">
                <form [formGroup]="createApplicationForm">
                  <div class="form-group">
                    <label>Application Name</label>
                    <input type="text" class="form-control" formControlName="name" [readonly]="editMode">
                    <span *ngIf="createApplicationForm.get('name').invalid && createApplicationForm.get('name').touched"
                      class="help-block">
                      <span *ngIf="createApplicationForm.get('name').errors['required']">Application Name is
                        required</span>
                      <span *ngIf="createApplicationForm.get('name').errors['applicationExist']">Application already
                        exists with same name. Please choose a unique application name</span>
                    </span>
                  </div>
                  <!-- /.form-group -->
                  <div class="form-group">
                    <label>Application Description</label>
                    <textarea class="form-control" rows="3" formControlName="description" [readonly]="editMode"></textarea>
                  </div>
                  <!-- /.form-group -->
                  <div class="form-group">
                    <label>Docker Name</label>
                    <input type="text" class="form-control" formControlName="dockerName" [readonly]="editMode">
                    <span *ngIf="createApplicationForm.get('dockerName').invalid && createApplicationForm.get('dockerName').touched"
                      class="help-block">
                      Docker Name is required
                    </span>
                  </div>
                </form>
              </div>
              <!-- /.col-6 -->
  
              <!-- ###################### Application Section Ends #####################################-->
  
              <!-- ###################### Services Section Starts #####################################-->
  
              <div class="col-10">
                <hr class="ml-0 mt-3 mb-3" />
              </div>
              <!-- /.col-8 -->
              <div class="col-6">
                <form [formGroup]="servicesForm">
                  <div class="form-group service_section">
                    <label>Services</label>
                   
                    <!-- /.d-flex -->
  
                    <div class="col-12" formArrayName="services">
                      <div class="row" *ngFor="let serviceArr of servicesForm.get('services')['controls']; let i=index">
                        <div class="col-12 " [formGroupName]="i">
                          <div class="col-12 ">
                            <hr class="ml-0 mt-3 mb-3" />
                          </div>
                          <div class="form-group mb-3 pl-4 text-muted">
                            <label>Service Name</label>
                            <div class="d-flex  mr-4 align-items-center">
                              <input type="text" class="form-control input_len" formControlName="serviceName" [readonly]="isReadonly(i)">
                              <a class="text-muted ml-3 formarray_btn"  data-toggle="tooltip" data-placement="right" title="Delete Service" 
                              (click)="deleteService(i)" *ngIf ="servicesForm.get('services')['controls'].length > 1 ? true : false">
                                <i class="fas fa-trash-alt"></i></a>
                              </div>
                              <span *ngIf="!servicesForm.get('services')['controls'][i].get('serviceName').valid && servicesForm.get('services')['controls'][i].get('serviceName').touched"
                              class="help-block">Service name is required</span>
                            <!-- /.d-flex -->
                          </div>
                          <div class="col-12 " formArrayName="pipelines">
                            <div class="row"
                              *ngFor="let pipelineArr of serviceArr.get('pipelines')['controls'];let j=index">
                              <div class="col-12 " [formGroupName]="j">
                                <div class="form-group mb-3 pl-5 text-muted">
                                  <label>Select Service Pipeline</label>
                                  <div class="d-flex  mr-5 align-items-center">
                                    <select class="form-control" formControlName="pipelinetemplate" (change)="onPipelineSelect(i,j,$event.target.value)">
                                      <option *ngFor="let pipelineData of pipelineExists" value="{{pipelineData.name}}">{{pipelineData.name}}</option>
                                    </select>
                                    <!-- <a class="text-muted ml-3 formarray_btn"><i class="fas fa-plus"></i></a> -->
                                  </div>
                                  <span *ngIf="!pipelineArr.get('pipelinetemplate').valid && pipelineArr.get('pipelinetemplate').touched"
                                  class="help-block">Pipeline is required</span>
                                </div>
                                <div class="form-group mb-3 pl-5 text-muted">
                                  <label>Cloud Account</label>
                                  <div class="d-flex  mr-5 align-items-center">
                                    <select class="form-control" formControlName="cloudAccount">
                                      <option *ngFor="let cloudData of cloudAccountExist" value="{{cloudData.name}}">{{cloudData.name}}</option>
                                    </select>
                                  </div>
                                  <span *ngIf="!pipelineArr.get('cloudAccount').valid && pipelineArr.get('cloudAccount').touched"
                                  class="help-block">Cloud Account is required</span>
                                </div>
                                <div class="form-group mb-3 pl-5 text-muted">
                                  <label>Docker Image Name</label>
                                  <div class="d-flex  mr-5 align-items-center">
                                    <input type="text" class="form-control" formControlName="dockerImageName">
                                  </div>
                                  <span *ngIf="!pipelineArr.get('dockerImageName').valid && pipelineArr.get('dockerImageName').touched"
                                  class="help-block">Docker Image Name is required</span>
                                </div>
                                <div class="col-12 " formArrayName="pipelineParameters">
                                  <div class="row" *ngFor="let pipelineParameterArr of pipelineArr.get('pipelineParameters')['controls']; let k=index">
                                    <div class="col-12 " [formGroupName]="k">
                                      <div class="form-group mb-3 pl-6 text-muted">
                                        <label>{{pipelineParameterArr.get('name').value}}</label>
                                        <div class="d-flex mr-6 align-items-center">
                                          <input *ngIf = "pipelineParameterArr.get('type').value !== 'boolean'" type="{{pipelineParameterArr.get('type').value === 'string'? 'text' : 'number'}}" 
                                          class="form-control" placeholder="{{getProperValue(i,j,k)}}" formControlName="value">
                                          <select *ngIf = "pipelineParameterArr.get('type').value === 'boolean'" class="form-control" formControlName="value">
                                            <option value="">Select</option>
                                            <option value="True">True</option>
                                            <option value="False">False</option>
                                          </select>
                                        </div>
                                        <span *ngIf="!pipelineParameterArr.get('value').valid && pipelineParameterArr.get('value').touched"
                                                class="help-block">{{pipelineParameterArr.get('name').value}} is required</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 ">
                      <hr class="ml-0 mt-3 mb-3" />
                    </div>
                    <div class="col-6">
                      <a class="btn btn-link btn-link-black" (click)="addService()">Add another Service</a>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.col-6 -->
  
              <!-- ###################### Services Section Ends #####################################-->
  
               <!-- ###################### Environment Section Starts ###########################-->
  
               <div class="col-10">
                <hr class="ml-0 mt-3 mb-3" />
              </div>
              <!-- /.col-8 -->
              <div class="col-lg-8 col-12 col-xl-6">
                <div class="form-group group_permission">
                  <label>Environments</label>
                  <div class="row" *ngIf="environmentForm.value.environments.length !== 0 ? true : false ">
                    <div class="col-12">
                      <form [formGroup]="environmentForm">
                        <div class="col-12">
                          <hr class="ml-0 mt-3 mb-3" />
                        </div>
                        <div class="col-12" formArrayName="environments">
                          <div class="row">
                            <div class="col-12" class="table permission_section_heading">
                              <div class="row">
                                <div class="col-4 table-head"><strong>Key</strong></div>
                                <div class="col-6 table-head"><strong>Value</strong></div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <hr class="ml-0 mt-3 mb-3" />
                            </div>
                          </div>
                          <div class="row"
                            *ngFor="let optionsArr of environmentForm.get('environments')['controls'];let i=index">
                            <div class="col-md-12 permission_Section_content" [formGroupName]="i">
                              <div class="row">
                                <div class="col-md-4">
                                  <input type="text" class="form-control" formControlName="key">
                                  <span *ngIf="!environmentForm.get('environments')['controls'][i].get('key').valid && environmentForm.get('environments')['controls'][i].get('key').touched"
                                  class="help-block">Key is required</span>
                                </div>
                                <div class="col-md-5">
                                  <input type="text" class="form-control" formControlName="value">
                                  <span *ngIf="!environmentForm.get('environments')['controls'][i].get('value').valid && environmentForm.get('environments')['controls'][i].get('value').touched"
                                  class="help-block">Value is required</span>
                                </div>
                                <div class="col-md-1">
                                  <a class="text-muted formarray_btn"  data-toggle="tooltip" data-placement="right" title="Delete"
                                  (click)="removeEnvironment(i)">
                                    <i class="mt_custom-3 fas fa-trash-alt"></i></a>
                                </div>
                              </div>
                              <br>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-12">
                    <hr class="ml-0 mt-3 mb-3" />
                  </div>
                  <div class="col-6">
                    <a class="btn btn-link btn-link-black" (click)="addEnvironment()">{{environmentForm.value.environments.length !== 0 ? 'Add another Environment' : 'Add Environment' }}</a>
                  </div>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col-6 -->
  
              <!-- ###################### Environment Section Ends ###########################-->
  
              <!-- ###################### Group Permission Section Starts ###########################-->
  
              <div class="col-10">
                <hr class="ml-0 mt-3 mb-3" />
              </div>
              <!-- /.col-8 -->
              <div class="col-lg-8 col-12 col-xl-6">
                <div class="form-group group_permission">
                  <label>Group Permissions</label>
                  <div class="row" *ngIf="groupPermissionForm.value.userGroups.length !== 0 ? true : false ">
                    <div class="col-12">
                      <form [formGroup]="groupPermissionForm">
                        <div class="col-12">
                          <hr class="ml-0 mt-3 mb-3" />
                        </div>
                        <div class="col-12" formArrayName="userGroups">
                          <div class="row">
                            <div class="col-12" class="table permission_section_heading">
                              <div class="row">
                                <div class="col-4 table-head"><strong>Group</strong></div>
                                <div class="col-6 table-head"><strong>Permissions</strong></div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <hr class="ml-0 mt-3 mb-3" />
                            </div>
                          </div>
                          <div class="row"
                            *ngFor="let optionsArr of groupPermissionForm.get('userGroups')['controls'];let i=index">
                            <div class="col-md-12 permission_Section_content" [formGroupName]="i">
                              <div class="row">
                                <div class="col-md-4">
                                  <input type="text" class="form-control" formControlName="userGroup">
                                  <span *ngIf="!groupPermissionForm.get('userGroups')['controls'][i].get('userGroup').valid && groupPermissionForm.get('userGroups')['controls'][i].get('userGroup').touched"
                                  class="help-block">Group name is required</span>
                                </div>
                                <div class="col-md-5">
                                  <select class="form-control" formControlName="permission">
                                    <option value="Read Only">Read Only</option>
                                    <option value="Read & Write">Read & Write</option>
                                    <option value="Read,Write & Execute">Read,Write & Execute</option>
                                  </select>
                                  <span *ngIf="!groupPermissionForm.get('userGroups')['controls'][i].get('permission').valid && groupPermissionForm.get('userGroups')['controls'][i].get('permission').touched"
                                  class="help-block">Permission is required</span>
                                </div>
                                <div class="col-md-1">
                                  <a class="text-muted formarray_btn"  data-toggle="tooltip" data-placement="right" title="Delete" 
                                  (click)="removeGroup(i)">
                                    <i class="mt_custom-3 fas fa-trash-alt"></i></a>
                                </div>
                              </div>
                              <br>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-12">
                    <hr class="ml-0 mt-3 mb-3" />
                  </div>
                  <div class="col-6">
                    <a class="btn btn-link btn-link-black" (click)="addGroup()">{{groupPermissionForm.value.userGroups.length !== 0 ? 'Add another Group' : 'Add Group' }}</a>
                  </div>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col-6 -->
  
              <!-- ###################### Group Permission Section Ends ###########################-->
  
            </div>
            <!-- /.row -->
          </div>
  
  
  
          <div class="p-3 bottom-strp-cover gray-strip text-right">
            <button class="btn btn-default" (click)="cancelForm()">Cancel</button>
            <!-- <button class="btn btn-default ml-2" disabled="disabled">Save</button> -->
            <button class="btn btn-primary ml-2" (click)="SubmitForm()">Save & Finish</button>
          </div>
        </div>
        <!-- /.col-sm-9 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.setup-content -->
  </div>
</div>
