<div class="tab-pane d-flex flex-column bg-white h-100 fade show active">
  <div class="page_access text-right py-2 px-3">
    <button class="btn btn-default ml-1">Cancel</button>
    <button class="btn btn-default ml-2" disabled="disabled">Save</button>
    <button class="btn btn-primary ml-2" disabled="disabled">Save & Finish</button>
  </div>
  <!-- /.page_access ml-auto -->
  <div class="setup-content">
    <div class="row">
      <div class="col-sm-3">
        <div class="sidebar-tree">
          <ul class="tree-inset  list-unstyled {{createApplicationForm.value.name !== ''?'tree-active':''}}">
            <li class="ti-title">
              <i class="{{createApplicationForm.value.name !== ''?'fas fa-check-circle':'far fa-dot-circle'}}"></i>
              <span>Application Details</span>
            </li>
            <li class="ti-item">
              <i class="{{createApplicationForm.value.name !== ''?'fas fa-check-circle':'far fa-dot-circle'}}"></i>
              <span>Application Name :</span>
              <strong>{{createApplicationForm.value.name}}</strong>
            </li>
            <li class="ti-item">
              <i class="{{createApplicationForm.value.desc !== ''?'fas fa-check-circle':'far fa-dot-circle'}}"></i>
              <span>Description :</span>
              <strong>{{createApplicationForm.value.desc}}</strong>
            </li>
          </ul>
          <!-- /.tree-inset -->
          <ul class="tree-inset tree-active list-unstyled">
            <li class="ti-title">
              <i class="fas fa-check-circle"></i>
              <span>Service 1</span>
            </li>
            <li class="ti-item">
              <i class="fas fa-check-circle"></i>
              <span>Service Name:</span>
              <strong>Rest Service</strong>
            </li>
            <li class="ti-item">
              <i class="fas fa-check-circle"></i>
              <span>Log Template:</span>
              <strong>MyFirst_Log_Temp</strong>
            </li>
            <li class="ti-item">
              <i class="fas fa-check-circle"></i>
              <span>Metric Template :</span>
              <strong>datadog_metrictempQATest</strong>
            </li>
          </ul>
          <!-- /.tree-inset -->
          <ul class="tree-inset tree-active list-unstyled">
            <li class="ti-title">
              <i class="far fa-check-circle"></i>
              <span>Service 2</span>
            </li>
            <li class="ti-item">
              <i class="far fa-dot-circle"></i>
              <span>Service Name:</span>
            </li>
            <li class="ti-item">
              <i class="far fa-dot-circle"></i>
              <span>Log Template</span>
            </li>
            <li class="ti-item">
              <i class="far fa-dot-circle"></i>
              <span>Metrics Template:</span>
            </li>
          </ul>
          <!-- /.tree-inset -->
          <ul class="tree-inset list-unstyled tree-active"
            *ngIf="groupPermissionForm.value.userGroups.length !== 0 ? true : false ">
            <li class="ti-title">
              <i class="fas fa-check-circle"></i>
              <span>Group Permissions Details</span>
            </li>
            <li class="ti-item" *ngFor="let group of groupPermissionForm.value.userGroups; let index = i">
              <i class="{{group.permission !== '' ? 'fas fa-check-circle' : 'far fa-dot-circle'}}"></i>
              <span>{{group.userGroup}} :</span>
              <strong
                *ngIf="group.permission !== ''? true:false">{{group.permission == 1?'Read Only':'Read & Write'}}</strong>
            </li>
          </ul>
          <!-- /.tree-inset -->
          <ul class="tree-inset tree-finished list-unstyled">
            <li class="ti-title">
              <i class="fas fa-circle"></i>
              <span>Finish Application</span>
            </li>
          </ul>
          <!-- /.tree-inset -->
        </div>
        <!-- /.sidebar-tree -->
      </div>
      <!-- /.col-sm-3 -->
      <div class="col-sm-9">
        <div class="p-3">
          <div class="row">
            <div class="col-6">
              <form [formGroup]="createApplicationForm">
                <div class="form-group">
                  <label>Application Name</label>
                  <input type="text" class="form-control" formControlName="name">
                  <span *ngIf="createApplicationForm.get('name').invalid && createApplicationForm.get('name').touched"
                    class="help-block">
                    <span *ngIf="createApplicationForm.get('name').errors['required']">Application Name is
                      required</span>
                    <span *ngIf="createApplicationForm.get('name').errors['nameMatches']">Application
                      exists with same name. Please choose a unique application name</span>
                  </span>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                  <label>Application Description</label>
                  <textarea class="form-control" rows="3" formControlName="desc"></textarea>
                </div>
                <!-- /.form-group -->
              </form>
            </div>
            <!-- /.col-6 -->

            <div class="col-10">
              <hr class="ml-0 mt-3 mb-3" />
            </div>
            <!-- /.col-8 -->
            <div class="col-6">
              <div class="form-group text-muted">
                <label>Select Service <a href="#" class="btn-link">(Add New Service)</a></label>
                <div class="d-flex mb-3 mr-4 align-items-center">
                  <select class="form-control">
                    <option>Rest Service</option>
                  </select>
                  <a href="#" class="text-muted ml-3"><i class="fas fa-pencil-alt"></i></a>
                </div>
                <!-- /.d-flex -->

                <div class="form-group pl-4 text-muted">
                  <label>Select Log Template <a href="#" class="btn-link">(Add New Log Template)</a></label>
                  <div class="d-flex align-items-center">
                    <select class="form-control">
                      <option>MyFirst_LogTemp</option>
                    </select>
                    <a href="#" class="text-muted ml-3"><i class="fas fa-pencil-alt"></i></a>
                  </div>
                  <!-- /.d-flex -->
                </div>

                <div class="form-group pl-4 text-muted">
                  <label>Select Metric Template <a href="#" class="btn-link">(Add New Metric Template)</a></label>
                  <div class="d-flex align-items-center">
                    <select class="form-control">
                      <option>datadog_metrictempQATest</option>
                    </select>
                    <a href="#" class="text-muted ml-3"><i class="fas fa-pencil-alt"></i></a>
                  </div>
                  <!-- /.d-flex -->
                </div>
              </div>
            </div>
            <!-- /.col-6 -->


            <div class="col-10">
              <hr class="ml-0 mt-3 mb-3" />
            </div>
            <!-- /.col-8 -->
            <div class="col-lg-8 col-12 col-xl-6">
              <div class="form-group">
                <label>Group Permissions <a class="btn-link" href="#">(Add New Group)</a></label>
                <table class="table table-outline">
                  <thead>
                    <tr>
                      <th>Group</th>
                      <th colspan="2">Permissions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Perm Group</td>
                      <td>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="per_rw1">
                          <label class="custom-control-label" for="per_rw1">Read & Write</label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="per_ro1">
                          <label class="custom-control-label" for="per_ro1">Read Only</label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Perm Group</td>
                      <td>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="per_rw2">
                          <label class="custom-control-label" for="per_rw2">Read & Write</label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="per_ro2">
                          <label class="custom-control-label" for="per_ro2">Read Only</label>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col-6 -->

          </div>
          <!-- /.row -->
        </div>

        <div class="row">
          <div class="col-md-12">
            <form [formGroup]="groupPermissionForm">
              <div class="col-10">
                <hr class="ml-0 mt-3 mb-3" />
              </div>
              <div class="col-md-12" formArrayName="userGroups">
                <div class="row"
                  *ngFor="let optionsArr of groupPermissionForm.get('userGroups')['controls'];let i=index">
                  <div class="col-md-12" [formGroupName]="i">
                    <div class="row">
                      <div class="col-md-2">
                        <input type="text" class="form-control" formControlName="userGroup"
                          style="border: none;background-color: transparent;">
                      </div>
                      <div class="col-md-2">
                        <select class="form-control" formControlName="permission">
                          <option value="1">Read Only</option>
                          <option value="2">Read & Write</option>
                        </select>
                      </div>
                      <div class="col-md-2">
                        <button mat-icon-button class="formarray_btn" (click)="removeGroup(i)">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                        <button mat-icon-button *ngIf="groupPermissionForm.get('userGroups')['controls'].length === i+1 ? true : false" class="formarray_btn" (click)="addGroup()">
                          <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                    <br>
                  </div>
                </div>
              </div>
              <div class="col-10">
                <hr class="ml-0 mt-3 mb-3" />
              </div>
            </form>
          </div>
        </div>

        <div class="p-3 bottom-strp-cover gray-strip text-right">
          <button class="btn btn-default">Cancel</button>
          <button class="btn btn-default ml-2" disabled="disabled">Save</button>
          <button class="btn btn-primary ml-2" disabled="disabled">Save & Finish</button>
        </div>
      </div>
      <!-- /.col-sm-9 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.setup-content -->
</div>