 <!-- *ngIf="showApplicationForm" -->
              <div class="col-md-12">
                   <!-- [formGroup]="createApplicationForm" -->
                <form>
                  <div class="form-group">
                        <opsmx-input [params]="applicationNameParams" ></opsmx-input>
                        <opsmx-input [params]="applicationDescriptionParams" ></opsmx-input>
                        <opsmx-input [params]="applicationEmailParams" ></opsmx-input>
                        <opsmx-select [params]="imageSourceParams" ></opsmx-select>
                        <!-- <input type="text" appLowercase tooltip="test"  tooltip-trigger="focus" tooltip-placement="right" class="form-control" [readonly]="editMode || applicationId" formControlName="name"  [ngClass]="createApplicationForm.get('name').invalid && createApplicationForm.get('name').touched ? 'is-invalid':''">
                        <span *ngIf="createApplicationForm.get('name').invalid && createApplicationForm.get('name').touched"
                      class="invalid-feedback">
                            <span *ngIf="createApplicationForm.get('name').errors['required']">Application Name is
                            required</span>
                            <span *ngIf="createApplicationForm.get('name').errors['nameExists']">Application already
                                exists with same name. Please choose a unique application name</span>
                            <span *ngIf="createApplicationForm.get('name').errors['containSpace']">Space is not allowed in application name</span>
                            <span *ngIf="createApplicationForm.get('name').errors['startingFromNumber']">The application name must begin with a letter.</span>
                            <span *ngIf="createApplicationForm.get('name').errors['symbols']">No Special characters are allowed.</span>
                        </span> -->
                  </div>
                </form><br>

<!-- *ngIf="showApplicationForm" -->
                 <div class="col-8 pull-right"  >
                  <div class="page_access text-right py-2 px-3">
                    <!-- *ngIf="editMode" (click)="SubmitApplicationForm()" -->
                    <!-- <button class="btn btn-primary ml-2" >Update & Next</button> -->
                    <!-- *ngIf="!editMode"  [disabled]="createApplicationForm.invalid" -->
                     <!-- (onClick)="canceSaveTagClick()" -->
                    <opsmx-button  [params]="applicationDetailsUpdateParams"></opsmx-button>
                    <!-- (click)="SubmitApplicationForm()" -->
                    <button class="btn btn-default ml-1">Cancel</button>
                    <!--  (click)="cancelForm()" -->
                    <!-- <button class="btn btn-default ml-2" disabled="disabled">Save</button> -->
                   
                  </div>
                </div>
              
                <!-- /.form-group -->


              </div>
              