 <!-- *ngIf="showApplicationForm" -->
              <div class="col-md-12">
                   <!-- [formGroup]="createApplicationForm" -->
                <form>
                  <div class="form-group" *ngIf="appDetailService.isParamsLoaded">
                        <opsmx-input [params]="appDetailService.applicationNameParams" ></opsmx-input>
                        <opsmx-input [params]="appDetailService.applicationDescriptionParams" ></opsmx-input>
                        <opsmx-input [params]="appDetailService.applicationEmailParams" ></opsmx-input>
                        <opsmx-select [params]="appDetailService.imageSourceParams" ></opsmx-select>
                        <!-- <input type="text" appLowercase tooltip="test"  tooltip-trigger="focus" tooltip-placement="right" class="form-control" [readonly]="editMode || applicationId" formControlName="name"  [ngClass]="createApplicationForm.get('name').invalid && createApplicationForm.get('name').touched ? 'is-invalid':''">
                        <span *ngIf="createApplicationForm.get('name').invalid && createApplicationForm.get('name').touched"
                      class="invalid-feedback">
                            <span *ngIf="createApplicationForm.get('name').errors['required']">Application Name is
                            required</span>
                            <span *ngIf="createApplicationForm.get('name').errors['nameExists']">Application already
                                exists with same name. Please choose a unique application name</span>
                            <span *ngIf="createApplicationForm.get('name').errors['containSpace']">Space is not allowed in application name</span>
                            <span *ngIf="createApplicationForm.get('name').errors['startingFromNumber']">The application name must begin with a letter.</span>
                            <span *ngIf="createApplicationForm.get('name').errors['symbols']">No Special characters are allowed.</span>
                        </span> -->
                  </div>
                </form><br>

                  <!-- *ngIf="showApplicationForm" -->
                 <div class="pull-right"  *ngIf="appDetailService.isParamsLoaded">
                   <div class="mr-3 alignBtnRight">
                    <opsmx-button [params]="appDetailService.applicationDetailsCancelParams" (click)="cancelForm()"></opsmx-button>
                  </div>
                   <div class="alignBtnRight">
                    <opsmx-button [params]="appDetailService.applicationDetailsSaveParams" (click)="submitApplicationForm()" *ngIf="!checkEditMode" class="detailsButton"></opsmx-button>
                    <opsmx-button [params]="appDetailService.applicationDetailsUpdateParams" (click)="updateApplicationForm()" *ngIf="checkEditMode"></opsmx-button>
                  </div>



                  <!-- <div class="float-right">
                    <button mat-button matStepperPrevious class="btn btn-secondary default-border">Back</button>&nbsp;&nbsp;&nbsp;
                    <button mat-button (click)="submit()" class="btn btn-primary">Submit</button>
                  </div>

                  <div class="float-left" style="margin-left: 10px;">
                      <opsmx-button *ngIf="addEditClusterTagInput" [params]="service.saveTagButtonParams" (onClick)="submit()">
                      </opsmx-button>
                  </div>
                  <div class="float-left" style="margin-left: 10px;">
                      <opsmx-button *ngIf="addEditClusterTagInput" [params]="service.cancelSaveTagButtonParams"
                          (onClick)="canceSaveTagClick()"></opsmx-button>
                  </div> -->


                </div>
              
                <!-- /.form-group -->


              </div>
              